{{define "footer"}}
<br><hr>ggjhkghjkgjhkgjkh
<footer>
  <div class="fixed-bottom">
    <div style="background-color: var(--custom-light-grey);padding:.2rem;padding-left:.3rem;">
      <div class="font-weight-light text-muted" style="font-size:70%;">
{{if .DateSyncIssue}}&nbsp{{.DateSyncIssue}}&nbsp&nbsp{{end}}
{{.AppServerName}}

&nbsp|&nbsp
{{.AppServerDate}}
&nbsp|&nbsp
{{.SienaName}}
&nbsp|&nbsp
{{if .DateSyncIssue}}<strong>{{end}}
{{.SienaDate}}
{{if .DateSyncIssue}}</strong>{{end}}
&nbsp|&nbsp
{{.UserName}}
      </div>
    </div>
  </div>
</footer>
{{end}}