{{define "header"}}

<head>
    <!-- START OF INSERTS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- FAVICON BUMPF -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#322a77">
    <meta name="msapplication-TileColor" content="#322a77">
    <meta name="theme-color" content="#ffffff">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- Add CUSTOM ICONS, FONTS & STYLES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/custom.css">
    <script src="../assets/custom.js"></script>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></link>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <!-- END OF INSERTS -->
    <div class="row nav-row">
        <span onclick="openNav()"><i class="fas fa-atom fa-2x hamburger" style="padding:0;margin-left:.5rem;margin-right:.5rem"></i></span>
        <div class="nav-title"><a href="" onclick="/home/" class="nav-title">{{.PageTitle}}</a></div>
    </div>
    <div id="mySidenav" class="sidenav">
        <div class="nav-tile">{{ (index .UserMenu 0).MenuHeaderText}}</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {{range .UserMenu}}
        <a class="" href="{{.MenuHREF}}" onclick="{{.MenuOnClick}}">
            <div class="row">
                <div class="dd-img"><i class="{{.MenuGlyph}} {{.MenuTextClass}}"></i></div>
                <div class="dd-text {{.MenuTextClass}}">{{.MenuText}}</div>
            </div>
        </a>{{end}}
    </div>
    <!-- ADDITION STYLES IN SPECIFIC INSTANCES -->
    <title>{{.PageTitle}}</title>
    <!-- DO NOT CHANGE -->
</head>{{end}} {{define "footer"}}

<footer>
    <div class="fixed-bottom">
        <div style="background-color: var(--custom-light-grey);padding:.2rem;padding-left:.3rem;">
            <div class="font-weight-light text-muted" style="font-size:70%;">
                {{.SessionInfo.HostName}} | {{.SessionInfo.AppDB}} | {{.SessionInfo.UserName}} | {{.SessionInfo.AppServerDate}}
            </div>
        </div>
    </div>
</footer>
{{end}} {{define "audit"}}
<span style="width:100px; height:5px;"></span>
<p>
    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-eye"></i>&nbsp;Audit Information
        </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="auditheader">Audit Information</div>
    <div class="auditbody">
        <div class="row audittitle">
            <div class="col">Action</div>
            <div class="col">When</div>
            <div class="col">Who</div>
            <div class="col">Where</div>
        </div>
        <div class="row">
            <div class="col">Created</div>
            <div class="col">{{.SYSCreated}}</div>
            <div class="col">{{.SYSCreatedBy}}</div>
            <div class="col">{{.SYSCreatedHost}}</div>
        </div>
        <div class="row">
            <div class="col">Updated</div>
            <div class="col">{{.SYSUpdated}}</div>
            <div class="col">{{.SYSUpdatedBy}}</div>
            <div class="col">{{.SYSUpdatedHost}}</div>
        </div>
    </div>
    <br><br>
</div>
{{end}}