{{template "header" .}}

  <div class="container-fluid">
    <form action="/BookSave?Book={{.BookName}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.BookName}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/BookSave/?Book={{.BookName}}" onclick="/BookSave/?Book={{.BookName}}"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
        <br><h4>Identification</h4>
            <div class="row">
              <div class="col-sm">
                <label for="BookName" >Name</label>
                <input type="text" class="form-control" id="BookName" name="BookName" aria-describedby="BookNameHelp" placeholder=""  value="{{.BookName}}" required maxlength="4">
              </div>
      
              <div class="col-sm">
                <label for="FullName" >FullName</label>
                <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""  value="{{.FullName}}" maxlength="30">
              </div>
            </div>
            <br><h4>Profit &amp; Loss</h4>
            <div class="row">
              <div class="col-sm">
                <label for="PLManage" >Manage P&amp;L</label>
                <input type="text" class="form-control" id="PLManage" name="PLManage" aria-describedby="PLManageHelp" placeholder=""  value="{{.PLManage}}" >
              </div>
              <div class="col-sm">
                <label for="PLTransfer" >Transfer P&amp;L</label>
                <input type="text" class="form-control" id="PLTransfer" name="PLTransfer" aria-describedby="PLTransferHelp" placeholder=""  value="{{.PLTransfer}}" >
              </div>
              <div class="col-sm">
                <label for="DerivePL" >Dervice P&amp;L</label>
              
                           <select id="DerivePL" class="form-control">
                <option selected>{{.DerivePL}}</option>
                <option>true</option>
                 <option>false</option>
                </select>
              </div>
            </div>
                        <br><h4>Cost of Carry</h4>

            <div class="row">
              <div class="col-sm">
                <label for="CostOfCarry" >Cost of Carry</label>
                 <select id="CostOfCarry" class="form-control">
                <option selected>{{.CostOfCarry}}</option>
                <option>true</option>
                 <option>false</option>
                </select>
              
              </div>
          
              <div class="col-sm">
                <label for="CostOfFunding" >Cost of Funding</label>
                <select id="CostOfFunding" class="form-control">
                <option selected>{{.CostOfFunding}}</option>
                <option>true</option>
                 <option>false</option>
                </select>

              </div>
            </div>
            
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
  </body>
