  {{template "header" .}}
<body>


  <div class="container-fluid">
    <form action="/BookEdit?Book={{.BookName}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.BookName}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/BookEdit/?Book={{.BookName}}" onclick="/BookEdit/?Book={{.BookName}}"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
        <br>
        <h4>Identification</h4>
            <div class="row">
              <div class="col-sm">
                <label for="BookName">Name</label>
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled="disabled" value="{{.BookName}}" maxlength="4" size="4">
              </div>
    
              <div class="col-sm">
                <label for="FullName">Full Name</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled="disabled" value="{{.FullName}}">
              </div>
            </div>
<br><h4>Profit &amp; Loss</h4>
           
            <div class="row">
              <div class="col-sm">
                <label for="PLManage">Manage P&amp;L</label>
                <input type="text" class="form-control" id="PLManage" aria-describedby="PLManageHelp" placeholder="" disabled="disabled" value="{{.PLManage}}">
              </div>
           
              <div class="col-sm">
                <label for="PLTransfer">Transfer P&amp;L</label>
                <input type="text" class="form-control" id="PLTransfer" aria-describedby="PLTransferHelp" placeholder="" disabled="disabled" value="{{.PLTransfer}}">
              </div>
     
              <div class="col-sm">
                <label for="DerivePL">Derive P&amp;L</label>
                <input type="text" class="form-control" id="DerivePL" aria-describedby="DerivePLHelp" placeholder="True" disabled="disabled" value="{{.DerivePL}}">
              </div>
            </div>
            <br><h4>Cost of Carry</h4>
            <div class="row">
              <div class="col-sm">
                <label for="CostOfCarry">Cost of Carry</label>
                <input type="text" class="form-control" id="CostOfCarry" aria-describedby="CostOfCarryHelp" placeholder="True" disabled="disabled" value="{{.CostOfCarry}}">
              </div>
          
              <div class="col-sm">
                <label for="CostOfFunding">Cost of Funding</label>
                <input type="text" class="form-control" id="CostOfFunding" aria-describedby="CostOfFundingHelp" placeholder="True" disabled="disabled" value="{{.CostOfFunding}}">
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>

  {{template "footer" .}}</body>
