  {{template "header" .}}

<body>

  

  <div class="container-fluid">
    <div class="card">

      <div class="card-header font-weight-bold">
     
        <div class="row">
   
          <div class="col">
            <img src="../assets/siena.png" alt="Siena" style="width:1.75rem;margin-right:.5rem;">
            {{.Title}}&nbsp;:&nbsp;<code>{{.NameFirm}}&#8942;{{.NameCentre}}</code>
          </div>

            <div class="col text-right">
            <form style="padding:0;margin:0;">
              <div class="btn-group text-right">
                <button type="submit" value="" class="btn btn-warning" formaction="/CounterpartyEdit/?ID={{.CompID}}" method="POST"><i class="fa fa-user"></i>&nbsp;&nbsp;Edit Counterparty</button>
                <button type="submit" value="" class="btn btn-warning" formaction="/CounterpartyAddressEdit/?ID={{.CompID}}" method="POST"><i class="fas fa-map-signs"></i>&nbsp;&nbsp;Edit Address</button>
                <button type="submit" value="" class="btn btn-warning" formaction="/CounterpartyExtensionsEdit/?ID={{.CompID}}" method="POST"><i class="fas fa-passport"></i>&nbsp;&nbsp;Edit Additional</button>
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button id="close" type="button" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
              </div>
              </form>
             </div>
    
        </div>

   
      </div>

      <div class="card-body">

        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-user"></i><br>Home<br>&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fas fa-map-signs"></i><br>Address<br>&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mandates-tab" data-toggle="tab" href="#mandates" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-user-check"></i><br>Mandates&nbsp;<span
                class="badge badge-primary">{{.NoMandates}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payee-tab" data-toggle="tab" href="#payee" role="tab" aria-controls="payee" aria-selected="false"><i class="fas fa-wallet"></i><br>Payees<br><span class="badge badge-primary">{{.NoPayees}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="contact" aria-selected="false"> <i class="fas fa-landmark"></i><br>Accounts&nbsp;<span class="badge badge-primary">{{.NoAccounts}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-passport"></i><br>Additional<br>&nbsp;</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" id="imports-tab" data-toggle="tab" href="#imports" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-file-import"></i><br>Import<br><span class="badge badge-primary">{{.NoImports}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="txn-tab" data-toggle="tab" href="#txn" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-shopping-basket"></i>
              <br>Deals<br><span class="badge badge-primary">{{.NoTxns}}</span></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



            <div class="row">
              <div class="col-sm">
                <label for="FullName">Name</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullName" placeholder="<<BLANK>>" disabled="disabled" value="{{.FullName}}" maxlength="30">
              </div>
            </div>

            <div class="row">

              <div class="col-sm">
                <label for="NameFirm">Firm</label>
                <input type="text" class="form-control" id="NameFirm" name="NameFirm" aria-describedby="NameFirm" placeholder="<<BLANK>>" disabled="disabled" value="{{.NameFirmName}}" maxlength="11">
              </div>
              <div class="col-sm">
                <label for="NameCentre">Centre</label>

                <select class="custom-select" id="NameCentre" name="NameCentre" required="required" disabled>
                  <option id="{{.NameCentre}}" selected="selected">{{.NameCentreName}}</option>

                </select>

              </div>
              <div class="col-sm">
                <label for="CpartyGroupName">Group</label>

                <select class="custom-select" id="CpartyGroupName" name="CpartyGroupName" required="required" disabled>
                  <option id="{{.CpartyGroupName}}" selected="selected">{{.CpartyGroupName}}</option>

                </select>

              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="CustomerType">Type</label>
                <input type="CustomerType" class="form-control" id="CustomerType" name="CustomerType" aria-describedby="CustomerType" placeholder="<<BLANK>>" value="{{.CustomerType}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="CountryCode">Country</label>

                <select class="custom-select" id="CountryCode" name="CountryCode" required="required" disabled>
                  <option id="{{.CountryCodeName}}" selected="selected">{{.CountryCodeName}}</option>

                </select>
              </div>

              <div class="col-sm">
                <label for="SectorCode">Sector</label>

                <select class="custom-select" id="SectorCode" name="SectorCode" required="required" disabled>
                  <option id="{{.SectorCode}}" selected="selected">{{.SectorCodeName}}</option>

                </select>
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="TelephoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber" aria-describedby="TelephoneNumber" placeholder="<<BLANK>>" value="{{.TelephoneNumber}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="EmailAddress">Email Address</label>
                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="EmailAddress" placeholder="<<BLANK>>" value="{{.EmailAddress}}" required disabled>
              </div>

            </div>
            <div class="row">

              <div class="col-sm">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" id="Notes" name="Notes" aria-describedby="Notes" placeholder="<<BLANK>>" value="{{.Notes}}" required disabled>
              </div>

            </div>

          </div>


          <div class="tab-pane fade" id="payee" role="tabpanel" aria-labelledby="payee-tab">
            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyPayeeTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Full Name</th>
                      <th class="text-center">Currency</th>
                      <th class="text-center">Payee ID</th>
                      <th class="text-center">Status</th>
                      <th class="text-center" style="width:5%;">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .PayeeList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.FullName}}</td>
                      <td class="align-middle text-center">{{.KeyCurrency}}</td>
                      <td class="align-middle">{{.KeyName}}</td>
                      <td class="align-middle text-center"><span class="badge badge-pill {{if eq .Status_Extra "Pending"}}badge-warning{{else}}badge-success{{end}}">{{.Status_Extra}}</span></td>

                      <td class="" style="width:5%;">

                        <div class="btn-group float-right">
                          <button type="submit" value="" class="btn btn-info"
                            formaction="/PayeeViewItem?csrc={{.SourceTable}}&cfrm={{.KeyCounterpartyFirm}}&ccen={{.KeyCounterpartyCentre}}&cccy={{.KeyCurrency}}&cnam={{.KeyName}}&cnum={{.KeyNumber}}&cdir={{.KeyDirection}}&ctyp={{.KeyType}}"
                            method="POST">
                            <i class="far fa-eye"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-warning"
                            formaction="/PayeeViewItem?csrc={{.SourceTable}}&cfrm={{.KeyCounterpartyFirm}}&ccen={{.KeyCounterpartyCentre}}&cccy={{.KeyCurrency}}&cnam={{.KeyName}}&cnum={{.KeyNumber}}&cdir={{.KeyDirection}}&ctyp={{.KeyType}}"
                            method="POST">
                            <i class="far fa-edit"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>



          </div>



          <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">



            <div class="row">

              <div class="col-sm">
                <label for="Address1">Address</label>
                <input type="text" class="form-control" id="Address1" name="Address1" aria-describedby="Address1" placeholder="<<BLANK>>" value="{{.Address1}}" required disabled>
              </div>


            </div>
            <div class="row">

              <div class="col-sm">
                <label for="Address2">Address</label>
                <input type="text" class="form-control" id="Address2" name="Address2" aria-describedby="Address2" placeholder="<<BLANK>>" value="{{.Address2}}" required disabled>
              </div>

            </div>
            <div class="row">

              <div class="col-sm">
                <label for="CityTown">City/Town</label>
                <input type="text" class="form-control" id="CityTown" name="CityTown" aria-describedby="CityTown" placeholder="<<BLANK>>" value="{{.CityTown}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="County">County</label>
                <input type="County" class="form-control" id="County" name="County" aria-describedby="County" placeholder="<<BLANK>>" value="{{.County}}" required disabled>
              </div>

              <div class="col-sm">
                <label for="PostCode">Post Code</label>
                <input type="text" class="form-control" id="PostCode" name="PostCode" aria-describedby="PostCode" placeholder="<<BLANK>>" value="{{.Postcode}}" required disabled>
              </div>

            </div>




          </div>


          <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
            {{range .ExtensionsList}}




            <br>
            <h2>Regulatory</h2>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerCategory">Customer Category</label>
                <input type="text" class="form-control" id="CustomerCategory" aria-describedby="CustomerCategory" placeholder="<<BLANK>>" value="{{.CustomerCategory}}" maxlength="30" disabled>
              </div>
              <div class="col-sm">
                <label for="RegulatoryCategory">Regulatory Category</label>
                <input type="text" class="form-control" id="RegulatoryCategory" aria-describedby="RegulatoryCategory" placeholder="<<BLANK>>" value="{{.RegulatoryCategory}}" maxlength="30" disabled>
              </div>
              <div class="col-sm">
                <label for="FSCSInclusive">FSCS Inclusive?</label>


                <select class="custom-select" id="FSCSInclusive" name="FSCSInclusive" required="required" disabled>
                  <option id="{{.FSCSInclusive}}" selected="selected">{{.FSCSInclusive}}</option>

                </select>

              </div>
              <div class="col-sm">
                <label for="FinancialCounterparty">Financial Counterparty</label>
                <input type="text" class="form-control" id="FinancialCounterparty" aria-describedby="FinancialCounterparty" placeholder="<<BLANK>>" value="{{.FinancialCounterparty}}" disabled>
              </div>
            </div>

            <div class="row">

              <div class="col-sm">
                <label for="LEIExpiryDate">LEI Expiry Date</label>
                <input type="date" class="form-control" id="LEIExpiryDate" name="LEIExpiryDate" aria-describedby="LEIExpiryDate" placeholder="<<BLANK>>" value="{{.LEIExpiryDate}}" disabled>
              </div>
              <div class="col-sm">
                <label for="MIFIDReviewDate">MIFID Review Date</label>
                <input type="date" class="form-control" id="MIFIDReviewDate" name="MIFIDReviewDate" aria-describedby="MIFIDReviewDate" placeholder="<<BLANK>>" value="{{.MIFIDReviewDate}}" disabled>
              </div>
              <div class="col-sm">
                <label for="GDPRReviewDate">GDPR Review Date</label>
                <input type="date" class="form-control" id="GDPRReviewDate" name="GDPRReviewDate" aria-describedby="GDPRReviewDate" placeholder="<<BLANK>>" value="{{.GDPRReviewDate}}" disabled>
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="DelegatedReporting">Delegated Reporting?</label>
                <input type="DelegatedReporting" class="form-control" id="DelegatedReporting" name="DelegatedReporting" aria-describedby="DelegatedReporting" placeholder="<<BLANK>>" value="{{.DelegatedReporting}}" disabled>
              </div>

              <div class="col-sm">
                <label for="MIFIDReportableDealsAllowed">MIFID Reportable Deals Allowed?</label>
                <input type="MIFIDReportableDealsAllowed" class="form-control" id="MIFIDReportableDealsAllowed" name="MIFIDReportableDealsAllowed" aria-describedby="MIFIDReportableDealsAllowed" placeholder="<<BLANK>>"
                  value="{{.MIFIDReportableDealsAllowed}}" disabled>
              </div>



            </div>
            <hr>
            <h2>Onboarding</h2>
            <div class="row">
              <div class="col-sm">
                <label for="SignedInvestmentAgreement">Signed Investment Agreement</label>
                <select class="custom-select" id="SignedInvestmentAgreement" name="SignedInvestmentAgreement" required="required" disabled>
                  <option id="{{.SignedInvestmentAgreement}}" selected="selected">{{.SignedInvestmentAgreement}}</option>
                </select>
              </div>

              <div class="col-sm">
                <label for="AppropriatenessAssessment">Appropriateness Assessment</label>

                <select class="custom-select" id="AppropriatenessAssessment" name="AppropriatenessAssessment" required="required" disabled>
                  <option id="{{.AppropriatenessAssessment}}" selected="selected">{{.AppropriatenessAssessment}}</option>
                </select>
              </div>
              <div class="col-sm">
                <label for="KnowYourCustomerStatus">Know Your Customer Status</label>

                <select class="custom-select" id="KnowYourCustomerStatus" name="KnowYourCustomerStatus" required="required" disabled>
                  <option id="{{.KnowYourCustomerStatus}}" selected="selected">{{.KnowYourCustomerStatus}}</option>
                </select>
              </div>

              <div class="col-sm">
                <label for="Registered">Registered?</label>

                <select class="custom-select" id="Registered" name="Registered" required="required" disabled>
                  <option id="{{.Registered}}" selected="selected">{{.Registered}}</option>
                </select>
              </div>

            </div>
            <hr>
            <h2>Training</h2>
            <div class="row">

              <div class="col-sm">
                <label for="Training">Training</label>

                <select class="custom-select" id="Training" name="Training" required="required" disabled>
                  <option id="{{.Training}}" selected="selected">{{.Training}}</option>

                </select>
              </div>
              <div class="col-sm">
                <label for="TrainingCode">Training Code</label>
                <input type="text" class="form-control" id="TrainingCode" name="TrainingCode" aria-describedby="TrainingCode" placeholder="<<BLANK>>" value="{{.TrainingCode}}" disabled>
              </div>
              <div class="col-sm">
                <label for="TrainingReceived">Training Received?</label>

                <select class="custom-select" id="TrainingReceived" name="TrainingReceived" required="required" disabled>
                  <option id="{{.TrainingReceived}}" selected="selected">{{.TrainingReceived}}</option>
                </select>
              </div>

            </div>
            <hr>
            <h2>Identification</h2>
            <div class="row">

              <div class="col-sm">
                <label for="MIC">SWIFT MIC</label>
                <input type="text" class="form-control" id="MIC" name="MIC" aria-describedby="MIC" placeholder="<<BLANK>>" value="{{.MIC}}" disabled>
              </div>
              <div class="col-sm">
                <label for="BICCode">SWIFT BIC</label>
                <input type="text" class="form-control" id="BICCode" name="BICCode" aria-describedby="BICCode" placeholder="<<BLANK>>" value="{{.BICCode}}" disabled>
              </div>
              <div class="col-sm">
                <label for="SortCode">SortCode</label>
                <input type="text" class="form-control" id="SortCode" name="SortCode" aria-describedby="SortCode" placeholder="<<BLANK>>" value="{{.SortCode}}" disabled>
              </div>
              <div class="col-sm">
                <label for="PortfolioCode">PortfolioCode</label>
                <input type="text" class="form-control" id="PortfolioCode" name="PortfolioCode" aria-describedby="PortfolioCode" placeholder="<<BLANK>>" value="{{.PortfolioCode}}" disabled>
              </div>

            </div>








            {{end}}
          </div>

          <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="additional-tab">


            <form action="/home" method="POST">


              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyAccountTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Account Number</th>
                      <th class="text-center">Account Name</th>

                      <th class="text-center">CCY</th>
                      <th class="text-center">Cash Balance</th>
                      <th class="text-center">Ledger Balance</th>
                      <th class="text-center">Status</th>
                      <th class="text-center" style="width:5%;">Actions</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .AccountsList}}
                    <tr>
                      <td class="text-center align-middle"></td>

                      <td class="align-middle">{{.AccountNumber}}</td>
                      <td class="align-middle">{{.AccountName}}</td>

                      <td class="align-middle text-center">{{.CCY}}</td>
                      <td class="align-middle text-center">{{.CashBalanceCA_Extra}}</td>
                      <td class="align-middle text-center">{{.LedgerCA_Extra}}</td>
                      <td class="align-middle text-center">{{.Status}}</td>


                      <td class="alight-right" style="width:5%;">

                        <div class="btn-group float-right">
                          <button type="submit" value="" class="btn btn-info float-right" formaction="/AccountView?AccountNo={{.SienaReference}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
                <script language="JavaScript" type="text/javascript">
                  MakePosNeg();
                </script>
              </div>
            </form>


          </div>

          <div class="tab-pane fade" id="mandates" role="tabpanel" aria-labelledby="mandates-tab">


            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyMandateTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Phone</th>
                      <th class="text-center">Active</th>

                      <th class="text-center" style="width:5%;">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .MandateList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.MandatedUserKeyUserName}}</td>
                      <td class="align-middle">{{.EmailAddress}}</td>
                      <td class="align-middle">{{.TelephoneNumber}}</td>
                      <td class="align-middle text-center">{{if eq .Active "true"}}<span class="badge badge-pill badge-success">ACTIVE</span>{{else}}<span class="badge badge-pill badge-warning">INACTIVE</span>{{end}}</td>

                      <td class="alight-right" style="width:5%;">

                        <div class="btn-group float-right">
                          <button type="submit" value="" class="btn btn-info"
                            formaction="/MandateViewItem?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-warning"
                            formaction="/MandateEditItem?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="POST">
                            <i class="far fa-edit" style="font-size: 22px"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>

          </div>

          <div class="tab-pane fade" id="imports" role="tabpanel" aria-labelledby="imports-tab">

            <form action="/home" method="POST">

              <div class="table-responsive">

                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyImportTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Origin</th>
                      <th class="text-center">ID</th>
                      <th class="text-center" style="width:5%;">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .ImportList}}
                    <tr>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.KeyOriginID}}</td>
                      <td class="align-middle">{{.KeyImportID}}</td>

                      <td class="alight-right" style="width:5%;">

                        <div class="btn-group float-right">
                          <button type="submit" value="" class="btn btn-info" formaction="/CounterpartyImportView?ID={{.CompID}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>

                          <button type="submit" value="" class="btn btn-warning" formaction="/CounterpartyImportEdit?ID={{.CompID}}" method="POST">
                            <i class="far fa-edit" style="font-size: 22px"></i>
                          </button>
                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>

            </form>



          </div>

          <div class="tab-pane fade" id="txn" role="tabpanel" aria-labelledby="additional-tab">


            <form action="/home" method="POST">

              <div class="table-responsive">


                <table class="table table-striped table-bordered table-hover" id="sienaCounterpartyCounterpartyDealsTable">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Contract No.</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Type</th>

                      <th class="text-center">Direction</th>
                      <th class="text-center">Instrument</th>
                      <th class="text-center">Dealt</th>
                      <th class="text-center">Against</th>

                      <th class="text-center" style="width:5%;">Action</th>
                    </tr>
                  </thead>
                  <tbody id=filterTable>
                    {{range .TxnList}}
                    <tr {{if eq .Status "Confirmed"}}class="table-success"{{else}}{{if eq .Status "Complete"}}class="table-warning"{{else}}class="table-secondary"{{end}}{{end}}>
                      <td class="text-center align-middle"></td>
                      <td class="align-middle">{{.ContractNumber}}</td>
                      <td class="align-middle">{{.Status}}</td>
                      <td class="align-middle">{{.FullDealType}}</td>

                      <td class="align-middle">{{.Direction}}</td>
                      <td class="align-middle">{{.Instrument}}</td>
                      <td class="align-middle">{{.DealtCcy}} {{.DealtAmount}}</td>
                      <td class="align-middle">{{.AgainstCcy}} {{.AgainstAmount}}</td>




                      <td class="alight-middle" style="width:5%;">

                        <div class="btn-group float-right">
                          <button type="submit" value="" class="btn btn-info" formaction="/TransactionView/?Ref={{.SienaReference}}" method="POST">
                            <i class="far fa-eye" style="font-size: 22px"></i>
                          </button>


                        </div>

                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>

              </div>


            </form>


          </div>



        </div>

      </div>







    </div>
    </form>
  </div>




    <script>
$(document).ready(function(){
    $('#sienaCounterpartyCounterpartyPayeeTable').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#sienaCounterpartyCounterpartyPayeeTable").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>

    <script>
$(document).ready(function(){
    $('#sienaCounterpartyCounterpartyAccountTable').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#sienaCounterpartyCounterpartyAccountTable").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>
    <script>
$(document).ready(function(){
    $('#sienaCounterpartyCounterpartyMandateTable').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#sienaCounterpartyCounterpartyMandateTable").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>
    <script>
$(document).ready(function(){
    $('#sienaCounterpartyCounterpartyImportTable').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#sienaCounterpartyCounterpartyImportTable").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>
    <script>
$(document).ready(function(){
    $('#sienaCounterpartyCounterpartyDealsTable').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#sienaCounterpartyCounterpartyDealsTable").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>

  {{template "footer" .}}</body>
