  {{template "header" .}}
<body>

 

  <div class="container-fluid">
    <form action="/CredentialsEdit?Id={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Username}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CredentialsEdit/?Id={{.Id}}" onclick="/CredentialsEdit/?Id={{.Id}}"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
<br><h4>Identity</h4>
            <div class="row">
              <div class="col-sm">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" aria-describedby="UsernameHelp" placeholder="" disabled="disabled" value="{{.Username}}">
              </div>
            </div>
 
            <div class="row">
              <div class="col-sm">
                <label for="Firstname">Firstname</label>
                <input type="text" class="form-control" id="Firstname" aria-describedby="FirstnameHelp" placeholder="" disabled="disabled" value="{{.Firstname}}">
              </div>
           
              <div class="col-sm">
                <label for="Lastname">Lastname</label>
                <input type="text" class="form-control" id="Lastname" aria-describedby="LastnameHelp" placeholder="" disabled="disabled" value="{{.Lastname}}">
              </div>
              <div class="col-sm">
                <label for="Knownas">Knownas</label>
                <input type="text" class="form-control" id="Knownas" aria-describedby="KnownasHelp" placeholder="" disabled="disabled" value="{{.Knownas}}">
              </div>
            </div>
            <br><h4>Contact Information</h4>
            <div class="row">
              <div class="col-sm">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" aria-describedby="EmailHelp" placeholder="" disabled="disabled" value="{{.Email}}">
              </div>
            </div>

            <br><h4>Role & Brand</h4>

                       <div class="row">
              <div class="col-sm">
                <label for="RoleType">RoleType</label>
                <input type="text" class="form-control" id="RoleType" aria-describedby="RoleTypeHelp" placeholder="" disabled="disabled" value="{{.RoleType}}">
              </div>
              <div class="col-sm">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" aria-describedby="BrandHelp" placeholder="" disabled="disabled" value="{{.Brand}}">
              </div>
            </div>
            <br><h4>Authorisation</h4>
            <div class="row">
              <div class="col-sm">
                <label for="Issued">Issued</label>
                <input type="text" class="form-control" id="Issued" aria-describedby="IssuedHelp" placeholder="" disabled="disabled" value="{{.Issued}}">
              </div>
       
              <div class="col-sm">
                <label for="Expiry">Expiry</label>
                <input type="text" class="form-control" id="Expiry" aria-describedby="ExpiryHelp" placeholder="" disabled="disabled" value="{{.Expiry}}">
              </div>
            </div>
 
          



      


        </div>
         {{template "audit" .}}
      </div>
    </form>
  </div>

  {{template "footer" .}}</body>
