{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/ExternalMessageEdit?MessageID={{.MessageID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.MessageID}}</code>&nbsp<span class="badge badge-info">{{.MessageACKNAK}}</span>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/ExternalMessageEdit/?MessageID={{.MessageID}}" onclick="/ExternalMessageEdit/?MessageID={{.MessageID}}" title="Edit ExternalMessage"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print ExternalMessage"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row" hidden>
              <div class="col-sm">
                <label for="SYSId">SYSId</label>
                <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled="disabled" value="{{.SYSId}}">
              </div>
            </div>
            <div class="row" hidden>
              <div class="col-sm">
                <label for="MessageID">MessageID</label>
                <input type="text" class="form-control" id="MessageID" aria-describedby="MessageIDHelp" placeholder="" disabled="disabled" value="{{.MessageID}}">
              </div>
            </div>

            <br><h4>Message</h4>
            <div class="row">
              <div class="col-sm">
                <label for="MessageFormat">Format</label>
                <input type="text" class="form-control" id="MessageFormat" aria-describedby="MessageFormatHelp" placeholder="" disabled="disabled" value="{{.MessageFormat}}">
              </div>
        
              <div class="col-sm">
                <label for="MessageClass">Class</label>
                <input type="text" class="form-control" id="MessageClass" aria-describedby="MessageClassHelp" placeholder="" disabled="disabled" value="{{.MessageClass}}">
              </div>
          
              <div class="col-sm">
                <label for="MessageDeliveredTo">DeliveredTo</label>
                <input type="text" class="form-control" id="MessageDeliveredTo" aria-describedby="MessageDeliveredToHelp" placeholder="" disabled="disabled" value="{{.MessageDeliveredTo}}">
              </div>
               <div class="col-sm">
                <label for="MessageFilename">Filename</label>
                <input type="text" class="form-control" id="MessageFilename" aria-describedby="MessageFilenameHelp" placeholder="" disabled="disabled" value="{{.MessageFilename}}">
              </div>
            </div>
        
         <div class="row">


             <div class="col-sm">
                <label for="MessageDate">Date</label>
                <input type="text" class="form-control" id="MessageDate" aria-describedby="MessageDateHelp" placeholder="" disabled="disabled" value="{{.MessageDate}}">
              </div>
    
              <div class="col-sm">
                <label for="MessageTime">Time</label>
                <input type="text" class="form-control" id="MessageTime" aria-describedby="MessageTimeHelp" placeholder="" disabled="disabled" value="{{.MessageTime}}">
              </div>

              <div class="col-sm">
                <label for="MessageLife">Life</label>
                <input type="text" class="form-control" id="MessageLife" aria-describedby="MessageLifeHelp" placeholder="" disabled="disabled" value="{{.MessageLife}}">
              </div>
   
 

              <div class="col-sm">
                <label for="MessageTimeoutAction">Timeout Action</label>
                <input type="text" class="form-control" id="MessageTimeoutAction" aria-describedby="MessageTimeoutActionHelp" placeholder="" disabled="disabled" value="{{.MessageTimeoutAction}}">
              </div>
       
         
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MessageBody">Message</label>
                <textarea type="text" class="form-control" id="MessageBody" aria-describedby="MessageBodyHelp" placeholder="" disabled="disabled" value="{{.MessageBody}}" rows="3">{{.MessageBody}}</textarea>
              </div>
            </div>

              <br><h4>Response</h4>

       

         <div class="row">
              <div class="col-sm">
                <label for="ResponseDate">Date</label>
                <input type="text" class="form-control" id="ResponseDate" aria-describedby="ResponseDateHelp" placeholder="" disabled="disabled" value="{{.ResponseDate}}">
              </div>
     
              <div class="col-sm">
                <label for="ResponseTime">Time</label>
                <input type="text" class="form-control" id="ResponseTime" aria-describedby="ResponseTimeHelp" placeholder="" disabled="disabled" value="{{.ResponseTime}}">
              </div>
       <div class="col-sm">
                <label for="MessageACKNAK">Acknowledged</label>
                <input type="text" class="form-control" id="MessageACKNAK" aria-describedby="MessageACKNAKHelp" placeholder="" disabled="disabled" value="{{.MessageACKNAK}}">
              </div>
      
              <div class="col-sm">
                <label for="ResponseFilename">Filename</label>
                <input type="text" class="form-control" id="ResponseFilename" aria-describedby="ResponseFilenameHelp" placeholder="" disabled="disabled" value="{{.ResponseFilename}}">
              </div>
   
            </div>

            <div class="row">
              <div class="col-sm">
                <label for="ResponseBody">Response</label>
                <textarea type="text" class="form-control" id="ResponseBody" aria-describedby="ResponseBodyHelp" placeholder="" disabled="disabled" value="{{.ResponseBody}}" rows="3">{{.ResponseBody}}</textarea>
              </div>
            </div>


   
            <div class="row">
              <div class="col-sm">
                <label for="ResponseAdditionalInfo">Additional Info</label>
                <input type="text" class="form-control" id="ResponseAdditionalInfo" aria-describedby="ResponseAdditionalInfoHelp" placeholder="" disabled="disabled" value="{{.ResponseAdditionalInfo}}">
              </div>
            </div>
            <br><h4>Information</h4>

            <div class="row">
              <div class="col-sm">
                <label for="MessageEmitted">Message Emitted</label>
                <input type="text" class="form-control" id="MessageEmitted" aria-describedby="MessageEmittedHelp" placeholder="" disabled="disabled" value="{{.MessageEmitted}}">
              </div>
  
              <div class="col-sm">
                <label for="MessageTimeout">Message Timeout</label>
                <input type="text" class="form-control" id="MessageTimeout" aria-describedby="MessageTimeoutHelp" placeholder="" disabled="disabled" value="{{.MessageTimeout}}">
              </div>
    
              <div class="col-sm">
                <label for="ResponseRecieved">Response Recieved</label>
                <input type="text" class="form-control" id="ResponseRecieved" aria-describedby="ResponseRecievedHelp" placeholder="" disabled="disabled" value="{{.ResponseRecieved}}">
              </div>
            </div>
<br>

        </div>
{{template "audit" .}}
      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
