{{template "header" .}}

<body>

  <div class="container-fluid">


      <h5 class="text-left">System Details</h5>
      <div class="text-muted"></div>
<h6>User</h6>
<pre class="text-muted">
Name                    : {{.UserName}}
Known As                : {{.UserKnowAs}}
Role                    : {{.UserRole}}
</pre>
<h6>Application</h6>
<pre class="text-muted">
Server Name             : {{.AppServerName}}
Server Release          : {{.AppReleaseID}}&nbsp;[r{{.AppReleaseLevel}}-{{.AppReleaseNo}}]
Server Date             : {{.AppServerDate}}
Server Mode             : {{.InstanceState}}
</pre>
<h6>Application Database (MSSQL)</h6>
<pre class="text-muted">
Server                  : {{.AppSQLServer}}
Database                : {{.AppSQLDatabase}}
Schema                  : {{.AppSQLSchema}}
Parent Schema           : {{.AppSQLParentSchema}}
</pre>
<h6>Siena</h6>
<pre class="text-muted">
System                  : {{.SienaName}}
System Date             : {{.SienaDate}} {{.DateSyncIssue}}
</pre>
<h6>Siena Database (MSSQL)</h6>
<pre class="text-muted">
Server                  : {{.SQLServer}}
Database                : {{.SQLDB}}
Schema                  : {{.SQLSchema}}
Parent Schema           : {{.SQLParentSchema}}
</pre>
<h6>Siena Connectivity</h6>
<pre class="text-muted">
Txns Delivery           : {{.DealImportInPath}}
Txns Response           : {{.DealImportOutPath}}
Static Delivery         : {{.StaticDataInPath}}
Static Response         : {{.StaticDataOutPath}}
FundsCheck Requests     : {{.FundsCheckOutPath}}
FundsCheck Response     : {{.FundsCheckInPath}}
Rates & Prices Delivery : {{.RatesDataInPath}}
</pre>
    </div>




  {{template "footer" .}}
</body>


