{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/MandateEditItem?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/MandateEditItem?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" onclick="/MandateEdit?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyFirm">MandatedUserKeyCounterpartyFirm</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyFirm" aria-describedby="MandatedUserKeyCounterpartyFirmHelp" placeholder="" disabled="disabled" value="{{.MandatedUserKeyCounterpartyFirm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyCentre">MandatedUserKeyCounterpartyCentre</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyCentre" aria-describedby="MandatedUserKeyCounterpartyCentreHelp" placeholder="" disabled="disabled" value="{{.MandatedUserKeyCounterpartyCentre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyUserName">MandatedUserKeyUserName</label>
                <input type="text" class="form-control" id="MandatedUserKeyUserName" aria-describedby="MandatedUserKeyUserNameHelp" placeholder="" disabled="disabled" value="{{.MandatedUserKeyUserName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TelephoneNumber">TelephoneNumber</label>
                <input type="text" class="form-control" id="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder="" disabled="disabled" value="{{.TelephoneNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EmailAddress">EmailAddress</label>
                <input type="text" class="form-control" id="EmailAddress" aria-describedby="EmailAddressHelp" placeholder="" disabled="disabled" value="{{.EmailAddress}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Active">Active</label>
                <input type="text" class="form-control" id="Active" aria-describedby="ActiveHelp" placeholder="True" disabled="disabled" value="{{.Active}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirstName">FirstName</label>
                <input type="text" class="form-control" id="FirstName" aria-describedby="FirstNameHelp" placeholder="" disabled="disabled" value="{{.FirstName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Surname">Surname</label>
                <input type="text" class="form-control" id="Surname" aria-describedby="SurnameHelp" placeholder="" disabled="disabled" value="{{.Surname}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DateOfBirth">DateOfBirth</label>
                <input type="text" class="form-control" id="DateOfBirth" aria-describedby="DateOfBirthHelp" placeholder="" disabled="disabled" value="{{.DateOfBirth}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Postcode">Postcode</label>
                <input type="text" class="form-control" id="Postcode" aria-describedby="PostcodeHelp" placeholder="" disabled="disabled" value="{{.Postcode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NationalIDNo">NationalIDNo</label>
                <input type="text" class="form-control" id="NationalIDNo" aria-describedby="NationalIDNoHelp" placeholder="" disabled="disabled" value="{{.NationalIDNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PassportNo">PassportNo</label>
                <input type="text" class="form-control" id="PassportNo" aria-describedby="PassportNoHelp" placeholder="" disabled="disabled" value="{{.PassportNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country">Country</label>
                <input type="text" class="form-control" id="Country" aria-describedby="CountryHelp" placeholder="" disabled="disabled" value="{{.Country}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CountryName">CountryName</label>
                <input type="text" class="form-control" id="CountryName" aria-describedby="CountryNameHelp" placeholder="" disabled="disabled" value="{{.CountryName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirmName">FirmName</label>
                <input type="text" class="form-control" id="FirmName" aria-describedby="FirmNameHelp" placeholder="" disabled="disabled" value="{{.FirmName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CentreName">CentreName</label>
                <input type="text" class="form-control" id="CentreName" aria-describedby="CentreNameHelp" placeholder="" disabled="disabled" value="{{.CentreName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Notify">Notify</label>
                <input type="text" class="form-control" id="Notify" aria-describedby="NotifyHelp" placeholder="True" disabled="disabled" value="{{.Notify}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SystemUser">SystemUser</label>
                <input type="text" class="form-control" id="SystemUser" aria-describedby="SystemUserHelp" placeholder="" disabled="disabled" value="{{.SystemUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID">CompID</label>
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled="disabled" value="{{.CompID}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country_Impl">Country_Impl</label>
                <input type="text" class="form-control" id="Country_Impl" aria-describedby="Country_ImplHelp" placeholder="" disabled="disabled" value="{{.Country_Impl}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm_Impl">Firm_Impl</label>
                <input type="text" class="form-control" id="Firm_Impl" aria-describedby="Firm_ImplHelp" placeholder="" disabled="disabled" value="{{.Firm_Impl}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre_Impl">Centre_Impl</label>
                <input type="text" class="form-control" id="Centre_Impl" aria-describedby="Centre_ImplHelp" placeholder="" disabled="disabled" value="{{.Centre_Impl}}">
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>

  {{template "footer" .}}</body>
