  {{template "header" .}}
<body>



  <div class="container-fluid">
    <form action="/MessageEdit?Message={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Id}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/MessageEdit/?Message={{.Id}}" onclick="/MessageEdit/?Message={{.Id}}"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
    
            <div class="row">
              <div class="col-sm">
                <label for="Id">Id</label>
                <input type="text" class="form-control" id="Id" aria-describedby="IdHelp" placeholder="" disabled="disabled" value="{{.Id}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Message">Message</label>
                <input type="text" class="form-control" id="Message" aria-describedby="MessageHelp" placeholder="" disabled="disabled" value="{{.Message}}">
              </div>
            </div>
          

     
      </div>
          {{template "audit" .}}
        </div>
      </div>
    </form>
  </div>

  {{template "footer" .}}</body>
