{{template "header" .}}
<body>

  <div class="container-fluid">
    <form action="/PayeeEdit?ID={{.KeyCounterpartyFirm}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.FullName}} - {{.KeyCurrency}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <input type="text" class="form-control" id="SourceTable" aria-describedby="SourceTableHelp" placeholder="" disabled="disabled" value="{{.SourceTable}}" hidden>
      
                <input type="text" class="form-control" id="KeyCounterpartyFirm" aria-describedby="KeyCounterpartyFirmHelp" placeholder="" disabled="disabled" value="{{.KeyCounterpartyFirm}}" hidden>
   
                <input type="text" class="form-control" id="KeyCounterpartyCentre" aria-describedby="KeyCounterpartyCentreHelp" placeholder="" disabled="disabled" value="{{.KeyCounterpartyCentre}}" hidden>
                <input type="text" class="form-control" id="KeyName" aria-describedby="KeyNameHelp" placeholder="" disabled="disabled" value="{{.KeyName}}" hidden>
                <input type="text" class="form-control" id="KeyNumber" aria-describedby="KeyNumberHelp" placeholder="" disabled="disabled" value="{{.KeyNumber}}" hidden>
                <input type="text" class="form-control" id="KeyDirection" aria-describedby="KeyDirectionHelp" placeholder="" disabled="disabled" value="{{.KeyDirection}}" hidden>
                <input type="text" class="form-control" id="KeyType" aria-describedby="KeyTypeHelp" placeholder="" disabled="disabled" value="{{.KeyType}}" hidden>
        
              </div>
            </div>
            <br><h4>Identity</h4>

            <div class="row">
              <div class="col-sm">
                <label for="KeyCurrency">KeyCurrency</label>
                <input type="text" class="form-control" id="KeyCurrency" aria-describedby="KeyCurrencyHelp" placeholder="" disabled="disabled" value="{{.KeyCurrency}}">
              </div>

              <div class="col-sm">
                <label for="Currency_Lookup">Currency_Lookup</label>
                <input type="text" class="form-control" id="Currency_Lookup" aria-describedby="Currency_LookupHelp" placeholder="" disabled="disabled" value="{{.Currency_Lookup}}">
              </div>
   
              <div class="col-sm">
                <label for="BankSettlementAcct">BankSettlementAcct</label>
                <input type="text" class="form-control" id="BankSettlementAcct" aria-describedby="BankSettlementAcctHelp" placeholder="True" disabled="disabled" value="{{.BankSettlementAcct}}">
              </div>
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>

            <br><h4>Payee Details</h4>
            <div class="row">
              <div class="col-sm">
                <label for="FullName">Full Name</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled="disabled" value="{{.FullName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Address">Address</label>
                <input type="text" class="form-control" id="Address" aria-describedby="AddressHelp" placeholder="" disabled="disabled" value="{{.Address}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country">Country</label>
                <input type="text" class="form-control" id="Country" aria-describedby="CountryHelp" placeholder="" disabled="disabled" value="{{.Country}}" hidden>
                                <input type="text" class="form-control" id="Country_Lookup" aria-describedby="Country_LookupHelp" placeholder="" disabled="disabled" value="{{.Country_Lookup}}">

              </div>
              <div class="col-sm">
                <label for="PhoneNo">PhoneNo</label>
                <input type="text" class="form-control" id="PhoneNo" aria-describedby="PhoneNoHelp" placeholder="" disabled="disabled" value="{{.PhoneNo}}">
              </div>
            </div>
                        <div class="row">
              <div class="col-sm">
                <label for="Reason">Reason</label>
                <input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="" disabled="disabled" value="{{.Reason}}">
              </div>
            </div>

            <br><h4>Account Details</h4>
    
            <div class="row">
              
       
              
              <div class="col-sm">
                <label for="SortCode">SortCode</label>
                <input type="text" class="form-control" id="SortCode" aria-describedby="SortCodeHelp" placeholder="" disabled="disabled" value="{{.SortCode}}">
              </div>
              <div class="col-sm">
                <label for="AccountNo">AccountNo</label>
                <input type="text" class="form-control" id="AccountNo" aria-describedby="AccountNoHelp" placeholder="" disabled="disabled" value="{{.AccountNo}}">
              </div>
              <div class="col-sm">
                <label for="Iban">Iban</label>
                <input type="text" class="form-control" id="Iban" aria-describedby="IbanHelp" placeholder="" disabled="disabled" value="{{.Iban}}">
              </div>
              <div class="col-sm">
                <label for="FedWireNo">FedWireNo</label>
                <input type="text" class="form-control" id="FedWireNo" aria-describedby="FedWireNoHelp" placeholder="" disabled="disabled" value="{{.FedWireNo}}">
              </div>
    <div class="col-sm">
                <label for="Bic">Bic</label>
                <input type="text" class="form-control" id="Bic" aria-describedby="BicHelp" placeholder="" disabled="disabled" value="{{.Bic}}">
              </div>
            </div>
            <br><h4>Routing Information</h4>
            <div class="row">
              <div class="col-sm">
                <label for="BankName">BankName</label>
                <input type="text" class="form-control" id="BankName" aria-describedby="BankNameHelp" placeholder="" disabled="disabled" value="{{.BankName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankAddress">BankAddress</label>
                <input type="text" class="form-control" id="BankAddress" aria-describedby="BankAddressHelp" placeholder="" disabled="disabled" value="{{.BankAddress}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankPinCode">BankPinCode</label>
                <input type="text" class="form-control" id="BankPinCode" aria-describedby="BankPinCodeHelp" placeholder="" disabled="disabled" value="{{.BankPinCode}}">
              </div>
            </div>
     

   <br><br>
       

     
        </div>
      </div>
    </form>
  </div>

  {{template "footer" .}}</body>
