  {{template "header" .}}
  
<body>

  <div class="container-fluid">
    <form action="/ScheduleEdit?Schedule={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Name}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
             <br><h4>Identity</h4>

            <div class="row">
              <div class="col-sm">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" aria-describedby="DescriptionHelp" placeholder="" disabled="disabled" value="{{.Description}}">
              </div>
              <div class="col-sm">
                <label for="Type">Type</label>
                <input type="text" class="form-control" id="Type" aria-describedby="TypeHelp" placeholder="" disabled="disabled" value="{{.Type}}">
              </div>
            </div>
            <br><h4>Schedule</h4>
            <div class="row">
              <div class="col-sm">
                <label for="Schedule">Frequency</label>
                <input type="text" class="form-control" id="Schedule" aria-describedby="ScheduleHelp" placeholder="" disabled="disabled" value="{{.Schedule}}">
              </div>
           
              <div class="col-sm">
                <label for="Human">Human</label>
                <input type="text" class="form-control" id="Human" aria-describedby="HumanHelp" placeholder="" disabled="disabled" value="{{.Human}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Started">Started</label>
                <input type="text" class="form-control" id="Started" aria-describedby="StartedHelp" placeholder="" disabled="disabled" value="{{.Started}}">
              </div>
         
              <div class="col-sm">
                <label for="Lastrun">Lastrun</label>
                <input type="text" class="form-control" id="Lastrun" aria-describedby="LastrunHelp" placeholder="" disabled="disabled" value="{{.Lastrun}}">
              </div>
            </div>
                        <br><h4>Information</h4>

            <div class="row">
              <div class="col-sm">
                <label for="Message">Message</label>
                <input type="text" class="form-control" id="Message" aria-describedby="MessageHelp" placeholder="" disabled="disabled" value="{{.Message}}">
              </div>
            </div>
           

   


    
                 <br>
      
        </div>
      </div>
 {{template "audit" .}}
    </form>
  </div>

  {{template "footer" .}}</body>
