  {{template "header" .}}
<body>


  <div class="container-fluid">
    <form action="/TranslationSave?Message={{.Id}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Message}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/TranslationSave/?Message={{.Id}}" onclick="/TranslationSave/?Message={{.Id}}"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <br><h4>Identity</h4>
                            <input type="text" class="form-control" id="Id" name="Id" aria-describedby="IdHelp" placeholder=""  value="{{.Id}}" hidden>
                            <input type="text" class="form-control" id="Message" name="Message" aria-describedby="IdHelp" placeholder=""  value="{{.Message}}" hidden>

            <div class="row">
              <div class="col-sm">
                <label for="Class" >Class</label>
                <input type="text" class="form-control" id="VClass" name="VClass" aria-describedby="VClassHelp" placeholder=""  value="{{.Class}}" disabled="disabled">          
                      <input type="text" class="form-control" id="Class" name="Class" aria-describedby="ClassHelp" placeholder=""  value="{{.Class}}" hidden>

              </div>
            </div>
            <br><h4>Translation</h4>
            <div class="row">
     
          
              <div class="col-sm">
                <label for="Translation" >Translation</label>
                <input type="text" class="form-control" id="Translation" name="Translation" aria-describedby="TranslationHelp" placeholder=""  value="{{.Translation}}" >
              </div>
            </div>


             

        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}</body>
