 {{template "header" .}}

<body>



    <div class="container-fluid">
        <form action="/TranslationEdit?Message={{.Id}}" method="POST" class="form">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <div class="row">
                        <div class="col">
                            {{.Title}}&nbsp;:&nbsp;<code>{{.Message}}</code>
                        </div>
                        <div class="col">
                            <div class="btn-group float-right">

                                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/TranslationEdit/?Message={{.Id}}" onclick="/TranslationEdit/?Message={{.Id}}"></i>&nbsp;&nbsp;Edit</button>

                                <button id="print" type="button" class="btn btn-info" onclick="window.print()"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <br>
                    <h4>Identity</h4>
                    <div class="row">
                        <div class="col-sm">
                            <label for="Class">Class</label>
                            <input type="text" class="form-control" id="Class" aria-describedby="ClassHelp" placeholder="" disabled="disabled" value="{{.Class}}">
                        </div>
                    </div>
                    <br>
                    <h4>Translation</h4>

                    <div class="row">

                        <div class="col-sm">
                            <label for="Translation">Translation</label>
                            <input type="text" class="form-control" id="Translation" aria-describedby="TranslationHelp" placeholder="" disabled="disabled" value="{{.Translation}}">
                        </div>
                    </div>

                    <br>

                </div>

            

            </div>
                {{template "audit" .}}
        </form>
    </div>

    {{template "footer" .}}</body>