{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/AccountEdit?AccountNo={{.SienaReference}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.SienaReference}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Account"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SienaReference">SienaReference</label>
                <input type="text" class="form-control" id="SienaReference" aria-describedby="SienaReferenceHelp" placeholder="" disabled="disabled" value="{{.SienaReference}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerSienaView">CustomerSienaView</label>
                <input type="text" class="form-control" id="CustomerSienaView" aria-describedby="CustomerSienaViewHelp" placeholder="" disabled="disabled" value="{{.CustomerSienaView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SienaCommonRef">SienaCommonRef</label>
                <input type="text" class="form-control" id="SienaCommonRef" aria-describedby="SienaCommonRefHelp" placeholder="" disabled="disabled" value="{{.SienaCommonRef}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" aria-describedby="StatusHelp" placeholder="" disabled="disabled" value="{{.Status}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="StartDate">StartDate</label>
                <input type="text" class="form-control" id="StartDate" aria-describedby="StartDateHelp" placeholder="" disabled="disabled" value="{{.StartDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MaturityDate">MaturityDate</label>
                <input type="text" class="form-control" id="MaturityDate" aria-describedby="MaturityDateHelp" placeholder="" disabled="disabled" value="{{.MaturityDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ContractNumber">ContractNumber</label>
                <input type="text" class="form-control" id="ContractNumber" aria-describedby="ContractNumberHelp" placeholder="" disabled="disabled" value="{{.ContractNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExternalReference">ExternalReference</label>
                <input type="text" class="form-control" id="ExternalReference" aria-describedby="ExternalReferenceHelp" placeholder="" disabled="disabled" value="{{.ExternalReference}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CCY">CCY</label>
                <input type="text" class="form-control" id="CCY" aria-describedby="CCYHelp" placeholder="" disabled="disabled" value="{{.CCY}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Book">Book</label>
                <input type="text" class="form-control" id="Book" aria-describedby="BookHelp" placeholder="" disabled="disabled" value="{{.Book}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUser">MandatedUser</label>
                <input type="text" class="form-control" id="MandatedUser" aria-describedby="MandatedUserHelp" placeholder="" disabled="disabled" value="{{.MandatedUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeNotes">BackOfficeNotes</label>
                <input type="text" class="form-control" id="BackOfficeNotes" aria-describedby="BackOfficeNotesHelp" placeholder="" disabled="disabled" value="{{.BackOfficeNotes}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CashBalance">CashBalance</label>
                <input type="text" class="form-control" id="CashBalance" aria-describedby="CashBalanceHelp" placeholder="0.00" disabled="disabled" value="{{.CashBalance}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountNumber">AccountNumber</label>
                <input type="text" class="form-control" id="AccountNumber" aria-describedby="AccountNumberHelp" placeholder="" disabled="disabled" value="{{.AccountNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountName">AccountName</label>
                <input type="text" class="form-control" id="AccountName" aria-describedby="AccountNameHelp" placeholder="" disabled="disabled" value="{{.AccountName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LedgerBalance">LedgerBalance</label>
                <input type="text" class="form-control" id="LedgerBalance" aria-describedby="LedgerBalanceHelp" placeholder="0.00" disabled="disabled" value="{{.LedgerBalance}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Portfolio">Portfolio</label>
                <input type="text" class="form-control" id="Portfolio" aria-describedby="PortfolioHelp" placeholder="" disabled="disabled" value="{{.Portfolio}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AgreementId">AgreementId</label>
                <input type="text" class="form-control" id="AgreementId" aria-describedby="AgreementIdHelp" placeholder="0" disabled="disabled" value="{{.AgreementId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeRefNo">BackOfficeRefNo</label>
                <input type="text" class="form-control" id="BackOfficeRefNo" aria-describedby="BackOfficeRefNoHelp" placeholder="" disabled="disabled" value="{{.BackOfficeRefNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ISIN">ISIN</label>
                <input type="text" class="form-control" id="ISIN" aria-describedby="ISINHelp" placeholder="" disabled="disabled" value="{{.ISIN}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTI">UTI</label>
                <input type="text" class="form-control" id="UTI" aria-describedby="UTIHelp" placeholder="" disabled="disabled" value="{{.UTI}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CCYName">CCYName</label>
                <input type="text" class="form-control" id="CCYName" aria-describedby="CCYNameHelp" placeholder="" disabled="disabled" value="{{.CCYName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BookName">BookName</label>
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled="disabled" value="{{.BookName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PortfolioName">PortfolioName</label>
                <input type="text" class="form-control" id="PortfolioName" aria-describedby="PortfolioNameHelp" placeholder="" disabled="disabled" value="{{.PortfolioName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre">Centre</label>
                <input type="text" class="form-control" id="Centre" aria-describedby="CentreHelp" placeholder="" disabled="disabled" value="{{.Centre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeKey">DealTypeKey</label>
                <input type="text" class="form-control" id="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder="" disabled="disabled" value="{{.DealTypeKey}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeShortName">DealTypeShortName</label>
                <input type="text" class="form-control" id="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder="" disabled="disabled" value="{{.DealTypeShortName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId">InternalId</label>
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled="disabled" value="{{.InternalId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalDeleted">InternalDeleted</label>
                <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled="disabled" value="{{.InternalDeleted}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedTransactionId">UpdatedTransactionId</label>
                <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedDateTime">UpdatedDateTime</label>
                <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled="disabled" value="{{.UpdatedDateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedTransactionId">DeletedTransactionId</label>
                <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.DeletedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedUserId">DeletedUserId</label>
                <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled="disabled" value="{{.DeletedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeType">ChangeType</label>
                <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled="disabled" value="{{.ChangeType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CCYDp">CCYDp</label>
                <input type="text" class="form-control" id="CCYDp" aria-describedby="CCYDpHelp" placeholder="0" disabled="disabled" value="{{.CCYDp}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID">CompID</label>
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled="disabled" value="{{.CompID}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm">Firm</label>
                <input type="text" class="form-control" id="Firm" aria-describedby="FirmHelp" placeholder="" disabled="disabled" value="{{.Firm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealType">DealType</label>
                <input type="text" class="form-control" id="DealType" aria-describedby="DealTypeHelp" placeholder="" disabled="disabled" value="{{.DealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullDealType">FullDealType</label>
                <input type="text" class="form-control" id="FullDealType" aria-describedby="FullDealTypeHelp" placeholder="" disabled="disabled" value="{{.FullDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealingInterface">DealingInterface</label>
                <input type="text" class="form-control" id="DealingInterface" aria-describedby="DealingInterfaceHelp" placeholder="" disabled="disabled" value="{{.DealingInterface}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealtAmount">DealtAmount</label>
                <input type="text" class="form-control" id="DealtAmount" aria-describedby="DealtAmountHelp" placeholder="0.00" disabled="disabled" value="{{.DealtAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ParentContractNumber">ParentContractNumber</label>
                <input type="text" class="form-control" id="ParentContractNumber" aria-describedby="ParentContractNumberHelp" placeholder="" disabled="disabled" value="{{.ParentContractNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InterestFrequency">InterestFrequency</label>
                <input type="text" class="form-control" id="InterestFrequency" aria-describedby="InterestFrequencyHelp" placeholder="" disabled="disabled" value="{{.InterestFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InterestAction">InterestAction</label>
                <input type="text" class="form-control" id="InterestAction" aria-describedby="InterestActionHelp" placeholder="" disabled="disabled" value="{{.InterestAction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InterestStrategy">InterestStrategy</label>
                <input type="text" class="form-control" id="InterestStrategy" aria-describedby="InterestStrategyHelp" placeholder="" disabled="disabled" value="{{.InterestStrategy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InterestBasis">InterestBasis</label>
                <input type="text" class="form-control" id="InterestBasis" aria-describedby="InterestBasisHelp" placeholder="" disabled="disabled" value="{{.InterestBasis}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SienaDealer">SienaDealer</label>
                <input type="text" class="form-control" id="SienaDealer" aria-describedby="SienaDealerHelp" placeholder="" disabled="disabled" value="{{.SienaDealer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealOwner">DealOwner</label>
                <input type="text" class="form-control" id="DealOwner" aria-describedby="DealOwnerHelp" placeholder="" disabled="disabled" value="{{.DealOwner}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OriginUser">OriginUser</label>
                <input type="text" class="form-control" id="OriginUser" aria-describedby="OriginUserHelp" placeholder="" disabled="disabled" value="{{.OriginUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditedByUser">EditedByUser</label>
                <input type="text" class="form-control" id="EditedByUser" aria-describedby="EditedByUserHelp" placeholder="" disabled="disabled" value="{{.EditedByUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealOwnerMnemonic">DealOwnerMnemonic</label>
                <input type="text" class="form-control" id="DealOwnerMnemonic" aria-describedby="DealOwnerMnemonicHelp" placeholder="" disabled="disabled" value="{{.DealOwnerMnemonic}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTCOriginTime">UTCOriginTime</label>
                <input type="text" class="form-control" id="UTCOriginTime" aria-describedby="UTCOriginTimeHelp" placeholder="" disabled="disabled" value="{{.UTCOriginTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTCUpdateTime">UTCUpdateTime</label>
                <input type="text" class="form-control" id="UTCUpdateTime" aria-describedby="UTCUpdateTimeHelp" placeholder="" disabled="disabled" value="{{.UTCUpdateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerStatementNotes">CustomerStatementNotes</label>
                <input type="text" class="form-control" id="CustomerStatementNotes" aria-describedby="CustomerStatementNotesHelp" placeholder="" disabled="disabled" value="{{.CustomerStatementNotes}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NotesMargin">NotesMargin</label>
                <input type="text" class="form-control" id="NotesMargin" aria-describedby="NotesMarginHelp" placeholder="0.00" disabled="disabled" value="{{.NotesMargin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RequestedBy">RequestedBy</label>
                <input type="text" class="form-control" id="RequestedBy" aria-describedby="RequestedByHelp" placeholder="" disabled="disabled" value="{{.RequestedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditReason">EditReason</label>
                <input type="text" class="form-control" id="EditReason" aria-describedby="EditReasonHelp" placeholder="" disabled="disabled" value="{{.EditReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditOtherReason">EditOtherReason</label>
                <input type="text" class="form-control" id="EditOtherReason" aria-describedby="EditOtherReasonHelp" placeholder="" disabled="disabled" value="{{.EditOtherReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NoticeDays">NoticeDays</label>
                <input type="text" class="form-control" id="NoticeDays" aria-describedby="NoticeDaysHelp" placeholder="0" disabled="disabled" value="{{.NoticeDays}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DebitFrequency">DebitFrequency</label>
                <input type="text" class="form-control" id="DebitFrequency" aria-describedby="DebitFrequencyHelp" placeholder="" disabled="disabled" value="{{.DebitFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditFrequency">CreditFrequency</label>
                <input type="text" class="form-control" id="CreditFrequency" aria-describedby="CreditFrequencyHelp" placeholder="" disabled="disabled" value="{{.CreditFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EURAmount">EURAmount</label>
                <input type="text" class="form-control" id="EURAmount" aria-describedby="EURAmountHelp" placeholder="0.00" disabled="disabled" value="{{.EURAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EUROtherAmount">EUROtherAmount</label>
                <input type="text" class="form-control" id="EUROtherAmount" aria-describedby="EUROtherAmountHelp" placeholder="0.00" disabled="disabled" value="{{.EUROtherAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentSystemSienaView">PaymentSystemSienaView</label>
                <input type="text" class="form-control" id="PaymentSystemSienaView" aria-describedby="PaymentSystemSienaViewHelp" placeholder="" disabled="disabled" value="{{.PaymentSystemSienaView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentSystemExternalView">PaymentSystemExternalView</label>
                <input type="text" class="form-control" id="PaymentSystemExternalView" aria-describedby="PaymentSystemExternalViewHelp" placeholder="" disabled="disabled" value="{{.PaymentSystemExternalView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CCY_Lookup">CCY_Lookup</label>
                <input type="text" class="form-control" id="CCY_Lookup" aria-describedby="CCY_LookupHelp" placeholder="" disabled="disabled" value="{{.CCY_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Book_Lookup">Book_Lookup</label>
                <input type="text" class="form-control" id="Book_Lookup" aria-describedby="Book_LookupHelp" placeholder="" disabled="disabled" value="{{.Book_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Portfolio_Lookup">Portfolio_Lookup</label>
                <input type="text" class="form-control" id="Portfolio_Lookup" aria-describedby="Portfolio_LookupHelp" placeholder="" disabled="disabled" value="{{.Portfolio_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre_Lookup">Centre_Lookup</label>
                <input type="text" class="form-control" id="Centre_Lookup" aria-describedby="Centre_LookupHelp" placeholder="" disabled="disabled" value="{{.Centre_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm_Lookup">Firm_Lookup</label>
                <input type="text" class="form-control" id="Firm_Lookup" aria-describedby="Firm_LookupHelp" placeholder="" disabled="disabled" value="{{.Firm_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealtCA_Extra">DealtCA_Extra</label>
                <input type="text" class="form-control" id="DealtCA_Extra" aria-describedby="DealtCA_ExtraHelp" placeholder="" disabled="disabled" value="{{.DealtCA_Extra}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AgainstCA_Extra">AgainstCA_Extra</label>
                <input type="text" class="form-control" id="AgainstCA_Extra" aria-describedby="AgainstCA_ExtraHelp" placeholder="" disabled="disabled" value="{{.AgainstCA_Extra}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LedgerCA_Extra">LedgerCA_Extra</label>
                <input type="text" class="form-control" id="LedgerCA_Extra" aria-describedby="LedgerCA_ExtraHelp" placeholder="" disabled="disabled" value="{{.LedgerCA_Extra}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CashBalanceCA_Extra">CashBalanceCA_Extra</label>
                <input type="text" class="form-control" id="CashBalanceCA_Extra" aria-describedby="CashBalanceCA_ExtraHelp" placeholder="" disabled="disabled" value="{{.CashBalanceCA_Extra}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
