{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/BookSave?Book={{.BookName}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.BookName}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/BookSave/Book={{.BookName}}" onclick="/BookSave/Book={{.BookName}}" title="Save Book"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Book"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="BookName" >BookName</label>
                <input type="text" class="form-control" id="BookName" name="BookName" aria-describedby="BookNameHelp" placeholder=""  value="{{.BookName}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullName" >FullName</label>
                <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""  value="{{.FullName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PLManage" >PLManage</label>
                <input type="text" class="form-control" id="PLManage" name="PLManage" aria-describedby="PLManageHelp" placeholder=""  value="{{.PLManage}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PLTransfer" >PLTransfer</label>
                <input type="text" class="form-control" id="PLTransfer" name="PLTransfer" aria-describedby="PLTransferHelp" placeholder=""  value="{{.PLTransfer}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DerivePL" >DerivePL</label>
                <input type="text" class="form-control" id="DerivePL" name="DerivePL" aria-describedby="DerivePLHelp" placeholder="True"  value="{{.DerivePL}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CostOfCarry" >CostOfCarry</label>
                <input type="text" class="form-control" id="CostOfCarry" name="CostOfCarry" aria-describedby="CostOfCarryHelp" placeholder="True"  value="{{.CostOfCarry}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CostOfFunding" >CostOfFunding</label>
                <input type="text" class="form-control" id="CostOfFunding" name="CostOfFunding" aria-describedby="CostOfFundingHelp" placeholder="True"  value="{{.CostOfFunding}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LotAllocationMethod" >LotAllocationMethod</label>
                <input type="text" class="form-control" id="LotAllocationMethod" name="LotAllocationMethod" aria-describedby="LotAllocationMethodHelp" placeholder=""  value="{{.LotAllocationMethod}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId" >InternalId</label>
                <input type="text" class="form-control" id="InternalId" name="InternalId" aria-describedby="InternalIdHelp" placeholder="0"  value="{{.InternalId}}" required>
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
