{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/BrokerSave?Code={{.Code}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Code}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/BrokerSave/Code={{.Code}}" onclick="/BrokerSave/Code={{.Code}}" title="Save Broker"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Broker"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="Code" >Code</label>
                <input type="text" class="form-control" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""  value="{{.Code}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Name" >Name</label>
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullName" >FullName</label>
                <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""  value="{{.FullName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Contact" >Contact</label>
                <input type="text" class="form-control" id="Contact" name="Contact" aria-describedby="ContactHelp" placeholder=""  value="{{.Contact}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Address" >Address</label>
                <input type="text" class="form-control" id="Address" name="Address" aria-describedby="AddressHelp" placeholder=""  value="{{.Address}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LEI" >LEI</label>
                <input type="text" class="form-control" id="LEI" name="LEI" aria-describedby="LEIHelp" placeholder=""  value="{{.LEI}}" >
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
