{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CMNotesEdit?ID={{.NoteId}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.NoteId}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Customer Note"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="NoteId">NoteId</label>
                <input type="text" class="form-control" id="NoteId" aria-describedby="NoteIdHelp" placeholder="0" disabled="disabled" value="{{.NoteId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="StreamId">StreamId</label>
                <input type="text" class="form-control" id="StreamId" aria-describedby="StreamIdHelp" placeholder="0" disabled="disabled" value="{{.StreamId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Summary">Summary</label>
                <input type="text" class="form-control" id="Summary" aria-describedby="SummaryHelp" placeholder="" disabled="disabled" value="{{.Summary}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Details">Details</label>
                <input type="text" class="form-control" id="Details" aria-describedby="DetailsHelp" placeholder="" disabled="disabled" value="{{.Details}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RecordState">RecordState</label>
                <input type="text" class="form-control" id="RecordState" aria-describedby="RecordStateHelp" placeholder="0" disabled="disabled" value="{{.RecordState}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreatedBy">CreatedBy</label>
                <input type="text" class="form-control" id="CreatedBy" aria-describedby="CreatedByHelp" placeholder="" disabled="disabled" value="{{.CreatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreatedDateTime">CreatedDateTime</label>
                <input type="text" class="form-control" id="CreatedDateTime" aria-describedby="CreatedDateTimeHelp" placeholder="" disabled="disabled" value="{{.CreatedDateTime}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
