{{template "header" .}}

<body>



  <div class="container-fluid">

    <div id="config">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}
            </div>
  <div class="col">
              <div class="btn-group float-right">

                <button id="print" type="button" class="btn btn-outline-info" onclick="window.print()" title="Print Counterparty"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>

      <div class="card-body">


        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#application" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-atom fa-2x"></i><br>Application</a>

          </li>

          <li class="nav-item">
            <a class="nav-link" id="siena-tab" data-toggle="tab" href="#siena" role="tab" aria-controls="contact" aria-selected="false"><img src="../assets/siena.png" alt="Siena" style="width:35px"></img><br>Siena</a>

          </li>
        </ul>

        <br>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="application" role="tabpanel" aria-labelledby="application-tab">
            <h5>Application -&nbsp{{.AppServerReleaseID}}&nbsp;[r{{.AppServerReleaseLevel}}-{{.AppServerReleaseNumber}}]</h5>
            <div class="row">
              <div class="col">
                <label for="responseType">App Server Release ID :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseID}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Level :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseLevel}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Number :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseNumber}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

  <br>
  <h5> Database Connection</h5>
            <div class="row">
              <div class="col-sm">
                <label for="sienaDataServer">MS SQL Server:</label>
                <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppDBServer}}" disabled="disabled" size="60" class="form-control">
                <small class="form-text text-muted">Machine Name or IP address</small>
              </div>
              <div class="col-sm">
                <label for="sienaDataSource">Database:</label>
                <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppDBDatabase}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBSchema">Schema:</label>
                <input type="text" id="sienaDBSchema" name="sienaDBSchema" value="{{.AppDBSchema}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>



            <div class="row">
              <div class="col-sm">
                <label for="sienaDBUser">DB User :</label>
                <input type="text" id="sienaDBUser" name="sienaDBUser" value="{{.AppDBUser}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPassword">DB Password :</label>
                <input type="text" id="sienaDBPassword" name="sienaDBPassword" value="{{.AppDBPassword}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPort">DB Port :</label>
                <input type="text" id="sienaDBPort" name="sienaDBPort" value="{{.AppDBPort}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>
<br>
<h5>Credentials & Session Management</h5>
<div class="row">
  <div class="col-sm">
    <label for="sienaDataServer">Session Life:</label>
    <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppSessionLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Duration</small>

  </div>
  <div class="col-sm">
    <label for="sienaDataSource">Credentials Life:</label>
    <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppCredentialsLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Days</small>
  </div>
</div>
          </div>


          <div class="tab-pane fade" id="siena" role="tabpanel" aria-labelledby="siena-tab">

            <h5> Default System</h5>
            <div class="row">
              <div class="col-sm">
           
            <label for="sienaName">Default Siena System</label>
            <input type="text" id="sienaName" name="sienaName" value="{{.AppDefaultSienaSystem}} ({{.SienaName}})" disabled="disabled" size="60" class="form-control">
            </div>
            <div class="col-sm">
            <label for="SienaSystemDate">Current System Date</label>
            <input type="text" id="SienaSystemDate" name="SienaSystemDate" value="{{.SienaSystemDate}}" disabled="disabled" size="60" class="form-control">
            </div>
            </div>
            <br>
            <h5> Default Database Connection</h5>
            <div class="row">
              <div class="col-sm">
                <label for="sienaDataServer">MS SQL Server:</label>
                <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.SienaDataServer}}" disabled="disabled" size="60" class="form-control">
                <small class="form-text text-muted">Machine Name or IP address</small>
              </div>
              <div class="col-sm">
                <label for="sienaDataSource">Database:</label>
                <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.SienaDataSource}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBSchema">Schema:</label>
                <input type="text" id="sienaDBSchema" name="sienaDBSchema" value="{{.SienaDBSchema}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <label for="sienaDBUser">DB User :</label>
                <input type="text" id="sienaDBUser" name="sienaDBUser" value="{{.SienaDBUser}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPassword">DB Password :</label>
                <input type="text" id="sienaDBPassword" name="sienaDBPassword" value="{{.SienaDBPassword}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPort">DB Port :</label>
                <input type="text" id="sienaDBPort" name="sienaDBPort" value="{{.SienaDBPort}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>
          <br>
            <h5>Systems Connections</h5>


              {{range .SienaSystems}}
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Name</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Name}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Static Data In</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Staticin}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Static Data Out</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Staticout}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Deal Import In</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Txnin}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Deal Import Out</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Txnout}}">
</div>
      <div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Funds Check Requests</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Fundscheckin}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Funds Check Responses</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Fundscheckout}}">
</div>
<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Rates Delivery</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled value="{{.Ratesout}}">
</div>
<br>
              {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
 {{template "footer" .}}
</body>
