{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CounterpartyExtensionsEdit?ID={{.CompID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CounterpartyExtensionsEdit/?ID={{.CompID}}" onclick="/CounterpartyExtensionsEdit/?ID={{.CompID}}" title="Edit Counterparty Extension"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Extension"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="NameFirm">NameFirm</label>
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled="disabled" value="{{.NameFirm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameCentre">NameCentre</label>
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled="disabled" value="{{.NameCentre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BICCode">BICCode</label>
                <input type="text" class="form-control" id="BICCode" aria-describedby="BICCodeHelp" placeholder="" disabled="disabled" value="{{.BICCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ContactIndicator">ContactIndicator</label>
                <input type="text" class="form-control" id="ContactIndicator" aria-describedby="ContactIndicatorHelp" placeholder="True" disabled="disabled" value="{{.ContactIndicator}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CoverTrade">CoverTrade</label>
                <input type="text" class="form-control" id="CoverTrade" aria-describedby="CoverTradeHelp" placeholder="True" disabled="disabled" value="{{.CoverTrade}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerCategory">CustomerCategory</label>
                <input type="text" class="form-control" id="CustomerCategory" aria-describedby="CustomerCategoryHelp" placeholder="" disabled="disabled" value="{{.CustomerCategory}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FSCSInclusive">FSCSInclusive</label>
                <input type="text" class="form-control" id="FSCSInclusive" aria-describedby="FSCSInclusiveHelp" placeholder="True" disabled="disabled" value="{{.FSCSInclusive}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FeeFactor">FeeFactor</label>
                <input type="text" class="form-control" id="FeeFactor" aria-describedby="FeeFactorHelp" placeholder="0.00" disabled="disabled" value="{{.FeeFactor}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InactiveStatus">InactiveStatus</label>
                <input type="text" class="form-control" id="InactiveStatus" aria-describedby="InactiveStatusHelp" placeholder="True" disabled="disabled" value="{{.InactiveStatus}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Indemnity">Indemnity</label>
                <input type="text" class="form-control" id="Indemnity" aria-describedby="IndemnityHelp" placeholder="True" disabled="disabled" value="{{.Indemnity}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KnowYourCustomerStatus">KnowYourCustomerStatus</label>
                <input type="text" class="form-control" id="KnowYourCustomerStatus" aria-describedby="KnowYourCustomerStatusHelp" placeholder="True" disabled="disabled" value="{{.KnowYourCustomerStatus}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LERLimitCarveOut">LERLimitCarveOut</label>
                <input type="text" class="form-control" id="LERLimitCarveOut" aria-describedby="LERLimitCarveOutHelp" placeholder="True" disabled="disabled" value="{{.LERLimitCarveOut}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LastAmended">LastAmended</label>
                <input type="text" class="form-control" id="LastAmended" aria-describedby="LastAmendedHelp" placeholder="" disabled="disabled" value="{{.LastAmended}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LastLogin">LastLogin</label>
                <input type="text" class="form-control" id="LastLogin" aria-describedby="LastLoginHelp" placeholder="" disabled="disabled" value="{{.LastLogin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LossGivenDefault">LossGivenDefault</label>
                <input type="text" class="form-control" id="LossGivenDefault" aria-describedby="LossGivenDefaultHelp" placeholder="0.00" disabled="disabled" value="{{.LossGivenDefault}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MIC">MIC</label>
                <input type="text" class="form-control" id="MIC" aria-describedby="MICHelp" placeholder="" disabled="disabled" value="{{.MIC}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ProtectedDepositor">ProtectedDepositor</label>
                <input type="text" class="form-control" id="ProtectedDepositor" aria-describedby="ProtectedDepositorHelp" placeholder="True" disabled="disabled" value="{{.ProtectedDepositor}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RPTCurrency">RPTCurrency</label>
                <input type="text" class="form-control" id="RPTCurrency" aria-describedby="RPTCurrencyHelp" placeholder="" disabled="disabled" value="{{.RPTCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RateTimeout">RateTimeout</label>
                <input type="text" class="form-control" id="RateTimeout" aria-describedby="RateTimeoutHelp" placeholder="0" disabled="disabled" value="{{.RateTimeout}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RateValidation">RateValidation</label>
                <input type="text" class="form-control" id="RateValidation" aria-describedby="RateValidationHelp" placeholder="" disabled="disabled" value="{{.RateValidation}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Registered">Registered</label>
                <input type="text" class="form-control" id="Registered" aria-describedby="RegisteredHelp" placeholder="True" disabled="disabled" value="{{.Registered}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RegulatoryCategory">RegulatoryCategory</label>
                <input type="text" class="form-control" id="RegulatoryCategory" aria-describedby="RegulatoryCategoryHelp" placeholder="" disabled="disabled" value="{{.RegulatoryCategory}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SecuredSettlement">SecuredSettlement</label>
                <input type="text" class="form-control" id="SecuredSettlement" aria-describedby="SecuredSettlementHelp" placeholder="True" disabled="disabled" value="{{.SecuredSettlement}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettlementLimitCarveOut">SettlementLimitCarveOut</label>
                <input type="text" class="form-control" id="SettlementLimitCarveOut" aria-describedby="SettlementLimitCarveOutHelp" placeholder="True" disabled="disabled" value="{{.SettlementLimitCarveOut}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SortCode">SortCode</label>
                <input type="text" class="form-control" id="SortCode" aria-describedby="SortCodeHelp" placeholder="" disabled="disabled" value="{{.SortCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Training">Training</label>
                <input type="text" class="form-control" id="Training" aria-describedby="TrainingHelp" placeholder="True" disabled="disabled" value="{{.Training}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TrainingCode">TrainingCode</label>
                <input type="text" class="form-control" id="TrainingCode" aria-describedby="TrainingCodeHelp" placeholder="" disabled="disabled" value="{{.TrainingCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TrainingReceived">TrainingReceived</label>
                <input type="text" class="form-control" id="TrainingReceived" aria-describedby="TrainingReceivedHelp" placeholder="True" disabled="disabled" value="{{.TrainingReceived}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Unencumbered">Unencumbered</label>
                <input type="text" class="form-control" id="Unencumbered" aria-describedby="UnencumberedHelp" placeholder="True" disabled="disabled" value="{{.Unencumbered}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LEIExpiryDate">LEIExpiryDate</label>
                <input type="text" class="form-control" id="LEIExpiryDate" aria-describedby="LEIExpiryDateHelp" placeholder="" disabled="disabled" value="{{.LEIExpiryDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MIFIDReviewDate">MIFIDReviewDate</label>
                <input type="text" class="form-control" id="MIFIDReviewDate" aria-describedby="MIFIDReviewDateHelp" placeholder="" disabled="disabled" value="{{.MIFIDReviewDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="GDPRReviewDate">GDPRReviewDate</label>
                <input type="text" class="form-control" id="GDPRReviewDate" aria-describedby="GDPRReviewDateHelp" placeholder="" disabled="disabled" value="{{.GDPRReviewDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DelegatedReporting">DelegatedReporting</label>
                <input type="text" class="form-control" id="DelegatedReporting" aria-describedby="DelegatedReportingHelp" placeholder="" disabled="disabled" value="{{.DelegatedReporting}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BOReconcile">BOReconcile</label>
                <input type="text" class="form-control" id="BOReconcile" aria-describedby="BOReconcileHelp" placeholder="True" disabled="disabled" value="{{.BOReconcile}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MIFIDReportableDealsAllowed">MIFIDReportableDealsAllowed</label>
                <input type="text" class="form-control" id="MIFIDReportableDealsAllowed" aria-describedby="MIFIDReportableDealsAllowedHelp" placeholder="True" disabled="disabled" value="{{.MIFIDReportableDealsAllowed}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SignedInvestmentAgreement">SignedInvestmentAgreement</label>
                <input type="text" class="form-control" id="SignedInvestmentAgreement" aria-describedby="SignedInvestmentAgreementHelp" placeholder="True" disabled="disabled" value="{{.SignedInvestmentAgreement}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AppropriatenessAssessment">AppropriatenessAssessment</label>
                <input type="text" class="form-control" id="AppropriatenessAssessment" aria-describedby="AppropriatenessAssessmentHelp" placeholder="True" disabled="disabled" value="{{.AppropriatenessAssessment}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FinancialCounterparty">FinancialCounterparty</label>
                <input type="text" class="form-control" id="FinancialCounterparty" aria-describedby="FinancialCounterpartyHelp" placeholder="True" disabled="disabled" value="{{.FinancialCounterparty}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Collateralisation">Collateralisation</label>
                <input type="text" class="form-control" id="Collateralisation" aria-describedby="CollateralisationHelp" placeholder="" disabled="disabled" value="{{.Collateralisation}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PortfolioCode">PortfolioCode</label>
                <input type="text" class="form-control" id="PortfolioCode" aria-describedby="PortfolioCodeHelp" placeholder="" disabled="disabled" value="{{.PortfolioCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ReconciliationLetterFrequency">ReconciliationLetterFrequency</label>
                <input type="text" class="form-control" id="ReconciliationLetterFrequency" aria-describedby="ReconciliationLetterFrequencyHelp" placeholder="" disabled="disabled" value="{{.ReconciliationLetterFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DirectDealing">DirectDealing</label>
                <input type="text" class="form-control" id="DirectDealing" aria-describedby="DirectDealingHelp" placeholder="True" disabled="disabled" value="{{.DirectDealing}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID">CompID</label>
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled="disabled" value="{{.CompID}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
