{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CounterpartyEdit?ID={{.CompID}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CounterpartyEdit/?ID={{.CompID}}" onclick="/CounterpartyEdit/?ID={{.CompID}}" title="Edit Counterparty"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="NameCentre">NameCentre</label>
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled="disabled" value="{{.NameCentre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameFirm">NameFirm</label>
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled="disabled" value="{{.NameFirm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullName">FullName</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled="disabled" value="{{.FullName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TelephoneNumber">TelephoneNumber</label>
                <input type="text" class="form-control" id="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder="" disabled="disabled" value="{{.TelephoneNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EmailAddress">EmailAddress</label>
                <input type="text" class="form-control" id="EmailAddress" aria-describedby="EmailAddressHelp" placeholder="" disabled="disabled" value="{{.EmailAddress}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerType">CustomerType</label>
                <input type="text" class="form-control" id="CustomerType" aria-describedby="CustomerTypeHelp" placeholder="" disabled="disabled" value="{{.CustomerType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountOfficer">AccountOfficer</label>
                <input type="text" class="form-control" id="AccountOfficer" aria-describedby="AccountOfficerHelp" placeholder="" disabled="disabled" value="{{.AccountOfficer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CountryCode">CountryCode</label>
                <input type="text" class="form-control" id="CountryCode" aria-describedby="CountryCodeHelp" placeholder="" disabled="disabled" value="{{.CountryCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SectorCode">SectorCode</label>
                <input type="text" class="form-control" id="SectorCode" aria-describedby="SectorCodeHelp" placeholder="" disabled="disabled" value="{{.SectorCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CpartyGroupName">CpartyGroupName</label>
                <input type="text" class="form-control" id="CpartyGroupName" aria-describedby="CpartyGroupNameHelp" placeholder="" disabled="disabled" value="{{.CpartyGroupName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Notes">Notes</label>
                <input type="text" class="form-control" id="Notes" aria-describedby="NotesHelp" placeholder="" disabled="disabled" value="{{.Notes}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Owner">Owner</label>
                <input type="text" class="form-control" id="Owner" aria-describedby="OwnerHelp" placeholder="" disabled="disabled" value="{{.Owner}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Authorised">Authorised</label>
                <input type="text" class="form-control" id="Authorised" aria-describedby="AuthorisedHelp" placeholder="True" disabled="disabled" value="{{.Authorised}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameFirmName">NameFirmName</label>
                <input type="text" class="form-control" id="NameFirmName" aria-describedby="NameFirmNameHelp" placeholder="" disabled="disabled" value="{{.NameFirmName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameCentreName">NameCentreName</label>
                <input type="text" class="form-control" id="NameCentreName" aria-describedby="NameCentreNameHelp" placeholder="" disabled="disabled" value="{{.NameCentreName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CountryCodeName">CountryCodeName</label>
                <input type="text" class="form-control" id="CountryCodeName" aria-describedby="CountryCodeNameHelp" placeholder="" disabled="disabled" value="{{.CountryCodeName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SectorCodeName">SectorCodeName</label>
                <input type="text" class="form-control" id="SectorCodeName" aria-describedby="SectorCodeNameHelp" placeholder="" disabled="disabled" value="{{.SectorCodeName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID">CompID</label>
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled="disabled" value="{{.CompID}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
