{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CounterpartyCreditRatingSave?ID={{.CompID}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyCreditRatingSave&ID={{.CompID}}" onclick="/CounterpartyCreditRatingSave/?ID={{.CompID}}" title="Save Counterparty Credit Rating"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Credit Rating"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="NameFirm" >NameFirm</label>
                <input type="text" class="form-control" id="NameFirm" name="NameFirm" aria-describedby="NameFirmHelp" placeholder=""  value="{{.NameFirm}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameCentre" >NameCentre</label>
                <input type="text" class="form-control" id="NameCentre" name="NameCentre" aria-describedby="NameCentreHelp" placeholder=""  value="{{.NameCentre}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditRatingUsage" >CreditRatingUsage</label>
                <input type="text" class="form-control" id="CreditRatingUsage" name="CreditRatingUsage" aria-describedby="CreditRatingUsageHelp" placeholder=""  value="{{.CreditRatingUsage}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditRatingAgency" >CreditRatingAgency</label>
                <input type="text" class="form-control" id="CreditRatingAgency" name="CreditRatingAgency" aria-describedby="CreditRatingAgencyHelp" placeholder=""  value="{{.CreditRatingAgency}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditRatingName" >CreditRatingName</label>
                <input type="text" class="form-control" id="CreditRatingName" name="CreditRatingName" aria-describedby="CreditRatingNameHelp" placeholder=""  value="{{.CreditRatingName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID" >CompID</label>
                <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
              </div>
            </div>

     
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
