{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CounterpartyImportSave?ID={{.CompID}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyImportSave&ID={{.CompID}}" onclick="/CounterpartyImportSave/?ID={{.CompID}}" title="Save Counterparty Import"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Import"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="KeyImportID" >KeyImportID</label>
                <input type="text" class="form-control" id="KeyImportID" name="KeyImportID" aria-describedby="KeyImportIDHelp" placeholder=""  value="{{.KeyImportID}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm" >Firm</label>
                <input type="text" class="form-control" id="Firm" name="Firm" aria-describedby="FirmHelp" placeholder=""  value="{{.Firm}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre" >Centre</label>
                <input type="text" class="form-control" id="Centre" name="Centre" aria-describedby="CentreHelp" placeholder=""  value="{{.Centre}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirmName" >FirmName</label>
                <input type="text" class="form-control" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""  value="{{.FirmName}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CentreName" >CentreName</label>
                <input type="text" class="form-control" id="CentreName" name="CentreName" aria-describedby="CentreNameHelp" placeholder=""  value="{{.CentreName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyOriginID" >KeyOriginID</label>
                <input type="text" class="form-control" id="KeyOriginID" name="KeyOriginID" aria-describedby="KeyOriginIDHelp" placeholder=""  value="{{.KeyOriginID}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullName" >FullName</label>
                <input type="text" class="form-control" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""  value="{{.FullName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID" >CompID</label>
                <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
              </div>
            </div>

     
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
