{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CounterpartyAddressSave?ID={{.CompID}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/CounterpartyAddressSave/ID={{.CompID}}" onclick="/CounterpartyAddressSave/ID={{.CompID}}" title="Save Counterparty Address"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Counterparty Address"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="NameFirm" >NameFirm</label>
                <input type="text" class="form-control" id="NameFirm" name="NameFirm" aria-describedby="NameFirmHelp" placeholder=""  value="{{.NameFirm}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameCentre" >NameCentre</label>
                <input type="text" class="form-control" id="NameCentre" name="NameCentre" aria-describedby="NameCentreHelp" placeholder=""  value="{{.NameCentre}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Address1" >Address1</label>
                <input type="text" class="form-control" id="Address1" name="Address1" aria-describedby="Address1Help" placeholder=""  value="{{.Address1}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Address2" >Address2</label>
                <input type="text" class="form-control" id="Address2" name="Address2" aria-describedby="Address2Help" placeholder=""  value="{{.Address2}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CityTown" >CityTown</label>
                <input type="text" class="form-control" id="CityTown" name="CityTown" aria-describedby="CityTownHelp" placeholder=""  value="{{.CityTown}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="County" >County</label>
                <input type="text" class="form-control" id="County" name="County" aria-describedby="CountyHelp" placeholder=""  value="{{.County}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Postcode" >Postcode</label>
                <input type="text" class="form-control" id="Postcode" name="Postcode" aria-describedby="PostcodeHelp" placeholder=""  value="{{.Postcode}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID" >CompID</label>
                <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
