{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CredentialsEdit?Id={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Id}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CredentialsEdit/?Id={{.Id}}" onclick="/CredentialsEdit/?Id={{.Id}}" title="Edit Credential"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Credential"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId">SYSId</label>
                <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled="disabled" value="{{.SYSId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Id">Id</label>
                <input type="text" class="form-control" id="Id" aria-describedby="IdHelp" placeholder="" disabled="disabled" value="{{.Id}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" aria-describedby="UsernameHelp" placeholder="" disabled="disabled" value="{{.Username}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Password">Password</label>
                <input type="text" class="form-control" id="Password" aria-describedby="PasswordHelp" placeholder="" disabled="disabled" value="{{.Password}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firstname">Firstname</label>
                <input type="text" class="form-control" id="Firstname" aria-describedby="FirstnameHelp" placeholder="" disabled="disabled" value="{{.Firstname}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Lastname">Lastname</label>
                <input type="text" class="form-control" id="Lastname" aria-describedby="LastnameHelp" placeholder="" disabled="disabled" value="{{.Lastname}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Knownas">Knownas</label>
                <input type="text" class="form-control" id="Knownas" aria-describedby="KnownasHelp" placeholder="" disabled="disabled" value="{{.Knownas}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" aria-describedby="EmailHelp" placeholder="" disabled="disabled" value="{{.Email}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Issued">Issued</label>
                <input type="text" class="form-control" id="Issued" aria-describedby="IssuedHelp" placeholder="" disabled="disabled" value="{{.Issued}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Expiry">Expiry</label>
                <input type="text" class="form-control" id="Expiry" aria-describedby="ExpiryHelp" placeholder="" disabled="disabled" value="{{.Expiry}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RoleType">RoleType</label>
                <input type="text" class="form-control" id="RoleType" aria-describedby="RoleTypeHelp" placeholder="" disabled="disabled" value="{{.RoleType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Brand">Brand</label>
                <input type="text" class="form-control" id="Brand" aria-describedby="BrandHelp" placeholder="" disabled="disabled" value="{{.Brand}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated">SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled="disabled" value="{{.SYSCreated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSWho">SYSWho</label>
                <input type="text" class="form-control" id="SYSWho" aria-describedby="SYSWhoHelp" placeholder="" disabled="disabled" value="{{.SYSWho}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSHost">SYSHost</label>
                <input type="text" class="form-control" id="SYSHost" aria-describedby="SYSHostHelp" placeholder="" disabled="disabled" value="{{.SYSHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated">SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled="disabled" value="{{.SYSUpdated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy">SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost">SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy">SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost">SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedHost}}">
              </div>
            </div>
        </div>
{{template "audit" .}}
      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
