{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/CurrencyPairEdit?Code={{.Code}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Code}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/CurrencyPairEdit/?Code={{.Code}}" onclick="/CurrencyPairEdit/?Code={{.Code}}" title="Edit Currency Pair"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Currency Pair"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="CodeMajorCurrencyIsoCode">CodeMajorCurrencyIsoCode</label>
                <input type="text" class="form-control" id="CodeMajorCurrencyIsoCode" aria-describedby="CodeMajorCurrencyIsoCodeHelp" placeholder="" disabled="disabled" value="{{.CodeMajorCurrencyIsoCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CodeMinorCurrencyIsoCode">CodeMinorCurrencyIsoCode</label>
                <input type="text" class="form-control" id="CodeMinorCurrencyIsoCode" aria-describedby="CodeMinorCurrencyIsoCodeHelp" placeholder="" disabled="disabled" value="{{.CodeMinorCurrencyIsoCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ReciprocalActive">ReciprocalActive</label>
                <input type="text" class="form-control" id="ReciprocalActive" aria-describedby="ReciprocalActiveHelp" placeholder="True" disabled="disabled" value="{{.ReciprocalActive}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" aria-describedby="CodeHelp" placeholder="" disabled="disabled" value="{{.Code}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MajorName">MajorName</label>
                <input type="text" class="form-control" id="MajorName" aria-describedby="MajorNameHelp" placeholder="" disabled="disabled" value="{{.MajorName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MinorName">MinorName</label>
                <input type="text" class="form-control" id="MinorName" aria-describedby="MinorNameHelp" placeholder="" disabled="disabled" value="{{.MinorName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Major_Lookup">Major_Lookup</label>
                <input type="text" class="form-control" id="Major_Lookup" aria-describedby="Major_LookupHelp" placeholder="" disabled="disabled" value="{{.Major_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Minor_Lookup">Minor_Lookup</label>
                <input type="text" class="form-control" id="Minor_Lookup" aria-describedby="Minor_LookupHelp" placeholder="" disabled="disabled" value="{{.Minor_Lookup}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
