{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/DataLoaderSave?Id={{.Id}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Id}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/DataLoaderSave/Id={{.Id}}" onclick="/DataLoaderSave/Id={{.Id}}" title="Save Data Loader"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Data Loader"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId" hidden>SYSId</label>
                <input type="text" class="form-control" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="{{.SYSId}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Id" >Id</label>
                <input type="text" class="form-control" id="Id" name="Id" aria-describedby="IdHelp" placeholder=""  value="{{.Id}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Name" >Name</label>
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Description" >Description</label>
                <input type="text" class="form-control" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  value="{{.Description}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Filename" >Filename</label>
                <input type="text" class="form-control" id="Filename" name="Filename" aria-describedby="FilenameHelp" placeholder=""  value="{{.Filename}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Lastrun" >Lastrun</label>
                <input type="text" class="form-control" id="Lastrun" name="Lastrun" aria-describedby="LastrunHelp" placeholder=""  value="{{.Lastrun}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated" hidden>SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSWho" hidden>SYSWho</label>
                <input type="text" class="form-control" id="SYSWho" name="SYSWho" aria-describedby="SYSWhoHelp" placeholder="" hidden value="{{.SYSWho}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSHost" hidden>SYSHost</label>
                <input type="text" class="form-control" id="SYSHost" name="SYSHost" aria-describedby="SYSHostHelp" placeholder="" hidden value="{{.SYSHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated" hidden>SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Type" >Type</label>
                <input type="text" class="form-control" id="Type" name="Type" aria-describedby="TypeHelp" placeholder=""  value="{{.Type}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Instance" >Instance</label>
                <input type="text" class="form-control" id="Instance" name="Instance" aria-describedby="InstanceHelp" placeholder=""  value="{{.Instance}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Extension" >Extension</label>
                <input type="text" class="form-control" id="Extension" name="Extension" aria-describedby="ExtensionHelp" placeholder=""  value="{{.Extension}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy" hidden>SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost" hidden>SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}" >
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
