{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/DealTypeEdit?DealTypeKey={{.DealTypeKey}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.DealTypeKey}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/DealTypeEdit/?DealTypeKey={{.DealTypeKey}}" onclick="/DealTypeEdit/?DealTypeKey={{.DealTypeKey}}" title="Edit Deal Type"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeKey">DealTypeKey</label>
                <input type="text" class="form-control" id="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder="" disabled="disabled" value="{{.DealTypeKey}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeShortName">DealTypeShortName</label>
                <input type="text" class="form-control" id="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder="" disabled="disabled" value="{{.DealTypeShortName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HostKey">HostKey</label>
                <input type="text" class="form-control" id="HostKey" aria-describedby="HostKeyHelp" placeholder="" disabled="disabled" value="{{.HostKey}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IsActive">IsActive</label>
                <input type="text" class="form-control" id="IsActive" aria-describedby="IsActiveHelp" placeholder="True" disabled="disabled" value="{{.IsActive}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Interbook">Interbook</label>
                <input type="text" class="form-control" id="Interbook" aria-describedby="InterbookHelp" placeholder="True" disabled="disabled" value="{{.Interbook}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeLink">BackOfficeLink</label>
                <input type="text" class="form-control" id="BackOfficeLink" aria-describedby="BackOfficeLinkHelp" placeholder="True" disabled="disabled" value="{{.BackOfficeLink}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HasTicket">HasTicket</label>
                <input type="text" class="form-control" id="HasTicket" aria-describedby="HasTicketHelp" placeholder="True" disabled="disabled" value="{{.HasTicket}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CurrencyOverride">CurrencyOverride</label>
                <input type="text" class="form-control" id="CurrencyOverride" aria-describedby="CurrencyOverrideHelp" placeholder="True" disabled="disabled" value="{{.CurrencyOverride}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CurrencyHolderCurrency">CurrencyHolderCurrency</label>
                <input type="text" class="form-control" id="CurrencyHolderCurrency" aria-describedby="CurrencyHolderCurrencyHelp" placeholder="" disabled="disabled" value="{{.CurrencyHolderCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AllBooks">AllBooks</label>
                <input type="text" class="form-control" id="AllBooks" aria-describedby="AllBooksHelp" placeholder="True" disabled="disabled" value="{{.AllBooks}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FundamentalDealTypeKey">FundamentalDealTypeKey</label>
                <input type="text" class="form-control" id="FundamentalDealTypeKey" aria-describedby="FundamentalDealTypeKeyHelp" placeholder="" disabled="disabled" value="{{.FundamentalDealTypeKey}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RelatedDealType">RelatedDealType</label>
                <input type="text" class="form-control" id="RelatedDealType" aria-describedby="RelatedDealTypeHelp" placeholder="" disabled="disabled" value="{{.RelatedDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BookName">BookName</label>
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled="disabled" value="{{.BookName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExportMethod">ExportMethod</label>
                <input type="text" class="form-control" id="ExportMethod" aria-describedby="ExportMethodHelp" placeholder="" disabled="disabled" value="{{.ExportMethod}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DefaultUserLayoffBooks">DefaultUserLayoffBooks</label>
                <input type="text" class="form-control" id="DefaultUserLayoffBooks" aria-describedby="DefaultUserLayoffBooksHelp" placeholder="True" disabled="disabled" value="{{.DefaultUserLayoffBooks}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RFQ">RFQ</label>
                <input type="text" class="form-control" id="RFQ" aria-describedby="RFQHelp" placeholder="True" disabled="disabled" value="{{.RFQ}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OBS">OBS</label>
                <input type="text" class="form-control" id="OBS" aria-describedby="OBSHelp" placeholder="True" disabled="disabled" value="{{.OBS}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KID">KID</label>
                <input type="text" class="form-control" id="KID" aria-describedby="KIDHelp" placeholder="True" disabled="disabled" value="{{.KID}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId">InternalId</label>
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled="disabled" value="{{.InternalId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalDeleted">InternalDeleted</label>
                <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled="disabled" value="{{.InternalDeleted}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedTransactionId">UpdatedTransactionId</label>
                <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedDateTime">UpdatedDateTime</label>
                <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled="disabled" value="{{.UpdatedDateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedTransactionId">DeletedTransactionId</label>
                <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.DeletedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedUserId">DeletedUserId</label>
                <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled="disabled" value="{{.DeletedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeType">ChangeType</label>
                <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled="disabled" value="{{.ChangeType}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
