{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/DealingInterfaceSave?Name={{.Name}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Name}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/DealingInterfaceSave/Name={{.Name}}" onclick="/DealingInterfaceSave/Name={{.Name}}" title="Save Dealing Interface"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Dealing Interface"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="Name" >Name</label>
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AcceptReducedAmount" >AcceptReducedAmount</label>
                <input type="text" class="form-control" id="AcceptReducedAmount" name="AcceptReducedAmount" aria-describedby="AcceptReducedAmountHelp" placeholder="True"  value="{{.AcceptReducedAmount}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="QuoteAsIndicative" >QuoteAsIndicative</label>
                <input type="text" class="form-control" id="QuoteAsIndicative" name="QuoteAsIndicative" aria-describedby="QuoteAsIndicativeHelp" placeholder="True"  value="{{.QuoteAsIndicative}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RateTimeOut" >RateTimeOut</label>
                <input type="text" class="form-control" id="RateTimeOut" name="RateTimeOut" aria-describedby="RateTimeOutHelp" placeholder="0"  value="{{.RateTimeOut}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PropagationDelay" >PropagationDelay</label>
                <input type="text" class="form-control" id="PropagationDelay" name="PropagationDelay" aria-describedby="PropagationDelayHelp" placeholder="0"  value="{{.PropagationDelay}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CheckLiquidity" >CheckLiquidity</label>
                <input type="text" class="form-control" id="CheckLiquidity" name="CheckLiquidity" aria-describedby="CheckLiquidityHelp" placeholder="True"  value="{{.CheckLiquidity}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeQuoteDirection" >ChangeQuoteDirection</label>
                <input type="text" class="form-control" id="ChangeQuoteDirection" name="ChangeQuoteDirection" aria-describedby="ChangeQuoteDirectionHelp" placeholder="True"  value="{{.ChangeQuoteDirection}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="GenerateRejectedDeals" >GenerateRejectedDeals</label>
                <input type="text" class="form-control" id="GenerateRejectedDeals" name="GenerateRejectedDeals" aria-describedby="GenerateRejectedDealsHelp" placeholder="True"  value="{{.GenerateRejectedDeals}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotUpdatesForForwardQuotes" >SpotUpdatesForForwardQuotes</label>
                <input type="text" class="form-control" id="SpotUpdatesForForwardQuotes" name="SpotUpdatesForForwardQuotes" aria-describedby="SpotUpdatesForForwardQuotesHelp" placeholder="True"  value="{{.SpotUpdatesForForwardQuotes}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettlementInstructionStyle" >SettlementInstructionStyle</label>
                <input type="text" class="form-control" id="SettlementInstructionStyle" name="SettlementInstructionStyle" aria-describedby="SettlementInstructionStyleHelp" placeholder=""  value="{{.SettlementInstructionStyle}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CanRetractQuotes" >CanRetractQuotes</label>
                <input type="text" class="form-control" id="CanRetractQuotes" name="CanRetractQuotes" aria-describedby="CanRetractQuotesHelp" placeholder="True"  value="{{.CanRetractQuotes}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CancelESPifNotPriced" >CancelESPifNotPriced</label>
                <input type="text" class="form-control" id="CancelESPifNotPriced" name="CancelESPifNotPriced" aria-describedby="CancelESPifNotPricedHelp" placeholder="True"  value="{{.CancelESPifNotPriced}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CancelRFQSifNotPriced" >CancelRFQSifNotPriced</label>
                <input type="text" class="form-control" id="CancelRFQSifNotPriced" name="CancelRFQSifNotPriced" aria-describedby="CancelRFQSifNotPricedHelp" placeholder="True"  value="{{.CancelRFQSifNotPriced}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CancelonDealingSuspended" >CancelonDealingSuspended</label>
                <input type="text" class="form-control" id="CancelonDealingSuspended" name="CancelonDealingSuspended" aria-describedby="CancelonDealingSuspendedHelp" placeholder="True"  value="{{.CancelonDealingSuspended}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditCheckedatDI" >CreditCheckedatDI</label>
                <input type="text" class="form-control" id="CreditCheckedatDI" name="CreditCheckedatDI" aria-describedby="CreditCheckedatDIHelp" placeholder="True"  value="{{.CreditCheckedatDI}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DuplicateCheckonExternalRef" >DuplicateCheckonExternalRef</label>
                <input type="text" class="form-control" id="DuplicateCheckonExternalRef" name="DuplicateCheckonExternalRef" aria-describedby="DuplicateCheckonExternalRefHelp" placeholder="True"  value="{{.DuplicateCheckonExternalRef}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LimitCheckQuote" >LimitCheckQuote</label>
                <input type="text" class="form-control" id="LimitCheckQuote" name="LimitCheckQuote" aria-describedby="LimitCheckQuoteHelp" placeholder="True"  value="{{.LimitCheckQuote}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LimitCheckonRFQDealSubmission" >LimitCheckonRFQDealSubmission</label>
                <input type="text" class="form-control" id="LimitCheckonRFQDealSubmission" name="LimitCheckonRFQDealSubmission" aria-describedby="LimitCheckonRFQDealSubmissionHelp" placeholder="True"  value="{{.LimitCheckonRFQDealSubmission}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ListenonLimits" >ListenonLimits</label>
                <input type="text" class="form-control" id="ListenonLimits" name="ListenonLimits" aria-describedby="ListenonLimitsHelp" placeholder="True"  value="{{.ListenonLimits}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MarginStyle" >MarginStyle</label>
                <input type="text" class="form-control" id="MarginStyle" name="MarginStyle" aria-describedby="MarginStyleHelp" placeholder=""  value="{{.MarginStyle}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UseRerouteDefinitionOnly" >UseRerouteDefinitionOnly</label>
                <input type="text" class="form-control" id="UseRerouteDefinitionOnly" name="UseRerouteDefinitionOnly" aria-describedby="UseRerouteDefinitionOnlyHelp" placeholder="True"  value="{{.UseRerouteDefinitionOnly}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BypassConfirmation" >BypassConfirmation</label>
                <input type="text" class="form-control" id="BypassConfirmation" name="BypassConfirmation" aria-describedby="BypassConfirmationHelp" placeholder="True"  value="{{.BypassConfirmation}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DIOnAcceptance" >DIOnAcceptance</label>
                <input type="text" class="form-control" id="DIOnAcceptance" name="DIOnAcceptance" aria-describedby="DIOnAcceptanceHelp" placeholder="True"  value="{{.DIOnAcceptance}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IgnoreESPAmountRules" >IgnoreESPAmountRules</label>
                <input type="text" class="form-control" id="IgnoreESPAmountRules" name="IgnoreESPAmountRules" aria-describedby="IgnoreESPAmountRulesHelp" placeholder="True"  value="{{.IgnoreESPAmountRules}}" >
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
