{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/DealTypeFundamentalEdit?DealTypeKey={{.DealTypeKey}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.DealTypeKey}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/DealTypeFundamentalEdit/?DealTypeKey={{.DealTypeKey}}" onclick="/DealTypeFundamentalEdit/?DealTypeKey={{.DealTypeKey}}" title="Edit Deal Type Fundamental"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type Fundamental"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeKey">DealTypeKey</label>
                <input type="text" class="form-control" id="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder="" disabled="disabled" value="{{.DealTypeKey}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Amendment">Amendment</label>
                <input type="text" class="form-control" id="Amendment" aria-describedby="AmendmentHelp" placeholder="True" disabled="disabled" value="{{.Amendment}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DefaultFrequency">DefaultFrequency</label>
                <input type="text" class="form-control" id="DefaultFrequency" aria-describedby="DefaultFrequencyHelp" placeholder="0" disabled="disabled" value="{{.DefaultFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Directions">Directions</label>
                <input type="text" class="form-control" id="Directions" aria-describedby="DirectionsHelp" placeholder="" disabled="disabled" value="{{.Directions}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettledTermDealType">SettledTermDealType</label>
                <input type="text" class="form-control" id="SettledTermDealType" aria-describedby="SettledTermDealTypeHelp" placeholder="" disabled="disabled" value="{{.SettledTermDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Optn">Optn</label>
                <input type="text" class="form-control" id="Optn" aria-describedby="OptnHelp" placeholder="True" disabled="disabled" value="{{.Optn}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AllowPledge">AllowPledge</label>
                <input type="text" class="form-control" id="AllowPledge" aria-describedby="AllowPledgeHelp" placeholder="True" disabled="disabled" value="{{.AllowPledge}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Takeup">Takeup</label>
                <input type="text" class="form-control" id="Takeup" aria-describedby="TakeupHelp" placeholder="True" disabled="disabled" value="{{.Takeup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MismatchDealType">MismatchDealType</label>
                <input type="text" class="form-control" id="MismatchDealType" aria-describedby="MismatchDealTypeHelp" placeholder="" disabled="disabled" value="{{.MismatchDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettledHedgeTermDealType">SettledHedgeTermDealType</label>
                <input type="text" class="form-control" id="SettledHedgeTermDealType" aria-describedby="SettledHedgeTermDealTypeHelp" placeholder="" disabled="disabled" value="{{.SettledHedgeTermDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettlementCode">SettlementCode</label>
                <input type="text" class="form-control" id="SettlementCode" aria-describedby="SettlementCodeHelp" placeholder="" disabled="disabled" value="{{.SettlementCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TermSubType">TermSubType</label>
                <input type="text" class="form-control" id="TermSubType" aria-describedby="TermSubTypeHelp" placeholder="" disabled="disabled" value="{{.TermSubType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FundingDealType">FundingDealType</label>
                <input type="text" class="form-control" id="FundingDealType" aria-describedby="FundingDealTypeHelp" placeholder="" disabled="disabled" value="{{.FundingDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TransferType">TransferType</label>
                <input type="text" class="form-control" id="TransferType" aria-describedby="TransferTypeHelp" placeholder="" disabled="disabled" value="{{.TransferType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TermDealType">TermDealType</label>
                <input type="text" class="form-control" id="TermDealType" aria-describedby="TermDealTypeHelp" placeholder="" disabled="disabled" value="{{.TermDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NegotiableInstrumentType">NegotiableInstrumentType</label>
                <input type="text" class="form-control" id="NegotiableInstrumentType" aria-describedby="NegotiableInstrumentTypeHelp" placeholder="" disabled="disabled" value="{{.NegotiableInstrumentType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Mismatch">Mismatch</label>
                <input type="text" class="form-control" id="Mismatch" aria-describedby="MismatchHelp" placeholder="True" disabled="disabled" value="{{.Mismatch}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ComplexTransferSubType">ComplexTransferSubType</label>
                <input type="text" class="form-control" id="ComplexTransferSubType" aria-describedby="ComplexTransferSubTypeHelp" placeholder="" disabled="disabled" value="{{.ComplexTransferSubType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LayOffDealType">LayOffDealType</label>
                <input type="text" class="form-control" id="LayOffDealType" aria-describedby="LayOffDealTypeHelp" placeholder="" disabled="disabled" value="{{.LayOffDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIAccount">NIAccount</label>
                <input type="text" class="form-control" id="NIAccount" aria-describedby="NIAccountHelp" placeholder="0" disabled="disabled" value="{{.NIAccount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SimpleMMsubtype">SimpleMMsubtype</label>
                <input type="text" class="form-control" id="SimpleMMsubtype" aria-describedby="SimpleMMsubtypeHelp" placeholder="0" disabled="disabled" value="{{.SimpleMMsubtype}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SwapDealType">SwapDealType</label>
                <input type="text" class="form-control" id="SwapDealType" aria-describedby="SwapDealTypeHelp" placeholder="" disabled="disabled" value="{{.SwapDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Positions">Positions</label>
                <input type="text" class="form-control" id="Positions" aria-describedby="PositionsHelp" placeholder="" disabled="disabled" value="{{.Positions}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OptionOutright">OptionOutright</label>
                <input type="text" class="form-control" id="OptionOutright" aria-describedby="OptionOutrightHelp" placeholder="" disabled="disabled" value="{{.OptionOutright}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettledHedgeSpotDealType">SettledHedgeSpotDealType</label>
                <input type="text" class="form-control" id="SettledHedgeSpotDealType" aria-describedby="SettledHedgeSpotDealTypeHelp" placeholder="" disabled="disabled" value="{{.SettledHedgeSpotDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="StraightThroughInterestMethod">StraightThroughInterestMethod</label>
                <input type="text" class="form-control" id="StraightThroughInterestMethod" aria-describedby="StraightThroughInterestMethodHelp" placeholder="True" disabled="disabled" value="{{.StraightThroughInterestMethod}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SubType">SubType</label>
                <input type="text" class="form-control" id="SubType" aria-describedby="SubTypeHelp" placeholder="" disabled="disabled" value="{{.SubType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Rollover">Rollover</label>
                <input type="text" class="form-control" id="Rollover" aria-describedby="RolloverHelp" placeholder="True" disabled="disabled" value="{{.Rollover}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DefaultIssuer">DefaultIssuer</label>
                <input type="text" class="form-control" id="DefaultIssuer" aria-describedby="DefaultIssuerHelp" placeholder="" disabled="disabled" value="{{.DefaultIssuer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DefaultStartDate">DefaultStartDate</label>
                <input type="text" class="form-control" id="DefaultStartDate" aria-describedby="DefaultStartDateHelp" placeholder="0" disabled="disabled" value="{{.DefaultStartDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Fee">Fee</label>
                <input type="text" class="form-control" id="Fee" aria-describedby="FeeHelp" placeholder="" disabled="disabled" value="{{.Fee}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NDF">NDF</label>
                <input type="text" class="form-control" id="NDF" aria-describedby="NDFHelp" placeholder="True" disabled="disabled" value="{{.NDF}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FXFX">FXFX</label>
                <input type="text" class="form-control" id="FXFX" aria-describedby="FXFXHelp" placeholder="True" disabled="disabled" value="{{.FXFX}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ONIA">ONIA</label>
                <input type="text" class="form-control" id="ONIA" aria-describedby="ONIAHelp" placeholder="True" disabled="disabled" value="{{.ONIA}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MarginSubType">MarginSubType</label>
                <input type="text" class="form-control" id="MarginSubType" aria-describedby="MarginSubTypeHelp" placeholder="0" disabled="disabled" value="{{.MarginSubType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TransferDealType">TransferDealType</label>
                <input type="text" class="form-control" id="TransferDealType" aria-describedby="TransferDealTypeHelp" placeholder="" disabled="disabled" value="{{.TransferDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IsFX">IsFX</label>
                <input type="text" class="form-control" id="IsFX" aria-describedby="IsFXHelp" placeholder="True" disabled="disabled" value="{{.IsFX}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Ordr">Ordr</label>
                <input type="text" class="form-control" id="Ordr" aria-describedby="OrdrHelp" placeholder="" disabled="disabled" value="{{.Ordr}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OptionStyle">OptionStyle</label>
                <input type="text" class="form-control" id="OptionStyle" aria-describedby="OptionStyleHelp" placeholder="" disabled="disabled" value="{{.OptionStyle}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotDealType">SpotDealType</label>
                <input type="text" class="form-control" id="SpotDealType" aria-describedby="SpotDealTypeHelp" placeholder="" disabled="disabled" value="{{.SpotDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CanIssue">CanIssue</label>
                <input type="text" class="form-control" id="CanIssue" aria-describedby="CanIssueHelp" placeholder="True" disabled="disabled" value="{{.CanIssue}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CanShort">CanShort</label>
                <input type="text" class="form-control" id="CanShort" aria-describedby="CanShortHelp" placeholder="True" disabled="disabled" value="{{.CanShort}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FXMarginTradingType">FXMarginTradingType</label>
                <input type="text" class="form-control" id="FXMarginTradingType" aria-describedby="FXMarginTradingTypeHelp" placeholder="0" disabled="disabled" value="{{.FXMarginTradingType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Internal">Internal</label>
                <input type="text" class="form-control" id="Internal" aria-describedby="InternalHelp" placeholder="True" disabled="disabled" value="{{.Internal}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TicketBasename">TicketBasename</label>
                <input type="text" class="form-control" id="TicketBasename" aria-describedby="TicketBasenameHelp" placeholder="" disabled="disabled" value="{{.TicketBasename}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InterestRateFutureType">InterestRateFutureType</label>
                <input type="text" class="form-control" id="InterestRateFutureType" aria-describedby="InterestRateFutureTypeHelp" placeholder="" disabled="disabled" value="{{.InterestRateFutureType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TradingLimitProductCode">TradingLimitProductCode</label>
                <input type="text" class="form-control" id="TradingLimitProductCode" aria-describedby="TradingLimitProductCodeHelp" placeholder="" disabled="disabled" value="{{.TradingLimitProductCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Forward">Forward</label>
                <input type="text" class="form-control" id="Forward" aria-describedby="ForwardHelp" placeholder="True" disabled="disabled" value="{{.Forward}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MaturityNotificationPeriod">MaturityNotificationPeriod</label>
                <input type="text" class="form-control" id="MaturityNotificationPeriod" aria-describedby="MaturityNotificationPeriodHelp" placeholder="" disabled="disabled" value="{{.MaturityNotificationPeriod}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NotificationEvents">NotificationEvents</label>
                <input type="text" class="form-control" id="NotificationEvents" aria-describedby="NotificationEventsHelp" placeholder="" disabled="disabled" value="{{.NotificationEvents}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SwapSubType">SwapSubType</label>
                <input type="text" class="form-control" id="SwapSubType" aria-describedby="SwapSubTypeHelp" placeholder="" disabled="disabled" value="{{.SwapSubType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ProductCode">ProductCode</label>
                <input type="text" class="form-control" id="ProductCode" aria-describedby="ProductCodeHelp" placeholder="" disabled="disabled" value="{{.ProductCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Funding">Funding</label>
                <input type="text" class="form-control" id="Funding" aria-describedby="FundingHelp" placeholder="True" disabled="disabled" value="{{.Funding}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AllocationPricing">AllocationPricing</label>
                <input type="text" class="form-control" id="AllocationPricing" aria-describedby="AllocationPricingHelp" placeholder="" disabled="disabled" value="{{.AllocationPricing}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CancelPeriod">CancelPeriod</label>
                <input type="text" class="form-control" id="CancelPeriod" aria-describedby="CancelPeriodHelp" placeholder="" disabled="disabled" value="{{.CancelPeriod}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MMMarginTradingType">MMMarginTradingType</label>
                <input type="text" class="form-control" id="MMMarginTradingType" aria-describedby="MMMarginTradingTypeHelp" placeholder="0" disabled="disabled" value="{{.MMMarginTradingType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OptionSpot">OptionSpot</label>
                <input type="text" class="form-control" id="OptionSpot" aria-describedby="OptionSpotHelp" placeholder="" disabled="disabled" value="{{.OptionSpot}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Transfer">Transfer</label>
                <input type="text" class="form-control" id="Transfer" aria-describedby="TransferHelp" placeholder="True" disabled="disabled" value="{{.Transfer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NotificationPeriod">NotificationPeriod</label>
                <input type="text" class="form-control" id="NotificationPeriod" aria-describedby="NotificationPeriodHelp" placeholder="" disabled="disabled" value="{{.NotificationPeriod}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Paymentdateshift">Paymentdateshift</label>
                <input type="text" class="form-control" id="Paymentdateshift" aria-describedby="PaymentdateshiftHelp" placeholder="0" disabled="disabled" value="{{.Paymentdateshift}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CloseOut">CloseOut</label>
                <input type="text" class="form-control" id="CloseOut" aria-describedby="CloseOutHelp" placeholder="True" disabled="disabled" value="{{.CloseOut}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FXOptionPricing">FXOptionPricing</label>
                <input type="text" class="form-control" id="FXOptionPricing" aria-describedby="FXOptionPricingHelp" placeholder="" disabled="disabled" value="{{.FXOptionPricing}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettledHedgeOutrightDealType">SettledHedgeOutrightDealType</label>
                <input type="text" class="form-control" id="SettledHedgeOutrightDealType" aria-describedby="SettledHedgeOutrightDealTypeHelp" placeholder="" disabled="disabled" value="{{.SettledHedgeOutrightDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RepoBond">RepoBond</label>
                <input type="text" class="form-control" id="RepoBond" aria-describedby="RepoBondHelp" placeholder="" disabled="disabled" value="{{.RepoBond}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RepoTerm">RepoTerm</label>
                <input type="text" class="form-control" id="RepoTerm" aria-describedby="RepoTermHelp" placeholder="" disabled="disabled" value="{{.RepoTerm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RepoType">RepoType</label>
                <input type="text" class="form-control" id="RepoType" aria-describedby="RepoTypeHelp" placeholder="0" disabled="disabled" value="{{.RepoType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DateRule">DateRule</label>
                <input type="text" class="form-control" id="DateRule" aria-describedby="DateRuleHelp" placeholder="" disabled="disabled" value="{{.DateRule}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CorpTransferDealType">CorpTransferDealType</label>
                <input type="text" class="form-control" id="CorpTransferDealType" aria-describedby="CorpTransferDealTypeHelp" placeholder="" disabled="disabled" value="{{.CorpTransferDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="GenerateFXImage">GenerateFXImage</label>
                <input type="text" class="form-control" id="GenerateFXImage" aria-describedby="GenerateFXImageHelp" placeholder="True" disabled="disabled" value="{{.GenerateFXImage}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Variant">Variant</label>
                <input type="text" class="form-control" id="Variant" aria-describedby="VariantHelp" placeholder="" disabled="disabled" value="{{.Variant}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HedgeTermDealType">HedgeTermDealType</label>
                <input type="text" class="form-control" id="HedgeTermDealType" aria-describedby="HedgeTermDealTypeHelp" placeholder="" disabled="disabled" value="{{.HedgeTermDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PricingModel">PricingModel</label>
                <input type="text" class="form-control" id="PricingModel" aria-describedby="PricingModelHelp" placeholder="" disabled="disabled" value="{{.PricingModel}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HedgeOutrightDealType">HedgeOutrightDealType</label>
                <input type="text" class="form-control" id="HedgeOutrightDealType" aria-describedby="HedgeOutrightDealTypeHelp" placeholder="" disabled="disabled" value="{{.HedgeOutrightDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Fixing">Fixing</label>
                <input type="text" class="form-control" id="Fixing" aria-describedby="FixingHelp" placeholder="True" disabled="disabled" value="{{.Fixing}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Payment">Payment</label>
                <input type="text" class="form-control" id="Payment" aria-describedby="PaymentHelp" placeholder="True" disabled="disabled" value="{{.Payment}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MT">MT</label>
                <input type="text" class="form-control" id="MT" aria-describedby="MTHelp" placeholder="True" disabled="disabled" value="{{.MT}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettlementInstructionStyle">SettlementInstructionStyle</label>
                <input type="text" class="form-control" id="SettlementInstructionStyle" aria-describedby="SettlementInstructionStyleHelp" placeholder="" disabled="disabled" value="{{.SettlementInstructionStyle}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="QuoteHistoryRequired">QuoteHistoryRequired</label>
                <input type="text" class="form-control" id="QuoteHistoryRequired" aria-describedby="QuoteHistoryRequiredHelp" placeholder="True" disabled="disabled" value="{{.QuoteHistoryRequired}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Brokerage">Brokerage</label>
                <input type="text" class="form-control" id="Brokerage" aria-describedby="BrokerageHelp" placeholder="True" disabled="disabled" value="{{.Brokerage}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExposureDisabled">ExposureDisabled</label>
                <input type="text" class="form-control" id="ExposureDisabled" aria-describedby="ExposureDisabledHelp" placeholder="True" disabled="disabled" value="{{.ExposureDisabled}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditLine">CreditLine</label>
                <input type="text" class="form-control" id="CreditLine" aria-describedby="CreditLineHelp" placeholder="" disabled="disabled" value="{{.CreditLine}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Encumbered">Encumbered</label>
                <input type="text" class="form-control" id="Encumbered" aria-describedby="EncumberedHelp" placeholder="True" disabled="disabled" value="{{.Encumbered}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId">InternalId</label>
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled="disabled" value="{{.InternalId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalDeleted">InternalDeleted</label>
                <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled="disabled" value="{{.InternalDeleted}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedTransactionId">UpdatedTransactionId</label>
                <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedDateTime">UpdatedDateTime</label>
                <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled="disabled" value="{{.UpdatedDateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedTransactionId">DeletedTransactionId</label>
                <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.DeletedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedUserId">DeletedUserId</label>
                <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled="disabled" value="{{.DeletedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeType">ChangeType</label>
                <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled="disabled" value="{{.ChangeType}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
