{{template "header" .}}

<body>
<div class="container-fluid">
      <div class="card border-primary">
        <form action="/home" method="POST">

        <div class="card-header font-weight-bold border-primary">


          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;&nbsp;<span class="text-muted">[{{.ItemsOnPage}}]</span>
              
            </div>

            <div class="col text-right">
              <div class="btn-group">
              
              <button type="submit" value="" class="btn btn-primary" formaction="/DealTypeFundamentalNew" method="POST" title="Create a new Deal Type Fundamental">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;New
              </button>
              
              
              <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Deal Type Fundamental as CSV"></i>&nbsp;&nbsp;Export</button>
              
              <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type Fundamental"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
              <button id="close" type="button" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body">
            <div class="">
              <table class="table table-striped table-bordered table-hover" id="Table_DealTypeFundamental">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">DealTypeKey</th>
                    <th class="text-center">Amendment</th>
                    <th class="text-center">DefaultFrequency</th>
                    <th class="text-center">Directions</th>
                    <th class="text-center">SettledTermDealType</th>
                    <th class="text-center">Optn</th>
                    <th class="text-center">AllowPledge</th>
                    <th class="text-center">Takeup</th>
                    <th class="text-center">MismatchDealType</th>
                    <th class="text-center">SettledHedgeTermDealType</th>
                    <th class="text-center">SettlementCode</th>
                    <th class="text-center">TermSubType</th>
                    <th class="text-center">FundingDealType</th>
                    <th class="text-center">TransferType</th>
                    <th class="text-center">TermDealType</th>
                    <th class="text-center">NegotiableInstrumentType</th>
                    <th class="text-center">Mismatch</th>
                    <th class="text-center">ComplexTransferSubType</th>
                    <th class="text-center">LayOffDealType</th>
                    <th class="text-center">NIAccount</th>
                    <th class="text-center">SimpleMMsubtype</th>
                    <th class="text-center">SwapDealType</th>
                    <th class="text-center">Positions</th>
                    <th class="text-center">OptionOutright</th>
                    <th class="text-center">SettledHedgeSpotDealType</th>
                    <th class="text-center">StraightThroughInterestMethod</th>
                    <th class="text-center">SubType</th>
                    <th class="text-center">Rollover</th>
                    <th class="text-center">DefaultIssuer</th>
                    <th class="text-center">DefaultStartDate</th>
                    <th class="text-center">Fee</th>
                    <th class="text-center">NDF</th>
                    <th class="text-center">FXFX</th>
                    <th class="text-center">ONIA</th>
                    <th class="text-center">MarginSubType</th>
                    <th class="text-center">TransferDealType</th>
                    <th class="text-center">IsFX</th>
                    <th class="text-center">Ordr</th>
                    <th class="text-center">OptionStyle</th>
                    <th class="text-center">SpotDealType</th>
                    <th class="text-center">CanIssue</th>
                    <th class="text-center">CanShort</th>
                    <th class="text-center">FXMarginTradingType</th>
                    <th class="text-center">Internal</th>
                    <th class="text-center">TicketBasename</th>
                    <th class="text-center">InterestRateFutureType</th>
                    <th class="text-center">TradingLimitProductCode</th>
                    <th class="text-center">Forward</th>
                    <th class="text-center">MaturityNotificationPeriod</th>
                    <th class="text-center">NotificationEvents</th>
                    <th class="text-center">SwapSubType</th>
                    <th class="text-center">ProductCode</th>
                    <th class="text-center">Funding</th>
                    <th class="text-center">AllocationPricing</th>
                    <th class="text-center">CancelPeriod</th>
                    <th class="text-center">MMMarginTradingType</th>
                    <th class="text-center">OptionSpot</th>
                    <th class="text-center">Transfer</th>
                    <th class="text-center">NotificationPeriod</th>
                    <th class="text-center">Paymentdateshift</th>
                    <th class="text-center">CloseOut</th>
                    <th class="text-center">FXOptionPricing</th>
                    <th class="text-center">SettledHedgeOutrightDealType</th>
                    <th class="text-center">RepoBond</th>
                    <th class="text-center">RepoTerm</th>
                    <th class="text-center">RepoType</th>
                    <th class="text-center">DateRule</th>
                    <th class="text-center">CorpTransferDealType</th>
                    <th class="text-center">GenerateFXImage</th>
                    <th class="text-center">Variant</th>
                    <th class="text-center">HedgeTermDealType</th>
                    <th class="text-center">PricingModel</th>
                    <th class="text-center">HedgeOutrightDealType</th>
                    <th class="text-center">Fixing</th>
                    <th class="text-center">Payment</th>
                    <th class="text-center">MT</th>
                    <th class="text-center">SettlementInstructionStyle</th>
                    <th class="text-center">QuoteHistoryRequired</th>
                    <th class="text-center">Brokerage</th>
                    <th class="text-center">ExposureDisabled</th>
                    <th class="text-center">CreditLine</th>
                    <th class="text-center">Encumbered</th>
                    <th class="text-center">InternalId</th>
                    <th class="text-center">InternalDeleted</th>
                    <th class="text-center">UpdatedTransactionId</th>
                    <th class="text-center">UpdatedUserId</th>
                    <th class="text-center">UpdatedDateTime</th>
                    <th class="text-center">DeletedTransactionId</th>
                    <th class="text-center">DeletedUserId</th>
                    <th class="text-center">ChangeType</th>
                    
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody id=filterTable>
                  {{range .ItemList}}
                  <tr>
                    <td class="text-center align-middle"></td>
                    <td class="align-middle">{{.DealTypeKey}}</td>
        
                    <td class="align-middle">{{.Amendment}}</td>
        
                    <td class="align-middle">{{.DefaultFrequency}}</td>
        
                    <td class="align-middle">{{.Directions}}</td>
        
                    <td class="align-middle">{{.SettledTermDealType}}</td>
        
                    <td class="align-middle">{{.Optn}}</td>
        
                    <td class="align-middle">{{.AllowPledge}}</td>
        
                    <td class="align-middle">{{.Takeup}}</td>
        
                    <td class="align-middle">{{.MismatchDealType}}</td>
        
                    <td class="align-middle">{{.SettledHedgeTermDealType}}</td>
        
                    <td class="align-middle">{{.SettlementCode}}</td>
        
                    <td class="align-middle">{{.TermSubType}}</td>
        
                    <td class="align-middle">{{.FundingDealType}}</td>
        
                    <td class="align-middle">{{.TransferType}}</td>
        
                    <td class="align-middle">{{.TermDealType}}</td>
        
                    <td class="align-middle">{{.NegotiableInstrumentType}}</td>
        
                    <td class="align-middle">{{.Mismatch}}</td>
        
                    <td class="align-middle">{{.ComplexTransferSubType}}</td>
        
                    <td class="align-middle">{{.LayOffDealType}}</td>
        
                    <td class="align-middle">{{.NIAccount}}</td>
        
                    <td class="align-middle">{{.SimpleMMsubtype}}</td>
        
                    <td class="align-middle">{{.SwapDealType}}</td>
        
                    <td class="align-middle">{{.Positions}}</td>
        
                    <td class="align-middle">{{.OptionOutright}}</td>
        
                    <td class="align-middle">{{.SettledHedgeSpotDealType}}</td>
        
                    <td class="align-middle">{{.StraightThroughInterestMethod}}</td>
        
                    <td class="align-middle">{{.SubType}}</td>
        
                    <td class="align-middle">{{.Rollover}}</td>
        
                    <td class="align-middle">{{.DefaultIssuer}}</td>
        
                    <td class="align-middle">{{.DefaultStartDate}}</td>
        
                    <td class="align-middle">{{.Fee}}</td>
        
                    <td class="align-middle">{{.NDF}}</td>
        
                    <td class="align-middle">{{.FXFX}}</td>
        
                    <td class="align-middle">{{.ONIA}}</td>
        
                    <td class="align-middle">{{.MarginSubType}}</td>
        
                    <td class="align-middle">{{.TransferDealType}}</td>
        
                    <td class="align-middle">{{.IsFX}}</td>
        
                    <td class="align-middle">{{.Ordr}}</td>
        
                    <td class="align-middle">{{.OptionStyle}}</td>
        
                    <td class="align-middle">{{.SpotDealType}}</td>
        
                    <td class="align-middle">{{.CanIssue}}</td>
        
                    <td class="align-middle">{{.CanShort}}</td>
        
                    <td class="align-middle">{{.FXMarginTradingType}}</td>
        
                    <td class="align-middle">{{.Internal}}</td>
        
                    <td class="align-middle">{{.TicketBasename}}</td>
        
                    <td class="align-middle">{{.InterestRateFutureType}}</td>
        
                    <td class="align-middle">{{.TradingLimitProductCode}}</td>
        
                    <td class="align-middle">{{.Forward}}</td>
        
                    <td class="align-middle">{{.MaturityNotificationPeriod}}</td>
        
                    <td class="align-middle">{{.NotificationEvents}}</td>
        
                    <td class="align-middle">{{.SwapSubType}}</td>
        
                    <td class="align-middle">{{.ProductCode}}</td>
        
                    <td class="align-middle">{{.Funding}}</td>
        
                    <td class="align-middle">{{.AllocationPricing}}</td>
        
                    <td class="align-middle">{{.CancelPeriod}}</td>
        
                    <td class="align-middle">{{.MMMarginTradingType}}</td>
        
                    <td class="align-middle">{{.OptionSpot}}</td>
        
                    <td class="align-middle">{{.Transfer}}</td>
        
                    <td class="align-middle">{{.NotificationPeriod}}</td>
        
                    <td class="align-middle">{{.Paymentdateshift}}</td>
        
                    <td class="align-middle">{{.CloseOut}}</td>
        
                    <td class="align-middle">{{.FXOptionPricing}}</td>
        
                    <td class="align-middle">{{.SettledHedgeOutrightDealType}}</td>
        
                    <td class="align-middle">{{.RepoBond}}</td>
        
                    <td class="align-middle">{{.RepoTerm}}</td>
        
                    <td class="align-middle">{{.RepoType}}</td>
        
                    <td class="align-middle">{{.DateRule}}</td>
        
                    <td class="align-middle">{{.CorpTransferDealType}}</td>
        
                    <td class="align-middle">{{.GenerateFXImage}}</td>
        
                    <td class="align-middle">{{.Variant}}</td>
        
                    <td class="align-middle">{{.HedgeTermDealType}}</td>
        
                    <td class="align-middle">{{.PricingModel}}</td>
        
                    <td class="align-middle">{{.HedgeOutrightDealType}}</td>
        
                    <td class="align-middle">{{.Fixing}}</td>
        
                    <td class="align-middle">{{.Payment}}</td>
        
                    <td class="align-middle">{{.MT}}</td>
        
                    <td class="align-middle">{{.SettlementInstructionStyle}}</td>
        
                    <td class="align-middle">{{.QuoteHistoryRequired}}</td>
        
                    <td class="align-middle">{{.Brokerage}}</td>
        
                    <td class="align-middle">{{.ExposureDisabled}}</td>
        
                    <td class="align-middle">{{.CreditLine}}</td>
        
                    <td class="align-middle">{{.Encumbered}}</td>
        
                    <td class="align-middle">{{.InternalId}}</td>
        
                    <td class="align-middle">{{.InternalDeleted}}</td>
        
                    <td class="align-middle">{{.UpdatedTransactionId}}</td>
        
                    <td class="align-middle">{{.UpdatedUserId}}</td>
        
                    <td class="align-middle">{{.UpdatedDateTime}}</td>
        
                    <td class="align-middle">{{.DeletedTransactionId}}</td>
        
                    <td class="align-middle">{{.DeletedUserId}}</td>
        
                    <td class="align-middle">{{.ChangeType}}</td>
        
                    
                    <td class="text-center" style="width:1px;">
                      <div class="btn-group">
                      
                        <button type="submit" value="" class="btn btn-info btn-sm" formaction="/DealTypeFundamentalView?DealTypeKey={{.DealTypeKey}}" method="POST" title="View Deal Type Fundamental">
                          <i class="far fa-eye" style="font-size: 22px"></i>
                        </button>
                      
                      
                        <button type="submit" value="" class="btn btn-warning btn-sm" formaction="/DealTypeFundamentalEdit?DealTypeKey={{.DealTypeKey}}" method="POST" title="Edit Deal Type Fundamental">
                          <i class="fas fa-pen" style="font-size: 22px"></i>
                        </button>
                        
                        
                        <button type="submit" value="" class="btn btn-danger btn-sm" formaction="/DealTypeFundamentalDelete?DealTypeKey={{.DealTypeKey}}" method="POST" title="Delete Deal Type Fundamental">
                          <i class="fas fa-trash-alt" style="font-size: 22px"></i>
                        </button>
                        
                      </div>

                    </td>
                  </tr>
                  {{end}}
                </tbody>
              </table>

            </div>

        </div>
          </form>
      </div>
</div>

  <!-- SCRIPTS DO NOT CHANGE -->

  <script>
    $(document).ready(function() {
      $("#myFilter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#filterTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>


  <script>
$(document).ready(function(){
    $('#Table_DealTypeFundamental').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#Table_DealTypeFundamental").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>




  <script>
    const toCsv = function(table) {
      // Query all rows
      const rows = table.querySelectorAll('tr');

      return [].slice.call(rows)
        .map(function(row) {
          // Query all cells
          const cells = row.querySelectorAll('th,td');
          return [].slice.call(cells)
            .map(function(cell) {
              return '"' + cell.textContent + '"';
            })
            .join(',');
        })
        .join('\n');
    };

    const download = function(text, fileName) {
      const link = document.createElement('a');
      link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
      link.setAttribute('download', fileName);

      link.style.display = 'none';
      document.body.appendChild(link);

      link.click();

      document.body.removeChild(link);
    };

    const table = document.getElementById('Table_DealTypeFundamental');
    const exportBtn = document.getElementById('export');

    exportBtn.addEventListener('click', function() {
      // Export to csv
      const csv = toCsv(table);

      // Download it
      download(csv, 'DealTypeFundamental.csv');
    });
    </script>


  <!-- SCRIPTS DO NOT CHANGE -->
{{template "footer" .}}
</body>
