{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/DealTypeSave?DealTypeKey={{.DealTypeKey}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.DealTypeKey}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/DealTypeSave&DealTypeKey={{.DealTypeKey}}" onclick="/DealTypeSave/?DealTypeKey={{.DealTypeKey}}" title="Save Deal Type"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Deal Type"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeKey" >DealTypeKey</label>
                <input type="text" class="form-control" id="DealTypeKey" name="DealTypeKey" aria-describedby="DealTypeKeyHelp" placeholder=""  value="{{.DealTypeKey}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeShortName" >DealTypeShortName</label>
                <input type="text" class="form-control" id="DealTypeShortName" name="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder=""  value="{{.DealTypeShortName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HostKey" >HostKey</label>
                <input type="text" class="form-control" id="HostKey" name="HostKey" aria-describedby="HostKeyHelp" placeholder=""  value="{{.HostKey}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IsActive" >IsActive</label>
                <input type="text" class="form-control" id="IsActive" name="IsActive" aria-describedby="IsActiveHelp" placeholder="True"  value="{{.IsActive}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Interbook" >Interbook</label>
                <input type="text" class="form-control" id="Interbook" name="Interbook" aria-describedby="InterbookHelp" placeholder="True"  value="{{.Interbook}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeLink" >BackOfficeLink</label>
                <input type="text" class="form-control" id="BackOfficeLink" name="BackOfficeLink" aria-describedby="BackOfficeLinkHelp" placeholder="True"  value="{{.BackOfficeLink}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="HasTicket" >HasTicket</label>
                <input type="text" class="form-control" id="HasTicket" name="HasTicket" aria-describedby="HasTicketHelp" placeholder="True"  value="{{.HasTicket}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CurrencyOverride" >CurrencyOverride</label>
                <input type="text" class="form-control" id="CurrencyOverride" name="CurrencyOverride" aria-describedby="CurrencyOverrideHelp" placeholder="True"  value="{{.CurrencyOverride}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CurrencyHolderCurrency" >CurrencyHolderCurrency</label>
                <input type="text" class="form-control" id="CurrencyHolderCurrency" name="CurrencyHolderCurrency" aria-describedby="CurrencyHolderCurrencyHelp" placeholder=""  value="{{.CurrencyHolderCurrency}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AllBooks" >AllBooks</label>
                <input type="text" class="form-control" id="AllBooks" name="AllBooks" aria-describedby="AllBooksHelp" placeholder="True"  value="{{.AllBooks}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FundamentalDealTypeKey" >FundamentalDealTypeKey</label>
                <input type="text" class="form-control" id="FundamentalDealTypeKey" name="FundamentalDealTypeKey" aria-describedby="FundamentalDealTypeKeyHelp" placeholder=""  value="{{.FundamentalDealTypeKey}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RelatedDealType" >RelatedDealType</label>
                <input type="text" class="form-control" id="RelatedDealType" name="RelatedDealType" aria-describedby="RelatedDealTypeHelp" placeholder=""  value="{{.RelatedDealType}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BookName" >BookName</label>
                <input type="text" class="form-control" id="BookName" name="BookName" aria-describedby="BookNameHelp" placeholder=""  value="{{.BookName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExportMethod" >ExportMethod</label>
                <input type="text" class="form-control" id="ExportMethod" name="ExportMethod" aria-describedby="ExportMethodHelp" placeholder=""  value="{{.ExportMethod}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DefaultUserLayoffBooks" >DefaultUserLayoffBooks</label>
                <input type="text" class="form-control" id="DefaultUserLayoffBooks" name="DefaultUserLayoffBooks" aria-describedby="DefaultUserLayoffBooksHelp" placeholder="True"  value="{{.DefaultUserLayoffBooks}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RFQ" >RFQ</label>
                <input type="text" class="form-control" id="RFQ" name="RFQ" aria-describedby="RFQHelp" placeholder="True"  value="{{.RFQ}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OBS" >OBS</label>
                <input type="text" class="form-control" id="OBS" name="OBS" aria-describedby="OBSHelp" placeholder="True"  value="{{.OBS}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KID" >KID</label>
                <input type="text" class="form-control" id="KID" name="KID" aria-describedby="KIDHelp" placeholder="True"  value="{{.KID}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId" >InternalId</label>
                <input type="text" class="form-control" id="InternalId" name="InternalId" aria-describedby="InternalIdHelp" placeholder="0"  value="{{.InternalId}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalDeleted" >InternalDeleted</label>
                <input type="text" class="form-control" id="InternalDeleted" name="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder=""  value="{{.InternalDeleted}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedTransactionId" >UpdatedTransactionId</label>
                <input type="text" class="form-control" id="UpdatedTransactionId" name="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder=""  value="{{.UpdatedTransactionId}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId" >UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" name="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder=""  value="{{.UpdatedUserId}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedDateTime" >UpdatedDateTime</label>
                <input type="text" class="form-control" id="UpdatedDateTime" name="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder=""  value="{{.UpdatedDateTime}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedTransactionId" >DeletedTransactionId</label>
                <input type="text" class="form-control" id="DeletedTransactionId" name="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder=""  value="{{.DeletedTransactionId}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedUserId" >DeletedUserId</label>
                <input type="text" class="form-control" id="DeletedUserId" name="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder=""  value="{{.DeletedUserId}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeType" >ChangeType</label>
                <input type="text" class="form-control" id="ChangeType" name="ChangeType" aria-describedby="ChangeTypeHelp" placeholder=""  value="{{.ChangeType}}" >
              </div>
            </div>

     
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
