{{template "header" .}}

<body>

  <div class="container-fluid">


      <h5 class="text-left">System Details</h5>
      <div class="text-muted"></div>
<h6>User</h6>
<pre class="text-muted">
Name                    : {{.UserName}}
Known As                : {{.UserKnowAs}}
Role                    : {{.UserRole}}
</pre>
<h6>Application</h6>
<pre class="text-muted">
Server Name             : {{.AppServerName}}
Server Release          : {{.AppReleaseID}}&nbsp;[r{{.AppReleaseLevel}}-{{.AppReleaseNo}}]
Server Date             : {{.AppServerDate}}
Server Mode             : {{.InstanceState}}
</pre>
<h6>Application Database (MSSQL)</h6>
<pre class="text-muted">
Server                  : {{.AppSQLServer}}
Database                : {{.AppSQLDatabase}}
Schema                  : {{.AppSQLSchema}}
</pre>
    </div>
  {{template "footer" .}}
</body>