{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/MandateSave?Mandate={{.CompID}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.CompID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/MandateSave&Mandate={{.CompID}}" onclick="/MandateSave/?Mandate={{.CompID}}" title="Save Mandate"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Mandate"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyFirm" >MandatedUserKeyCounterpartyFirm</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyFirm" name="MandatedUserKeyCounterpartyFirm" aria-describedby="MandatedUserKeyCounterpartyFirmHelp" placeholder=""  value="{{.MandatedUserKeyCounterpartyFirm}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyCentre" >MandatedUserKeyCounterpartyCentre</label>
                <input type="text" class="form-control" id="MandatedUserKeyCounterpartyCentre" name="MandatedUserKeyCounterpartyCentre" aria-describedby="MandatedUserKeyCounterpartyCentreHelp" placeholder=""  value="{{.MandatedUserKeyCounterpartyCentre}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUserKeyUserName" >MandatedUserKeyUserName</label>
                <input type="text" class="form-control" id="MandatedUserKeyUserName" name="MandatedUserKeyUserName" aria-describedby="MandatedUserKeyUserNameHelp" placeholder=""  value="{{.MandatedUserKeyUserName}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TelephoneNumber" >TelephoneNumber</label>
                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber" aria-describedby="TelephoneNumberHelp" placeholder=""  value="{{.TelephoneNumber}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EmailAddress" >EmailAddress</label>
                <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" aria-describedby="EmailAddressHelp" placeholder=""  value="{{.EmailAddress}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Active" >Active</label>
                <input type="text" class="form-control" id="Active" name="Active" aria-describedby="ActiveHelp" placeholder="True"  value="{{.Active}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirstName" >FirstName</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" aria-describedby="FirstNameHelp" placeholder=""  value="{{.FirstName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Surname" >Surname</label>
                <input type="text" class="form-control" id="Surname" name="Surname" aria-describedby="SurnameHelp" placeholder=""  value="{{.Surname}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DateOfBirth" >DateOfBirth</label>
                <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" aria-describedby="DateOfBirthHelp" placeholder=""  value="{{.DateOfBirth}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Postcode" >Postcode</label>
                <input type="text" class="form-control" id="Postcode" name="Postcode" aria-describedby="PostcodeHelp" placeholder=""  value="{{.Postcode}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NationalIDNo" >NationalIDNo</label>
                <input type="text" class="form-control" id="NationalIDNo" name="NationalIDNo" aria-describedby="NationalIDNoHelp" placeholder=""  value="{{.NationalIDNo}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PassportNo" >PassportNo</label>
                <input type="text" class="form-control" id="PassportNo" name="PassportNo" aria-describedby="PassportNoHelp" placeholder=""  value="{{.PassportNo}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country" >Country</label>
                <input type="text" class="form-control" id="Country" name="Country" aria-describedby="CountryHelp" placeholder=""  value="{{.Country}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CountryName" >CountryName</label>
                <input type="text" class="form-control" id="CountryName" name="CountryName" aria-describedby="CountryNameHelp" placeholder=""  value="{{.CountryName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FirmName" >FirmName</label>
                <input type="text" class="form-control" id="FirmName" name="FirmName" aria-describedby="FirmNameHelp" placeholder=""  value="{{.FirmName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CentreName" >CentreName</label>
                <input type="text" class="form-control" id="CentreName" name="CentreName" aria-describedby="CentreNameHelp" placeholder=""  value="{{.CentreName}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Notify" >Notify</label>
                <input type="text" class="form-control" id="Notify" name="Notify" aria-describedby="NotifyHelp" placeholder="True"  value="{{.Notify}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SystemUser" >SystemUser</label>
                <input type="text" class="form-control" id="SystemUser" name="SystemUser" aria-describedby="SystemUserHelp" placeholder=""  value="{{.SystemUser}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID" >CompID</label>
                <input type="text" class="form-control" id="CompID" name="CompID" aria-describedby="CompIDHelp" placeholder=""  value="{{.CompID}}" required>
              </div>
            </div>

             <div class="row">
              <div class="col-sm">
                <label for="Country_Lookup" disabled>Country_Lookup</label>
                <select id="Country_Lookup" name="Country_Lookup" class="form-control" disabled><option name="{{.Country_Lookup}}" selected>{{.Country_Lookup}}</option>{{range .Country_Lookup_List}}<option name="{{.Code}}">{{.Name}}</option>{{end}}</select>
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="Firm_Lookup" disabled>Firm_Lookup</label>
                <select id="Firm_Lookup" name="Firm_Lookup" class="form-control" disabled><option name="{{.Firm_Lookup}}" selected>{{.Firm_Lookup}}</option>{{range .Firm_Lookup_List}}<option name="{{.FirmName}}">{{.FullName}}</option>{{end}}</select>
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="Centre_Lookup" disabled>Centre_Lookup</label>
                <select id="Centre_Lookup" name="Centre_Lookup" class="form-control" disabled><option name="{{.Centre_Lookup}}" selected>{{.Centre_Lookup}}</option>{{range .Centre_Lookup_List}}<option name="{{.Code}}">{{.Name}}</option>{{end}}</select>
              </div>
            </div>
     
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
