{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/NegotiableInstrumentEdit?Id={{.Id}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Id}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Negotiable Instrument"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId">SYSId</label>
                <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled="disabled" value="{{.SYSId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Id">Id</label>
                <input type="text" class="form-control" id="Id" aria-describedby="IdHelp" placeholder="" disabled="disabled" value="{{.Id}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LongName">LongName</label>
                <input type="text" class="form-control" id="LongName" aria-describedby="LongNameHelp" placeholder="" disabled="disabled" value="{{.LongName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Isin">Isin</label>
                <input type="text" class="form-control" id="Isin" aria-describedby="IsinHelp" placeholder="" disabled="disabled" value="{{.Isin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Tidm">Tidm</label>
                <input type="text" class="form-control" id="Tidm" aria-describedby="TidmHelp" placeholder="" disabled="disabled" value="{{.Tidm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Sedol">Sedol</label>
                <input type="text" class="form-control" id="Sedol" aria-describedby="SedolHelp" placeholder="" disabled="disabled" value="{{.Sedol}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IssueDate">IssueDate</label>
                <input type="text" class="form-control" id="IssueDate" aria-describedby="IssueDateHelp" placeholder="" disabled="disabled" value="{{.IssueDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MaturityDate">MaturityDate</label>
                <input type="text" class="form-control" id="MaturityDate" aria-describedby="MaturityDateHelp" placeholder="" disabled="disabled" value="{{.MaturityDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CouponValue">CouponValue</label>
                <input type="text" class="form-control" id="CouponValue" aria-describedby="CouponValueHelp" placeholder="" disabled="disabled" value="{{.CouponValue}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CouponType">CouponType</label>
                <input type="text" class="form-control" id="CouponType" aria-describedby="CouponTypeHelp" placeholder="" disabled="disabled" value="{{.CouponType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Segment">Segment</label>
                <input type="text" class="form-control" id="Segment" aria-describedby="SegmentHelp" placeholder="" disabled="disabled" value="{{.Segment}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Sector">Sector</label>
                <input type="text" class="form-control" id="Sector" aria-describedby="SectorHelp" placeholder="" disabled="disabled" value="{{.Sector}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CodeConventionCalculateAccrual">CodeConventionCalculateAccrual</label>
                <input type="text" class="form-control" id="CodeConventionCalculateAccrual" aria-describedby="CodeConventionCalculateAccrualHelp" placeholder="" disabled="disabled" value="{{.CodeConventionCalculateAccrual}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MinimumDenomination">MinimumDenomination</label>
                <input type="text" class="form-control" id="MinimumDenomination" aria-describedby="MinimumDenominationHelp" placeholder="" disabled="disabled" value="{{.MinimumDenomination}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DenominationCurrency">DenominationCurrency</label>
                <input type="text" class="form-control" id="DenominationCurrency" aria-describedby="DenominationCurrencyHelp" placeholder="" disabled="disabled" value="{{.DenominationCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TradingCurrency">TradingCurrency</label>
                <input type="text" class="form-control" id="TradingCurrency" aria-describedby="TradingCurrencyHelp" placeholder="" disabled="disabled" value="{{.TradingCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Type">Type</label>
                <input type="text" class="form-control" id="Type" aria-describedby="TypeHelp" placeholder="" disabled="disabled" value="{{.Type}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FlatYield">FlatYield</label>
                <input type="text" class="form-control" id="FlatYield" aria-describedby="FlatYieldHelp" placeholder="" disabled="disabled" value="{{.FlatYield}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentCouponDate">PaymentCouponDate</label>
                <input type="text" class="form-control" id="PaymentCouponDate" aria-describedby="PaymentCouponDateHelp" placeholder="" disabled="disabled" value="{{.PaymentCouponDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PeriodOfCoupon">PeriodOfCoupon</label>
                <input type="text" class="form-control" id="PeriodOfCoupon" aria-describedby="PeriodOfCouponHelp" placeholder="" disabled="disabled" value="{{.PeriodOfCoupon}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExCouponDate">ExCouponDate</label>
                <input type="text" class="form-control" id="ExCouponDate" aria-describedby="ExCouponDateHelp" placeholder="" disabled="disabled" value="{{.ExCouponDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DateOfIndexInflation">DateOfIndexInflation</label>
                <input type="text" class="form-control" id="DateOfIndexInflation" aria-describedby="DateOfIndexInflationHelp" placeholder="" disabled="disabled" value="{{.DateOfIndexInflation}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UnitOfQuotation">UnitOfQuotation</label>
                <input type="text" class="form-control" id="UnitOfQuotation" aria-describedby="UnitOfQuotationHelp" placeholder="" disabled="disabled" value="{{.UnitOfQuotation}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated">SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled="disabled" value="{{.SYSCreated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSWho">SYSWho</label>
                <input type="text" class="form-control" id="SYSWho" aria-describedby="SYSWhoHelp" placeholder="" disabled="disabled" value="{{.SYSWho}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSHost">SYSHost</label>
                <input type="text" class="form-control" id="SYSHost" aria-describedby="SYSHostHelp" placeholder="" disabled="disabled" value="{{.SYSHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated">SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled="disabled" value="{{.SYSUpdated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Issuer">Issuer</label>
                <input type="text" class="form-control" id="Issuer" aria-describedby="IssuerHelp" placeholder="" disabled="disabled" value="{{.Issuer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IssueAmount">IssueAmount</label>
                <input type="text" class="form-control" id="IssueAmount" aria-describedby="IssueAmountHelp" placeholder="" disabled="disabled" value="{{.IssueAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RunningYield">RunningYield</label>
                <input type="text" class="form-control" id="RunningYield" aria-describedby="RunningYieldHelp" placeholder="" disabled="disabled" value="{{.RunningYield}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LEI">LEI</label>
                <input type="text" class="form-control" id="LEI" aria-describedby="LEIHelp" placeholder="" disabled="disabled" value="{{.LEI}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CUSIP">CUSIP</label>
                <input type="text" class="form-control" id="CUSIP" aria-describedby="CUSIPHelp" placeholder="" disabled="disabled" value="{{.CUSIP}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost">SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy">SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost">SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy">SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedBy}}">
              </div>
            </div>
        </div>
{{template "audit" .}}
      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
