  {{template "header" .}}

<body>

 
  <!-- DO NOT CHANGE -->

  <div class="container-fluid">
    <form action="/saveSienaCounterpartyGroup" method="GET">
      <div hidden="hidden">
        <input type="text" id="ID" name="ID" value="{{.Name}}">
      </div>
      <div class="card">

        <div class="card-header font-weight-bold">


          <div class="row">
            <div class="col">    <img src="../assets/siena.png" alt="Siena" style="width:1.75rem;margin-right:.5rem;">
                {{.Title}}&nbsp;:&nbsp;<code>{{.Name}}</code></div>
            <div class="col">
              <div class="btn-group float-right">

                <button type="submit" value="" class="btn btn-outline-danger">
                  <i class="fas fa-save"  method="GET" onclick="/saveSienaCounterpartyGroup" formaction="/saveSienaCounterpartyGroup"></i>&nbsp;&nbsp;Save</button>

                <button type="button" value="" class="btn btn-outline-secondary" method="POST" onclick="history.back()">
                  <i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>

              </div>
            </div>
          </div>

        </div>

        <div class="card-body">



            <div class="row">

              <div class="col-sm">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="name" aria-describedby="Name" placeholder="<<BLANK>>" required="required" value="{{.Name}}" maxlength="10">
              </div>



            </div>

            <div class="row">

              <div class="col-sm">
                <label for="Country">Country</label>
                  <select class="custom-select" id="Country" name="Country" required="required">

                    <option id="{{.CountryCode}}" selected="selected">{{.CountryName}}</option>

                    {{range .CountryList}}
                      <option value="{{.Code}}">{{.Name}}</option>
                    {{end}}

                  </select>

              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="SuperGroup">Parent Group</label>
                  <select class="custom-select" id="SuperGroup" name="SuperGroup">

                    <option id="{{.SuperGroup}}" selected="selected">{{.SuperGroup}}</option>

                    {{range .GroupList}}
                      <option value="{{.Name}}">{{.Name}}</option>
                    {{end}}

                  </select>
              </div>
            </div>
        </div>

      </form>
    </div>

  </body>
