  {{template "header" .}}

<body>



  <div class="container-fluid">
    <form action="/saveSienaMandatedUser?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" method="GET" class="form">

      <div class="card">

        <div class="card-header font-weight-bold">


          <div class="row">
            <div class="col">
              <img src="../assets/siena.png" alt="Siena" style="width:1.75rem;margin-right:.5rem;">
              {{.Title}}&nbsp;:&nbsp;<code>{{.MandatedUserKeyUserName}}</code>
            </div>

            <div class="col">
              <div class="btn-group float-right">
                <button type="submit" value="" class="btn btn-outline-danger"><i class="fas fa-save"  method="GET" formaction="/saveSienaMandatedUser?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}" onclick="/saveSienaMandatedUser?SU={{.MandatedUserKeyUserName}}&SF={{.MandatedUserKeyCounterpartyFirm}}&SC={{.MandatedUserKeyCounterpartyCentre}}"></i>&nbsp;&nbsp;Save</button>

            <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body">

          <div class="">

            <div class="row">

              <div class="col-sm">
                <label for="MandatedUserKeyUserName">Name</label>
                <input type="text" class="form-control" id="MandatedUserKeyUserName" name="MandatedUserKeyUserName"  aria-describedby="emailHelp" placeholder="<<BLANK>>"  value="{{.MandatedUserKeyUserName}}" maxlength="30" required>
              </div>


              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyFirm">Firm</label>
                <select class="custom-select" id="MandatedUserKeyCounterpartyFirm" name="MandatedUserKeyCounterpartyFirm" required="required">

                  <option id="{{.MandatedUserKeyCounterpartyFirm}}" selected="selected">{{.MandatedUserKeyCounterpartyFirm}}</option>
                  {{range .FirmList}}
                    <option value="{{.FirmName}}">{{.FullName}}</option>
                  {{end}}
                </select>
                </div>

              <div class="col-sm">
                <label for="MandatedUserKeyCounterpartyCentre">Centre</label>
                <select class="custom-select" id="MandatedUserKeyCounterpartyCentre" name="MandatedUserKeyCounterpartyCentre" required="required">

                  <option id="{{.MandatedUserKeyCounterpartyCentre}}" selected="selected">{{.MandatedUserKeyCounterpartyCentre}}</option>

                  {{range .CentreList}}
                    <option value="{{.Code}}">{{.Name}}</option>
                  {{end}}

                </select>
              </div>

            </div>

            <div class="row">

              <div class="col-sm">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" aria-describedby="emailHelp" name="FirstName" placeholder="<<BLANK>>" value="{{.FirstName}}" required="required">
              </div>

              <div class="col-sm">
                <label for="Surname">Last Name</label>
                <input type="text" class="form-control" id="Surname" aria-describedby="emailHelp" name="Surname" placeholder="<<BLANK>>" value="{{.Surname}}" required="required" >
              </div>

            </div>


            <div class="row">

              <div class="col-sm">
                <label for="TelephoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="TelephoneNumber" aria-describedby="TelephoneNumber" name="TelephoneNumber" placeholder="<<Phone Number>>" value="{{.TelephoneNumber}}">
              </div>
              <div class="col-sm">
                <label for="Postcode">Postcode</label>
                <input type="text" class="form-control" id="Postcode" aria-describedby="Postcode" name="Postcode" placeholder="<<BLANK>>" value="{{.Postcode}}">
              </div>

              <div class="col-sm">
                <label for="Country">Country</label>

                  <select class="custom-select" id="country" name="country" required="required">

                    <option id="{{.Country}}" selected="selected">{{.CountryName}}</option>

                    {{range .CountryList}}
                      <option value="{{.Code}}">{{.Name}}</option>
                    {{end}}

                  </select>
              </div>


            </div>


            <div class="row">

              <div class="col-sm">
                <label for="DateOfBirth">Date Of Birth</label>
                <input type="date" class="form-control" id="DateOfBirth" aria-describedby="emailHelp" name="DateOfBirth" placeholder="<<BLANK>>" value="{{.DateOfBirth}}" required>
                  <script type="text/javascript">
                    DateOfBirth.max = new Date().toISOString().split("T")[0];
                  </script>


              </div>



              <div class="col-sm">
                <label for="NationalIDNo">National ID No.</label>
                <input type="text" class="form-control" id="NationalIDNo" aria-describedby="NationalIDNo" name="NationalIDNo" placeholder="<<BLANK>>" value="{{.NationalIDNo}}" >
              </div>

              <div class="col-sm">
                <label for="PassportNo">Passport No.</label>
                <input type="text" class="form-control" id="PassportNo" aria-describedby="PassportNo" name="PassportNo" placeholder="<<BLANK>>" value="{{.PassportNo}}" >
              </div>

            </div>

            <div class="row">
              <div class="col-sm">
                <label for="EmailAddress">Email</label>
                <input type="email" class="form-control" id="EmailAddress" aria-describedby="emailHelp" name="EmailAddress" placeholder="<<BLANK>>" value="{{.EmailAddress}}" >
              </div>
              <div class="col">
                <div class="custom-control custom-switch">
                  <input class="custom-control-input" type="checkbox" value="" id="Active" name="Active" {{.CBActive}}></input>
                    <label class="custom-control-label" for="Active">Active</label>
                </div>
              </div>

              <div class="col">
                <div class="custom-control custom-switch">

                  <input class="custom-control-input" type="checkbox" value="" id="Notify" name="Notify" {{.CBNotify}}></input>
                    <label class="custom-control-label" for="Notify">Notify</label>
                </div>

              </div>

            </div>

        </div>



      </div>
    </form>
  </div>

</body>
