{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/PayeeEdit?ID={{.KeyCounterpartyFirm}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.KeyCounterpartyFirm}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Payee"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SourceTable">SourceTable</label>
                <input type="text" class="form-control" id="SourceTable" aria-describedby="SourceTableHelp" placeholder="" disabled="disabled" value="{{.SourceTable}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyCounterpartyFirm">KeyCounterpartyFirm</label>
                <input type="text" class="form-control" id="KeyCounterpartyFirm" aria-describedby="KeyCounterpartyFirmHelp" placeholder="" disabled="disabled" value="{{.KeyCounterpartyFirm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyCounterpartyCentre">KeyCounterpartyCentre</label>
                <input type="text" class="form-control" id="KeyCounterpartyCentre" aria-describedby="KeyCounterpartyCentreHelp" placeholder="" disabled="disabled" value="{{.KeyCounterpartyCentre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyCurrency">KeyCurrency</label>
                <input type="text" class="form-control" id="KeyCurrency" aria-describedby="KeyCurrencyHelp" placeholder="" disabled="disabled" value="{{.KeyCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyName">KeyName</label>
                <input type="text" class="form-control" id="KeyName" aria-describedby="KeyNameHelp" placeholder="" disabled="disabled" value="{{.KeyName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyNumber">KeyNumber</label>
                <input type="text" class="form-control" id="KeyNumber" aria-describedby="KeyNumberHelp" placeholder="" disabled="disabled" value="{{.KeyNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyDirection">KeyDirection</label>
                <input type="text" class="form-control" id="KeyDirection" aria-describedby="KeyDirectionHelp" placeholder="" disabled="disabled" value="{{.KeyDirection}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="KeyType">KeyType</label>
                <input type="text" class="form-control" id="KeyType" aria-describedby="KeyTypeHelp" placeholder="" disabled="disabled" value="{{.KeyType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullName">FullName</label>
                <input type="text" class="form-control" id="FullName" aria-describedby="FullNameHelp" placeholder="" disabled="disabled" value="{{.FullName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Address">Address</label>
                <input type="text" class="form-control" id="Address" aria-describedby="AddressHelp" placeholder="" disabled="disabled" value="{{.Address}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PhoneNo">PhoneNo</label>
                <input type="text" class="form-control" id="PhoneNo" aria-describedby="PhoneNoHelp" placeholder="" disabled="disabled" value="{{.PhoneNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country">Country</label>
                <input type="text" class="form-control" id="Country" aria-describedby="CountryHelp" placeholder="" disabled="disabled" value="{{.Country}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Bic">Bic</label>
                <input type="text" class="form-control" id="Bic" aria-describedby="BicHelp" placeholder="" disabled="disabled" value="{{.Bic}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Iban">Iban</label>
                <input type="text" class="form-control" id="Iban" aria-describedby="IbanHelp" placeholder="" disabled="disabled" value="{{.Iban}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountNo">AccountNo</label>
                <input type="text" class="form-control" id="AccountNo" aria-describedby="AccountNoHelp" placeholder="" disabled="disabled" value="{{.AccountNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FedWireNo">FedWireNo</label>
                <input type="text" class="form-control" id="FedWireNo" aria-describedby="FedWireNoHelp" placeholder="" disabled="disabled" value="{{.FedWireNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SortCode">SortCode</label>
                <input type="text" class="form-control" id="SortCode" aria-describedby="SortCodeHelp" placeholder="" disabled="disabled" value="{{.SortCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankName">BankName</label>
                <input type="text" class="form-control" id="BankName" aria-describedby="BankNameHelp" placeholder="" disabled="disabled" value="{{.BankName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankPinCode">BankPinCode</label>
                <input type="text" class="form-control" id="BankPinCode" aria-describedby="BankPinCodeHelp" placeholder="" disabled="disabled" value="{{.BankPinCode}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankAddress">BankAddress</label>
                <input type="text" class="form-control" id="BankAddress" aria-describedby="BankAddressHelp" placeholder="" disabled="disabled" value="{{.BankAddress}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Reason">Reason</label>
                <input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="" disabled="disabled" value="{{.Reason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BankSettlementAcct">BankSettlementAcct</label>
                <input type="text" class="form-control" id="BankSettlementAcct" aria-describedby="BankSettlementAcctHelp" placeholder="True" disabled="disabled" value="{{.BankSettlementAcct}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Country_Lookup">Country_Lookup</label>
                <input type="text" class="form-control" id="Country_Lookup" aria-describedby="Country_LookupHelp" placeholder="" disabled="disabled" value="{{.Country_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm_Lookup">Firm_Lookup</label>
                <input type="text" class="form-control" id="Firm_Lookup" aria-describedby="Firm_LookupHelp" placeholder="" disabled="disabled" value="{{.Firm_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre_Lookup">Centre_Lookup</label>
                <input type="text" class="form-control" id="Centre_Lookup" aria-describedby="Centre_LookupHelp" placeholder="" disabled="disabled" value="{{.Centre_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Currency_Lookup">Currency_Lookup</label>
                <input type="text" class="form-control" id="Currency_Lookup" aria-describedby="Currency_LookupHelp" placeholder="" disabled="disabled" value="{{.Currency_Lookup}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Status_Extra">Status_Extra</label>
                <input type="text" class="form-control" id="Status_Extra" aria-describedby="Status_ExtraHelp" placeholder="" disabled="disabled" value="{{.Status_Extra}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Reason">Reason</label>
                <input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="" disabled="disabled" value="{{.Reason}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
