{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/PortfolioEdit?Code={{.Code}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Code}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/PortfolioEdit/?Code={{.Code}}" onclick="/PortfolioEdit/?Code={{.Code}}" title="Edit Bank Porfolio"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Bank Porfolio"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" aria-describedby="CodeHelp" placeholder="" disabled="disabled" value="{{.Code}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Description1">Description1</label>
                <input type="text" class="form-control" id="Description1" aria-describedby="Description1Help" placeholder="" disabled="disabled" value="{{.Description1}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Description2">Description2</label>
                <input type="text" class="form-control" id="Description2" aria-describedby="Description2Help" placeholder="" disabled="disabled" value="{{.Description2}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="IsDefault">IsDefault</label>
                <input type="text" class="form-control" id="IsDefault" aria-describedby="IsDefaultHelp" placeholder="True" disabled="disabled" value="{{.IsDefault}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalId">InternalId</label>
                <input type="text" class="form-control" id="InternalId" aria-describedby="InternalIdHelp" placeholder="0" disabled="disabled" value="{{.InternalId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="InternalDeleted">InternalDeleted</label>
                <input type="text" class="form-control" id="InternalDeleted" aria-describedby="InternalDeletedHelp" placeholder="" disabled="disabled" value="{{.InternalDeleted}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedTransactionId">UpdatedTransactionId</label>
                <input type="text" class="form-control" id="UpdatedTransactionId" aria-describedby="UpdatedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedUserId">UpdatedUserId</label>
                <input type="text" class="form-control" id="UpdatedUserId" aria-describedby="UpdatedUserIdHelp" placeholder="" disabled="disabled" value="{{.UpdatedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UpdatedDateTime">UpdatedDateTime</label>
                <input type="text" class="form-control" id="UpdatedDateTime" aria-describedby="UpdatedDateTimeHelp" placeholder="" disabled="disabled" value="{{.UpdatedDateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedTransactionId">DeletedTransactionId</label>
                <input type="text" class="form-control" id="DeletedTransactionId" aria-describedby="DeletedTransactionIdHelp" placeholder="" disabled="disabled" value="{{.DeletedTransactionId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DeletedUserId">DeletedUserId</label>
                <input type="text" class="form-control" id="DeletedUserId" aria-describedby="DeletedUserIdHelp" placeholder="" disabled="disabled" value="{{.DeletedUserId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ChangeType">ChangeType</label>
                <input type="text" class="form-control" id="ChangeType" aria-describedby="ChangeTypeHelp" placeholder="" disabled="disabled" value="{{.ChangeType}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
