{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/SymbolMetricsSave?Symbol={{.Symbol}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Symbol}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/SymbolMetricsSave/Symbol={{.Symbol}}" onclick="/SymbolMetricsSave/Symbol={{.Symbol}}" title="Save SymbolMetrics"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print SymbolMetrics"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId" hidden>SYSId</label>
                <input type="text" class="form-control" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="{{.SYSId}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Symbol" >Symbol</label>
                <input type="text" class="form-control" id="Symbol" name="Symbol" aria-describedby="SymbolHelp" placeholder=""  value="{{.Symbol}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Price" >Price</label>
                <input type="text" class="form-control" id="Price" name="Price" aria-describedby="PriceHelp" placeholder=""  value="{{.Price}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="URI" >URI</label>
                <input type="text" class="form-control" id="URI" name="URI" aria-describedby="URIHelp" placeholder=""  value="{{.URI}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated" hidden>SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy" hidden>SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost" hidden>SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated" hidden>SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Bid" >Bid</label>
                <input type="text" class="form-control" id="Bid" name="Bid" aria-describedby="BidHelp" placeholder=""  value="{{.Bid}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Offer" >Offer</label>
                <input type="text" class="form-control" id="Offer" name="Offer" aria-describedby="OfferHelp" placeholder=""  value="{{.Offer}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RawPrice" >RawPrice</label>
                <input type="text" class="form-control" id="RawPrice" name="RawPrice" aria-describedby="RawPriceHelp" placeholder=""  value="{{.RawPrice}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RawBid" >RawBid</label>
                <input type="text" class="form-control" id="RawBid" name="RawBid" aria-describedby="RawBidHelp" placeholder=""  value="{{.RawBid}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RawOffer" >RawOffer</label>
                <input type="text" class="form-control" id="RawOffer" name="RawOffer" aria-describedby="RawOfferHelp" placeholder=""  value="{{.RawOffer}}" >
              </div>
            </div>


</div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
