{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/SymbolEdit?Code={{.Code}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.Code}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-warning"><i class="fas fa-pen"  method="POST" formaction="/SymbolEdit/?Code={{.Code}}" onclick="/SymbolEdit/?Code={{.Code}}" title="Edit Symbol"></i>&nbsp;&nbsp;Edit</button>
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Symbol"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId">SYSId</label>
                <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled="disabled" value="{{.SYSId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" aria-describedby="CodeHelp" placeholder="" disabled="disabled" value="{{.Code}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled="disabled" value="{{.Name}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Type">Type</label>
                <input type="text" class="form-control" id="Type" aria-describedby="TypeHelp" placeholder="" disabled="disabled" value="{{.Type}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated">SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled="disabled" value="{{.SYSCreated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy">SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost">SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSCreatedHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated">SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled="disabled" value="{{.SYSUpdated}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy">SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost">SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled="disabled" value="{{.SYSUpdatedHost}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Identifier">Identifier</label>
                <input type="text" class="form-control" id="Identifier" aria-describedby="IdentifierHelp" placeholder="" disabled="disabled" value="{{.Identifier}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DataSource">DataSource</label>
                <input type="text" class="form-control" id="DataSource" aria-describedby="DataSourceHelp" placeholder="" disabled="disabled" value="{{.DataSource}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="StaticValue">StaticValue</label>
                <input type="text" class="form-control" id="StaticValue" aria-describedby="StaticValueHelp" placeholder="" disabled="disabled" value="{{.StaticValue}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Factor">Factor</label>
                <input type="text" class="form-control" id="Factor" aria-describedby="FactorHelp" placeholder="" disabled="disabled" value="{{.Factor}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DPS">DPS</label>
                <input type="text" class="form-control" id="DPS" aria-describedby="DPSHelp" placeholder="" disabled="disabled" value="{{.DPS}}">
              </div>
            </div>
        </div>
{{template "audit" .}}
      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
