{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/TemplateSave?TemplateID={{.ID}}" method="GET" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.ID}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger"><i class="fas fa-save"  method="GET" formaction="/TemplateSave&TemplateID={{.ID}}" onclick="/TemplateSave/?TemplateID={{.ID}}" title="Save Template Contents"></i>&nbsp;&nbsp;Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Template Contents"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SYSId" hidden>SYSId</label>
                <input type="text" class="form-control" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="{{.SYSId}}" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FIELD1" >FIELD1</label>
                <input type="text" class="form-control" id="FIELD1" name="FIELD1" aria-describedby="FIELD1Help" placeholder=""  value="{{.FIELD1}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FIELD2" >FIELD2</label>
                <input type="text" class="form-control" id="FIELD2" name="FIELD2" aria-describedby="FIELD2Help" placeholder=""  value="{{.FIELD2}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreated" hidden>SYSCreated</label>
                <input type="text" class="form-control" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedBy" hidden>SYSCreatedBy</label>
                <input type="text" class="form-control" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSCreatedHost" hidden>SYSCreatedHost</label>
                <input type="text" class="form-control" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdated" hidden>SYSUpdated</label>
                <input type="text" class="form-control" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
                <input type="text" class="form-control" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
                <input type="text" class="form-control" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ID" >ID</label>
                <input type="text" class="form-control" id="ID" name="ID" aria-describedby="IDHelp" placeholder=""  value="{{.ID}}" required>
              </div>
            </div>

             <div class="row">
              <div class="col-sm">
                <label for="ExtraField_Extra" disabled>ExtraField_Extra</label>
                
                <input type="text" class="form-control" id="ExtraField_Extra" name="ExtraField_Extra" aria-describedby="ExtraField_ExtraHelp" placeholder="" disabled value="{{.ExtraField_Extra}}" >
                
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="ExtraField2_Extra" disabled>ExtraField2_Extra</label>
                
                <input type="text" class="form-control" id="ExtraField2_Extra" name="ExtraField2_Extra" aria-describedby="ExtraField2_ExtraHelp" placeholder="" disabled value="{{.ExtraField2_Extra}}" >
                
              </div>
            </div>
             <div class="row">
              <div class="col-sm">
                <label for="FIELD2" disabled>FIELD2</label>
                
                <input type="text" class="form-control" id="FIELD2" name="FIELD2" aria-describedby="FIELD2Help" placeholder="" disabled value="{{.FIELD2}}" >
                
              </div>
            </div>
     
        </div>
      </div>
    </form>
  </div>
  {{template "footer" .}}
</body>
