{{template "header" .}}

<body>
<div class="container-fluid">
      <div class="card border-primary">
        <form action="/home" method="POST">

        <div class="card-header font-weight-bold border-primary">


          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;&nbsp;<span class="text-muted">[{{.ItemsOnPage}}]</span>
              
            </div>

            <div class="col text-right">
              <div class="btn-group">
              
              
              <button id="export" type="button" class="btn btn-info"><i class="fas fa-file-csv" title="Export Transaction as CSV"></i>&nbsp;&nbsp;Export</button>
              
              <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Transaction"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
              <button id="close" type="button" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body">
            <div class="">
              <table class="table table-striped table-bordered table-hover" id="Table_Transaction">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">SienaReference</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">ValueDate</th>
                    <th class="text-center">MaturityDate</th>
                    <th class="text-center">ContractNumber</th>
                    <th class="text-center">ExternalReference</th>
                    <th class="text-center">Book</th>
                    <th class="text-center">MandatedUser</th>
                    <th class="text-center">Portfolio</th>
                    <th class="text-center">AgreementId</th>
                    <th class="text-center">BackOfficeRefNo</th>
                    <th class="text-center">ISIN</th>
                    <th class="text-center">UTI</th>
                    <th class="text-center">BookName</th>
                    <th class="text-center">Centre</th>
                    <th class="text-center">Firm</th>
                    <th class="text-center">DealTypeShortName</th>
                    <th class="text-center">FullDealType</th>
                    <th class="text-center">TradeDate</th>
                    <th class="text-center">DealtCcy</th>
                    <th class="text-center">DealtAmount</th>
                    <th class="text-center">AgainstAmount</th>
                    <th class="text-center">AgainstCcy</th>
                    <th class="text-center">AllInRate</th>
                    <th class="text-center">MktRate</th>
                    <th class="text-center">SettleCcy</th>
                    <th class="text-center">Direction</th>
                    <th class="text-center">NpvRate</th>
                    <th class="text-center">OriginUser</th>
                    <th class="text-center">PayInstruction</th>
                    <th class="text-center">ReceiptInstruction</th>
                    <th class="text-center">NIName</th>
                    <th class="text-center">CCYPair</th>
                    <th class="text-center">Instrument</th>
                    <th class="text-center">PortfolioName</th>
                    <th class="text-center">RVDate</th>
                    <th class="text-center">RVMTM</th>
                    <th class="text-center">CounterBook</th>
                    <th class="text-center">CounterBookName</th>
                    <th class="text-center">Party</th>
                    <th class="text-center">PartyName</th>
                    <th class="text-center">NameCentre</th>
                    <th class="text-center">NameFirm</th>
                    <th class="text-center">CustomerExternalView</th>
                    <th class="text-center">CustomerSienaView</th>
                    <th class="text-center">CompID</th>
                    <th class="text-center">SienaDealer</th>
                    <th class="text-center">DealOwner</th>
                    <th class="text-center">DealOwnerMnemonic</th>
                    <th class="text-center">EditedByUser</th>
                    <th class="text-center">UTCOriginTime</th>
                    <th class="text-center">UTCUpdateTime</th>
                    <th class="text-center">MarginTrading</th>
                    <th class="text-center">SwapPoints</th>
                    <th class="text-center">SpotDate</th>
                    <th class="text-center">SpotRate</th>
                    <th class="text-center">MktSpotRate</th>
                    <th class="text-center">SpotSalesMargin</th>
                    <th class="text-center">SpotChlMargin</th>
                    <th class="text-center">RerouteCcy</th>
                    <th class="text-center">CustomerPayInstruction</th>
                    <th class="text-center">CustomerReceiptInstruction</th>
                    <th class="text-center">BackOfficeNotes</th>
                    <th class="text-center">CustomerStatementNotes</th>
                    <th class="text-center">NotesMargin</th>
                    <th class="text-center">RequestedBy</th>
                    <th class="text-center">EditReason</th>
                    <th class="text-center">EditOtherReason</th>
                    <th class="text-center">NICleanPrice</th>
                    <th class="text-center">NIDirtyPrice</th>
                    <th class="text-center">NIYield</th>
                    <th class="text-center">NIClearingSystem</th>
                    <th class="text-center">Acceptor</th>
                    <th class="text-center">NIDiscount</th>
                    <th class="text-center">FastPay</th>
                    <th class="text-center">PaymentFee</th>
                    <th class="text-center">PaymentFeePolicy</th>
                    <th class="text-center">PaymentReason</th>
                    <th class="text-center">PaymentDate</th>
                    <th class="text-center">SettlementDate</th>
                    <th class="text-center">FixingDate</th>
                    <th class="text-center">VenueUTI</th>
                    <th class="text-center">EditVersion</th>
                    <th class="text-center">BrokeragePercentage</th>
                    <th class="text-center">BrokerageAmount</th>
                    <th class="text-center">BrokerageCurrency</th>
                    <th class="text-center">BrokerageDate</th>
                    <th class="text-center">AccountName</th>
                    <th class="text-center">AccountNumber</th>
                    <th class="text-center">CashBalance</th>
                    <th class="text-center">DebitFrequency</th>
                    <th class="text-center">CreditFrequency</th>
                    <th class="text-center">ManuallyQuoted</th>
                    <th class="text-center">LedgerBalance</th>
                    <th class="text-center">SettAmtOutstanding</th>
                    <th class="text-center">FeePercentage</th>
                    <th class="text-center">FeeAmount</th>
                    <th class="text-center">Venue</th>
                    <th class="text-center">EURAmount</th>
                    <th class="text-center">EUROtherAmount</th>
                    <th class="text-center">LEI</th>
                    <th class="text-center">Equity</th>
                    <th class="text-center">Shares</th>
                    <th class="text-center">QuoteExpiryDate</th>
                    <th class="text-center">Commodity</th>
                    <th class="text-center">PaymentSystemSienaView</th>
                    <th class="text-center">PaymentSystemExternalView</th>
                    <th class="text-center">SalesProfit</th>
                    <th class="text-center">RejectReason</th>
                    <th class="text-center">PaymentError</th>
                    <th class="text-center">RepoPrincipal</th>
                    <th class="text-center">FixingFrequency</th>
                    
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody id=filterTable>
                  {{range .ItemList}}
                  <tr>
                    <td class="text-center align-middle"></td>
                    <td class="align-middle">{{.SienaReference}}</td>
        
                    <td class="align-middle">{{.Status}}</td>
        
                    <td class="align-middle">{{.ValueDate}}</td>
        
                    <td class="align-middle">{{.MaturityDate}}</td>
        
                    <td class="align-middle">{{.ContractNumber}}</td>
        
                    <td class="align-middle">{{.ExternalReference}}</td>
        
                    <td class="align-middle">{{.Book}}</td>
        
                    <td class="align-middle">{{.MandatedUser}}</td>
        
                    <td class="align-middle">{{.Portfolio}}</td>
        
                    <td class="align-middle">{{.AgreementId}}</td>
        
                    <td class="align-middle">{{.BackOfficeRefNo}}</td>
        
                    <td class="align-middle">{{.ISIN}}</td>
        
                    <td class="align-middle">{{.UTI}}</td>
        
                    <td class="align-middle">{{.BookName}}</td>
        
                    <td class="align-middle">{{.Centre}}</td>
        
                    <td class="align-middle">{{.Firm}}</td>
        
                    <td class="align-middle">{{.DealTypeShortName}}</td>
        
                    <td class="align-middle">{{.FullDealType}}</td>
        
                    <td class="align-middle">{{.TradeDate}}</td>
        
                    <td class="align-middle">{{.DealtCcy}}</td>
        
                    <td class="align-middle">{{.DealtAmount}}</td>
        
                    <td class="align-middle">{{.AgainstAmount}}</td>
        
                    <td class="align-middle">{{.AgainstCcy}}</td>
        
                    <td class="align-middle">{{.AllInRate}}</td>
        
                    <td class="align-middle">{{.MktRate}}</td>
        
                    <td class="align-middle">{{.SettleCcy}}</td>
        
                    <td class="align-middle">{{.Direction}}</td>
        
                    <td class="align-middle">{{.NpvRate}}</td>
        
                    <td class="align-middle">{{.OriginUser}}</td>
        
                    <td class="align-middle">{{.PayInstruction}}</td>
        
                    <td class="align-middle">{{.ReceiptInstruction}}</td>
        
                    <td class="align-middle">{{.NIName}}</td>
        
                    <td class="align-middle">{{.CCYPair}}</td>
        
                    <td class="align-middle">{{.Instrument}}</td>
        
                    <td class="align-middle">{{.PortfolioName}}</td>
        
                    <td class="align-middle">{{.RVDate}}</td>
        
                    <td class="align-middle">{{.RVMTM}}</td>
        
                    <td class="align-middle">{{.CounterBook}}</td>
        
                    <td class="align-middle">{{.CounterBookName}}</td>
        
                    <td class="align-middle">{{.Party}}</td>
        
                    <td class="align-middle">{{.PartyName}}</td>
        
                    <td class="align-middle">{{.NameCentre}}</td>
        
                    <td class="align-middle">{{.NameFirm}}</td>
        
                    <td class="align-middle">{{.CustomerExternalView}}</td>
        
                    <td class="align-middle">{{.CustomerSienaView}}</td>
        
                    <td class="align-middle">{{.CompID}}</td>
        
                    <td class="align-middle">{{.SienaDealer}}</td>
        
                    <td class="align-middle">{{.DealOwner}}</td>
        
                    <td class="align-middle">{{.DealOwnerMnemonic}}</td>
        
                    <td class="align-middle">{{.EditedByUser}}</td>
        
                    <td class="align-middle">{{.UTCOriginTime}}</td>
        
                    <td class="align-middle">{{.UTCUpdateTime}}</td>
        
                    <td class="align-middle">{{.MarginTrading}}</td>
        
                    <td class="align-middle">{{.SwapPoints}}</td>
        
                    <td class="align-middle">{{.SpotDate}}</td>
        
                    <td class="align-middle">{{.SpotRate}}</td>
        
                    <td class="align-middle">{{.MktSpotRate}}</td>
        
                    <td class="align-middle">{{.SpotSalesMargin}}</td>
        
                    <td class="align-middle">{{.SpotChlMargin}}</td>
        
                    <td class="align-middle">{{.RerouteCcy}}</td>
        
                    <td class="align-middle">{{.CustomerPayInstruction}}</td>
        
                    <td class="align-middle">{{.CustomerReceiptInstruction}}</td>
        
                    <td class="align-middle">{{.BackOfficeNotes}}</td>
        
                    <td class="align-middle">{{.CustomerStatementNotes}}</td>
        
                    <td class="align-middle">{{.NotesMargin}}</td>
        
                    <td class="align-middle">{{.RequestedBy}}</td>
        
                    <td class="align-middle">{{.EditReason}}</td>
        
                    <td class="align-middle">{{.EditOtherReason}}</td>
        
                    <td class="align-middle">{{.NICleanPrice}}</td>
        
                    <td class="align-middle">{{.NIDirtyPrice}}</td>
        
                    <td class="align-middle">{{.NIYield}}</td>
        
                    <td class="align-middle">{{.NIClearingSystem}}</td>
        
                    <td class="align-middle">{{.Acceptor}}</td>
        
                    <td class="align-middle">{{.NIDiscount}}</td>
        
                    <td class="align-middle">{{.FastPay}}</td>
        
                    <td class="align-middle">{{.PaymentFee}}</td>
        
                    <td class="align-middle">{{.PaymentFeePolicy}}</td>
        
                    <td class="align-middle">{{.PaymentReason}}</td>
        
                    <td class="align-middle">{{.PaymentDate}}</td>
        
                    <td class="align-middle">{{.SettlementDate}}</td>
        
                    <td class="align-middle">{{.FixingDate}}</td>
        
                    <td class="align-middle">{{.VenueUTI}}</td>
        
                    <td class="align-middle">{{.EditVersion}}</td>
        
                    <td class="align-middle">{{.BrokeragePercentage}}</td>
        
                    <td class="align-middle">{{.BrokerageAmount}}</td>
        
                    <td class="align-middle">{{.BrokerageCurrency}}</td>
        
                    <td class="align-middle">{{.BrokerageDate}}</td>
        
                    <td class="align-middle">{{.AccountName}}</td>
        
                    <td class="align-middle">{{.AccountNumber}}</td>
        
                    <td class="align-middle">{{.CashBalance}}</td>
        
                    <td class="align-middle">{{.DebitFrequency}}</td>
        
                    <td class="align-middle">{{.CreditFrequency}}</td>
        
                    <td class="align-middle">{{.ManuallyQuoted}}</td>
        
                    <td class="align-middle">{{.LedgerBalance}}</td>
        
                    <td class="align-middle">{{.SettAmtOutstanding}}</td>
        
                    <td class="align-middle">{{.FeePercentage}}</td>
        
                    <td class="align-middle">{{.FeeAmount}}</td>
        
                    <td class="align-middle">{{.Venue}}</td>
        
                    <td class="align-middle">{{.EURAmount}}</td>
        
                    <td class="align-middle">{{.EUROtherAmount}}</td>
        
                    <td class="align-middle">{{.LEI}}</td>
        
                    <td class="align-middle">{{.Equity}}</td>
        
                    <td class="align-middle">{{.Shares}}</td>
        
                    <td class="align-middle">{{.QuoteExpiryDate}}</td>
        
                    <td class="align-middle">{{.Commodity}}</td>
        
                    <td class="align-middle">{{.PaymentSystemSienaView}}</td>
        
                    <td class="align-middle">{{.PaymentSystemExternalView}}</td>
        
                    <td class="align-middle">{{.SalesProfit}}</td>
        
                    <td class="align-middle">{{.RejectReason}}</td>
        
                    <td class="align-middle">{{.PaymentError}}</td>
        
                    <td class="align-middle">{{.RepoPrincipal}}</td>
        
                    <td class="align-middle">{{.FixingFrequency}}</td>
        
                    
                    <td class="text-center" style="width:1px;">
                      <div class="btn-group">
                      
                        <button type="submit" value="" class="btn btn-info btn-sm" formaction="/TransactionView?Ref={{.SienaReference}}" method="POST" title="View Transaction">
                          <i class="far fa-eye" style="font-size: 22px"></i>
                        </button>
                      
                      
                        
                      </div>

                    </td>
                  </tr>
                  {{end}}
                </tbody>
              </table>

            </div>

        </div>
          </form>
      </div>
</div>

  <!-- SCRIPTS DO NOT CHANGE -->

  <script>
    $(document).ready(function() {
      $("#myFilter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#filterTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>


  <script>
$(document).ready(function(){
    $('#Table_Transaction').dataTable({
      "lengthMenu": [[10,14, 25, 50, 100, 200, -1], [10,14, 25, 50, 100, 200, "All"]],
      "drawCallback": function( settings ) {$("#Table_Transaction").wrap( "<div class='table-responsive'></div>" );},
      stateSave: true,
    } );
});
</script>




  <script>
    const toCsv = function(table) {
      // Query all rows
      const rows = table.querySelectorAll('tr');

      return [].slice.call(rows)
        .map(function(row) {
          // Query all cells
          const cells = row.querySelectorAll('th,td');
          return [].slice.call(cells)
            .map(function(cell) {
              return '"' + cell.textContent + '"';
            })
            .join(',');
        })
        .join('\n');
    };

    const download = function(text, fileName) {
      const link = document.createElement('a');
      link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
      link.setAttribute('download', fileName);

      link.style.display = 'none';
      document.body.appendChild(link);

      link.click();

      document.body.removeChild(link);
    };

    const table = document.getElementById('Table_Transaction');
    const exportBtn = document.getElementById('export');

    exportBtn.addEventListener('click', function() {
      // Export to csv
      const csv = toCsv(table);

      // Download it
      download(csv, 'Transaction.csv');
    });
    </script>


  <!-- SCRIPTS DO NOT CHANGE -->
{{template "footer" .}}
</body>
