{{template "header" .}}
<body>
  <div class="container-fluid">
    <form action="/TransactionEdit?Ref={{.SienaReference}}" method="POST" class="form">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col">
              {{.Title}}&nbsp;:&nbsp;<code>{{.SienaReference}}</code>
            </div>
            <div class="col">
              <div class="btn-group float-right">
                
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Transaction"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                <button type="button" value="" class="btn btn-outline-secondary" onclick="history.back()" title="Back"><i class="fas fa-times" ></i>&nbsp;&nbsp;Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label for="SienaReference">SienaReference</label>
                <input type="text" class="form-control" id="SienaReference" aria-describedby="SienaReferenceHelp" placeholder="" disabled="disabled" value="{{.SienaReference}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" aria-describedby="StatusHelp" placeholder="" disabled="disabled" value="{{.Status}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ValueDate">ValueDate</label>
                <input type="text" class="form-control" id="ValueDate" aria-describedby="ValueDateHelp" placeholder="" disabled="disabled" value="{{.ValueDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MaturityDate">MaturityDate</label>
                <input type="text" class="form-control" id="MaturityDate" aria-describedby="MaturityDateHelp" placeholder="" disabled="disabled" value="{{.MaturityDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ContractNumber">ContractNumber</label>
                <input type="text" class="form-control" id="ContractNumber" aria-describedby="ContractNumberHelp" placeholder="" disabled="disabled" value="{{.ContractNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ExternalReference">ExternalReference</label>
                <input type="text" class="form-control" id="ExternalReference" aria-describedby="ExternalReferenceHelp" placeholder="" disabled="disabled" value="{{.ExternalReference}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Book">Book</label>
                <input type="text" class="form-control" id="Book" aria-describedby="BookHelp" placeholder="" disabled="disabled" value="{{.Book}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MandatedUser">MandatedUser</label>
                <input type="text" class="form-control" id="MandatedUser" aria-describedby="MandatedUserHelp" placeholder="" disabled="disabled" value="{{.MandatedUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Portfolio">Portfolio</label>
                <input type="text" class="form-control" id="Portfolio" aria-describedby="PortfolioHelp" placeholder="" disabled="disabled" value="{{.Portfolio}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AgreementId">AgreementId</label>
                <input type="text" class="form-control" id="AgreementId" aria-describedby="AgreementIdHelp" placeholder="0" disabled="disabled" value="{{.AgreementId}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeRefNo">BackOfficeRefNo</label>
                <input type="text" class="form-control" id="BackOfficeRefNo" aria-describedby="BackOfficeRefNoHelp" placeholder="" disabled="disabled" value="{{.BackOfficeRefNo}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ISIN">ISIN</label>
                <input type="text" class="form-control" id="ISIN" aria-describedby="ISINHelp" placeholder="" disabled="disabled" value="{{.ISIN}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTI">UTI</label>
                <input type="text" class="form-control" id="UTI" aria-describedby="UTIHelp" placeholder="" disabled="disabled" value="{{.UTI}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BookName">BookName</label>
                <input type="text" class="form-control" id="BookName" aria-describedby="BookNameHelp" placeholder="" disabled="disabled" value="{{.BookName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Centre">Centre</label>
                <input type="text" class="form-control" id="Centre" aria-describedby="CentreHelp" placeholder="" disabled="disabled" value="{{.Centre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Firm">Firm</label>
                <input type="text" class="form-control" id="Firm" aria-describedby="FirmHelp" placeholder="" disabled="disabled" value="{{.Firm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealTypeShortName">DealTypeShortName</label>
                <input type="text" class="form-control" id="DealTypeShortName" aria-describedby="DealTypeShortNameHelp" placeholder="" disabled="disabled" value="{{.DealTypeShortName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FullDealType">FullDealType</label>
                <input type="text" class="form-control" id="FullDealType" aria-describedby="FullDealTypeHelp" placeholder="" disabled="disabled" value="{{.FullDealType}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="TradeDate">TradeDate</label>
                <input type="text" class="form-control" id="TradeDate" aria-describedby="TradeDateHelp" placeholder="" disabled="disabled" value="{{.TradeDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealtCcy">DealtCcy</label>
                <input type="text" class="form-control" id="DealtCcy" aria-describedby="DealtCcyHelp" placeholder="" disabled="disabled" value="{{.DealtCcy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealtAmount">DealtAmount</label>
                <input type="text" class="form-control" id="DealtAmount" aria-describedby="DealtAmountHelp" placeholder="0.00" disabled="disabled" value="{{.DealtAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AgainstAmount">AgainstAmount</label>
                <input type="text" class="form-control" id="AgainstAmount" aria-describedby="AgainstAmountHelp" placeholder="0.00" disabled="disabled" value="{{.AgainstAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AgainstCcy">AgainstCcy</label>
                <input type="text" class="form-control" id="AgainstCcy" aria-describedby="AgainstCcyHelp" placeholder="" disabled="disabled" value="{{.AgainstCcy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AllInRate">AllInRate</label>
                <input type="text" class="form-control" id="AllInRate" aria-describedby="AllInRateHelp" placeholder="0.00" disabled="disabled" value="{{.AllInRate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MktRate">MktRate</label>
                <input type="text" class="form-control" id="MktRate" aria-describedby="MktRateHelp" placeholder="0.00" disabled="disabled" value="{{.MktRate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettleCcy">SettleCcy</label>
                <input type="text" class="form-control" id="SettleCcy" aria-describedby="SettleCcyHelp" placeholder="" disabled="disabled" value="{{.SettleCcy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Direction">Direction</label>
                <input type="text" class="form-control" id="Direction" aria-describedby="DirectionHelp" placeholder="" disabled="disabled" value="{{.Direction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NpvRate">NpvRate</label>
                <input type="text" class="form-control" id="NpvRate" aria-describedby="NpvRateHelp" placeholder="0.00" disabled="disabled" value="{{.NpvRate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="OriginUser">OriginUser</label>
                <input type="text" class="form-control" id="OriginUser" aria-describedby="OriginUserHelp" placeholder="" disabled="disabled" value="{{.OriginUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PayInstruction">PayInstruction</label>
                <input type="text" class="form-control" id="PayInstruction" aria-describedby="PayInstructionHelp" placeholder="" disabled="disabled" value="{{.PayInstruction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ReceiptInstruction">ReceiptInstruction</label>
                <input type="text" class="form-control" id="ReceiptInstruction" aria-describedby="ReceiptInstructionHelp" placeholder="" disabled="disabled" value="{{.ReceiptInstruction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIName">NIName</label>
                <input type="text" class="form-control" id="NIName" aria-describedby="NINameHelp" placeholder="" disabled="disabled" value="{{.NIName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CCYPair">CCYPair</label>
                <input type="text" class="form-control" id="CCYPair" aria-describedby="CCYPairHelp" placeholder="" disabled="disabled" value="{{.CCYPair}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Instrument">Instrument</label>
                <input type="text" class="form-control" id="Instrument" aria-describedby="InstrumentHelp" placeholder="" disabled="disabled" value="{{.Instrument}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PortfolioName">PortfolioName</label>
                <input type="text" class="form-control" id="PortfolioName" aria-describedby="PortfolioNameHelp" placeholder="" disabled="disabled" value="{{.PortfolioName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RVDate">RVDate</label>
                <input type="text" class="form-control" id="RVDate" aria-describedby="RVDateHelp" placeholder="" disabled="disabled" value="{{.RVDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RVMTM">RVMTM</label>
                <input type="text" class="form-control" id="RVMTM" aria-describedby="RVMTMHelp" placeholder="0.00" disabled="disabled" value="{{.RVMTM}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CounterBook">CounterBook</label>
                <input type="text" class="form-control" id="CounterBook" aria-describedby="CounterBookHelp" placeholder="" disabled="disabled" value="{{.CounterBook}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CounterBookName">CounterBookName</label>
                <input type="text" class="form-control" id="CounterBookName" aria-describedby="CounterBookNameHelp" placeholder="" disabled="disabled" value="{{.CounterBookName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Party">Party</label>
                <input type="text" class="form-control" id="Party" aria-describedby="PartyHelp" placeholder="" disabled="disabled" value="{{.Party}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PartyName">PartyName</label>
                <input type="text" class="form-control" id="PartyName" aria-describedby="PartyNameHelp" placeholder="" disabled="disabled" value="{{.PartyName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameCentre">NameCentre</label>
                <input type="text" class="form-control" id="NameCentre" aria-describedby="NameCentreHelp" placeholder="" disabled="disabled" value="{{.NameCentre}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NameFirm">NameFirm</label>
                <input type="text" class="form-control" id="NameFirm" aria-describedby="NameFirmHelp" placeholder="" disabled="disabled" value="{{.NameFirm}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerExternalView">CustomerExternalView</label>
                <input type="text" class="form-control" id="CustomerExternalView" aria-describedby="CustomerExternalViewHelp" placeholder="" disabled="disabled" value="{{.CustomerExternalView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerSienaView">CustomerSienaView</label>
                <input type="text" class="form-control" id="CustomerSienaView" aria-describedby="CustomerSienaViewHelp" placeholder="" disabled="disabled" value="{{.CustomerSienaView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CompID">CompID</label>
                <input type="text" class="form-control" id="CompID" aria-describedby="CompIDHelp" placeholder="" disabled="disabled" value="{{.CompID}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SienaDealer">SienaDealer</label>
                <input type="text" class="form-control" id="SienaDealer" aria-describedby="SienaDealerHelp" placeholder="" disabled="disabled" value="{{.SienaDealer}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealOwner">DealOwner</label>
                <input type="text" class="form-control" id="DealOwner" aria-describedby="DealOwnerHelp" placeholder="" disabled="disabled" value="{{.DealOwner}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DealOwnerMnemonic">DealOwnerMnemonic</label>
                <input type="text" class="form-control" id="DealOwnerMnemonic" aria-describedby="DealOwnerMnemonicHelp" placeholder="" disabled="disabled" value="{{.DealOwnerMnemonic}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditedByUser">EditedByUser</label>
                <input type="text" class="form-control" id="EditedByUser" aria-describedby="EditedByUserHelp" placeholder="" disabled="disabled" value="{{.EditedByUser}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTCOriginTime">UTCOriginTime</label>
                <input type="text" class="form-control" id="UTCOriginTime" aria-describedby="UTCOriginTimeHelp" placeholder="" disabled="disabled" value="{{.UTCOriginTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="UTCUpdateTime">UTCUpdateTime</label>
                <input type="text" class="form-control" id="UTCUpdateTime" aria-describedby="UTCUpdateTimeHelp" placeholder="" disabled="disabled" value="{{.UTCUpdateTime}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MarginTrading">MarginTrading</label>
                <input type="text" class="form-control" id="MarginTrading" aria-describedby="MarginTradingHelp" placeholder="True" disabled="disabled" value="{{.MarginTrading}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SwapPoints">SwapPoints</label>
                <input type="text" class="form-control" id="SwapPoints" aria-describedby="SwapPointsHelp" placeholder="0.00" disabled="disabled" value="{{.SwapPoints}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotDate">SpotDate</label>
                <input type="text" class="form-control" id="SpotDate" aria-describedby="SpotDateHelp" placeholder="" disabled="disabled" value="{{.SpotDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotRate">SpotRate</label>
                <input type="text" class="form-control" id="SpotRate" aria-describedby="SpotRateHelp" placeholder="0.00" disabled="disabled" value="{{.SpotRate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="MktSpotRate">MktSpotRate</label>
                <input type="text" class="form-control" id="MktSpotRate" aria-describedby="MktSpotRateHelp" placeholder="0.00" disabled="disabled" value="{{.MktSpotRate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotSalesMargin">SpotSalesMargin</label>
                <input type="text" class="form-control" id="SpotSalesMargin" aria-describedby="SpotSalesMarginHelp" placeholder="0.00" disabled="disabled" value="{{.SpotSalesMargin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SpotChlMargin">SpotChlMargin</label>
                <input type="text" class="form-control" id="SpotChlMargin" aria-describedby="SpotChlMarginHelp" placeholder="0.00" disabled="disabled" value="{{.SpotChlMargin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RerouteCcy">RerouteCcy</label>
                <input type="text" class="form-control" id="RerouteCcy" aria-describedby="RerouteCcyHelp" placeholder="" disabled="disabled" value="{{.RerouteCcy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerPayInstruction">CustomerPayInstruction</label>
                <input type="text" class="form-control" id="CustomerPayInstruction" aria-describedby="CustomerPayInstructionHelp" placeholder="" disabled="disabled" value="{{.CustomerPayInstruction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerReceiptInstruction">CustomerReceiptInstruction</label>
                <input type="text" class="form-control" id="CustomerReceiptInstruction" aria-describedby="CustomerReceiptInstructionHelp" placeholder="" disabled="disabled" value="{{.CustomerReceiptInstruction}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BackOfficeNotes">BackOfficeNotes</label>
                <input type="text" class="form-control" id="BackOfficeNotes" aria-describedby="BackOfficeNotesHelp" placeholder="" disabled="disabled" value="{{.BackOfficeNotes}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CustomerStatementNotes">CustomerStatementNotes</label>
                <input type="text" class="form-control" id="CustomerStatementNotes" aria-describedby="CustomerStatementNotesHelp" placeholder="" disabled="disabled" value="{{.CustomerStatementNotes}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NotesMargin">NotesMargin</label>
                <input type="text" class="form-control" id="NotesMargin" aria-describedby="NotesMarginHelp" placeholder="0.00" disabled="disabled" value="{{.NotesMargin}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RequestedBy">RequestedBy</label>
                <input type="text" class="form-control" id="RequestedBy" aria-describedby="RequestedByHelp" placeholder="" disabled="disabled" value="{{.RequestedBy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditReason">EditReason</label>
                <input type="text" class="form-control" id="EditReason" aria-describedby="EditReasonHelp" placeholder="" disabled="disabled" value="{{.EditReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditOtherReason">EditOtherReason</label>
                <input type="text" class="form-control" id="EditOtherReason" aria-describedby="EditOtherReasonHelp" placeholder="" disabled="disabled" value="{{.EditOtherReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NICleanPrice">NICleanPrice</label>
                <input type="text" class="form-control" id="NICleanPrice" aria-describedby="NICleanPriceHelp" placeholder="0.00" disabled="disabled" value="{{.NICleanPrice}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIDirtyPrice">NIDirtyPrice</label>
                <input type="text" class="form-control" id="NIDirtyPrice" aria-describedby="NIDirtyPriceHelp" placeholder="0.00" disabled="disabled" value="{{.NIDirtyPrice}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIYield">NIYield</label>
                <input type="text" class="form-control" id="NIYield" aria-describedby="NIYieldHelp" placeholder="0.00" disabled="disabled" value="{{.NIYield}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIClearingSystem">NIClearingSystem</label>
                <input type="text" class="form-control" id="NIClearingSystem" aria-describedby="NIClearingSystemHelp" placeholder="" disabled="disabled" value="{{.NIClearingSystem}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Acceptor">Acceptor</label>
                <input type="text" class="form-control" id="Acceptor" aria-describedby="AcceptorHelp" placeholder="" disabled="disabled" value="{{.Acceptor}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="NIDiscount">NIDiscount</label>
                <input type="text" class="form-control" id="NIDiscount" aria-describedby="NIDiscountHelp" placeholder="0.00" disabled="disabled" value="{{.NIDiscount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FastPay">FastPay</label>
                <input type="text" class="form-control" id="FastPay" aria-describedby="FastPayHelp" placeholder="True" disabled="disabled" value="{{.FastPay}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentFee">PaymentFee</label>
                <input type="text" class="form-control" id="PaymentFee" aria-describedby="PaymentFeeHelp" placeholder="0.00" disabled="disabled" value="{{.PaymentFee}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentFeePolicy">PaymentFeePolicy</label>
                <input type="text" class="form-control" id="PaymentFeePolicy" aria-describedby="PaymentFeePolicyHelp" placeholder="" disabled="disabled" value="{{.PaymentFeePolicy}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentReason">PaymentReason</label>
                <input type="text" class="form-control" id="PaymentReason" aria-describedby="PaymentReasonHelp" placeholder="" disabled="disabled" value="{{.PaymentReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentDate">PaymentDate</label>
                <input type="text" class="form-control" id="PaymentDate" aria-describedby="PaymentDateHelp" placeholder="" disabled="disabled" value="{{.PaymentDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettlementDate">SettlementDate</label>
                <input type="text" class="form-control" id="SettlementDate" aria-describedby="SettlementDateHelp" placeholder="" disabled="disabled" value="{{.SettlementDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FixingDate">FixingDate</label>
                <input type="text" class="form-control" id="FixingDate" aria-describedby="FixingDateHelp" placeholder="" disabled="disabled" value="{{.FixingDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="VenueUTI">VenueUTI</label>
                <input type="text" class="form-control" id="VenueUTI" aria-describedby="VenueUTIHelp" placeholder="" disabled="disabled" value="{{.VenueUTI}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EditVersion">EditVersion</label>
                <input type="text" class="form-control" id="EditVersion" aria-describedby="EditVersionHelp" placeholder="0" disabled="disabled" value="{{.EditVersion}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BrokeragePercentage">BrokeragePercentage</label>
                <input type="text" class="form-control" id="BrokeragePercentage" aria-describedby="BrokeragePercentageHelp" placeholder="0.00" disabled="disabled" value="{{.BrokeragePercentage}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BrokerageAmount">BrokerageAmount</label>
                <input type="text" class="form-control" id="BrokerageAmount" aria-describedby="BrokerageAmountHelp" placeholder="0.00" disabled="disabled" value="{{.BrokerageAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BrokerageCurrency">BrokerageCurrency</label>
                <input type="text" class="form-control" id="BrokerageCurrency" aria-describedby="BrokerageCurrencyHelp" placeholder="" disabled="disabled" value="{{.BrokerageCurrency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="BrokerageDate">BrokerageDate</label>
                <input type="text" class="form-control" id="BrokerageDate" aria-describedby="BrokerageDateHelp" placeholder="" disabled="disabled" value="{{.BrokerageDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountName">AccountName</label>
                <input type="text" class="form-control" id="AccountName" aria-describedby="AccountNameHelp" placeholder="" disabled="disabled" value="{{.AccountName}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="AccountNumber">AccountNumber</label>
                <input type="text" class="form-control" id="AccountNumber" aria-describedby="AccountNumberHelp" placeholder="" disabled="disabled" value="{{.AccountNumber}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CashBalance">CashBalance</label>
                <input type="text" class="form-control" id="CashBalance" aria-describedby="CashBalanceHelp" placeholder="0.00" disabled="disabled" value="{{.CashBalance}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="DebitFrequency">DebitFrequency</label>
                <input type="text" class="form-control" id="DebitFrequency" aria-describedby="DebitFrequencyHelp" placeholder="" disabled="disabled" value="{{.DebitFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="CreditFrequency">CreditFrequency</label>
                <input type="text" class="form-control" id="CreditFrequency" aria-describedby="CreditFrequencyHelp" placeholder="" disabled="disabled" value="{{.CreditFrequency}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="ManuallyQuoted">ManuallyQuoted</label>
                <input type="text" class="form-control" id="ManuallyQuoted" aria-describedby="ManuallyQuotedHelp" placeholder="" disabled="disabled" value="{{.ManuallyQuoted}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LedgerBalance">LedgerBalance</label>
                <input type="text" class="form-control" id="LedgerBalance" aria-describedby="LedgerBalanceHelp" placeholder="0.00" disabled="disabled" value="{{.LedgerBalance}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SettAmtOutstanding">SettAmtOutstanding</label>
                <input type="text" class="form-control" id="SettAmtOutstanding" aria-describedby="SettAmtOutstandingHelp" placeholder="0.00" disabled="disabled" value="{{.SettAmtOutstanding}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FeePercentage">FeePercentage</label>
                <input type="text" class="form-control" id="FeePercentage" aria-describedby="FeePercentageHelp" placeholder="0.00" disabled="disabled" value="{{.FeePercentage}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FeeAmount">FeeAmount</label>
                <input type="text" class="form-control" id="FeeAmount" aria-describedby="FeeAmountHelp" placeholder="0.00" disabled="disabled" value="{{.FeeAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Venue">Venue</label>
                <input type="text" class="form-control" id="Venue" aria-describedby="VenueHelp" placeholder="" disabled="disabled" value="{{.Venue}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EURAmount">EURAmount</label>
                <input type="text" class="form-control" id="EURAmount" aria-describedby="EURAmountHelp" placeholder="0.00" disabled="disabled" value="{{.EURAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="EUROtherAmount">EUROtherAmount</label>
                <input type="text" class="form-control" id="EUROtherAmount" aria-describedby="EUROtherAmountHelp" placeholder="0.00" disabled="disabled" value="{{.EUROtherAmount}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="LEI">LEI</label>
                <input type="text" class="form-control" id="LEI" aria-describedby="LEIHelp" placeholder="" disabled="disabled" value="{{.LEI}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Equity">Equity</label>
                <input type="text" class="form-control" id="Equity" aria-describedby="EquityHelp" placeholder="" disabled="disabled" value="{{.Equity}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Shares">Shares</label>
                <input type="text" class="form-control" id="Shares" aria-describedby="SharesHelp" placeholder="0" disabled="disabled" value="{{.Shares}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="QuoteExpiryDate">QuoteExpiryDate</label>
                <input type="text" class="form-control" id="QuoteExpiryDate" aria-describedby="QuoteExpiryDateHelp" placeholder="" disabled="disabled" value="{{.QuoteExpiryDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="Commodity">Commodity</label>
                <input type="text" class="form-control" id="Commodity" aria-describedby="CommodityHelp" placeholder="" disabled="disabled" value="{{.Commodity}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentSystemSienaView">PaymentSystemSienaView</label>
                <input type="text" class="form-control" id="PaymentSystemSienaView" aria-describedby="PaymentSystemSienaViewHelp" placeholder="" disabled="disabled" value="{{.PaymentSystemSienaView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentSystemExternalView">PaymentSystemExternalView</label>
                <input type="text" class="form-control" id="PaymentSystemExternalView" aria-describedby="PaymentSystemExternalViewHelp" placeholder="" disabled="disabled" value="{{.PaymentSystemExternalView}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="SalesProfit">SalesProfit</label>
                <input type="text" class="form-control" id="SalesProfit" aria-describedby="SalesProfitHelp" placeholder="0.00" disabled="disabled" value="{{.SalesProfit}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RejectReason">RejectReason</label>
                <input type="text" class="form-control" id="RejectReason" aria-describedby="RejectReasonHelp" placeholder="" disabled="disabled" value="{{.RejectReason}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="PaymentError">PaymentError</label>
                <input type="text" class="form-control" id="PaymentError" aria-describedby="PaymentErrorHelp" placeholder="" disabled="disabled" value="{{.PaymentError}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="RepoPrincipal">RepoPrincipal</label>
                <input type="text" class="form-control" id="RepoPrincipal" aria-describedby="RepoPrincipalHelp" placeholder="0.00" disabled="disabled" value="{{.RepoPrincipal}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="FixingFrequency">FixingFrequency</label>
                <input type="text" class="form-control" id="FixingFrequency" aria-describedby="FixingFrequencyHelp" placeholder="" disabled="disabled" value="{{.FixingFrequency}}">
              </div>
            </div>
        </div>

      </div>
    </form>
  </div>
{{template "footer" .}}
</body>
